<template>
  <v-card flat>
    <v-img :src="value.img" :aspect-ratio="4/3" class="rounded-xl"/>
    <v-card-subtitle class="px-0 pb-0" v-text="value.category_title"/>
    <v-card-title class="px-0 text-body-1 py-1" v-text="value.title"/>
  </v-card>
</template>

<script>
export default {
  name: 'CardItem',
  props: {
    value: {
      type: Object,
      required: true
    }
  }
}
</script>
