<template>
  <v-list-item
    class="mb-5 mb-xl-10 px-0 rounded-xl overflow-hidden align-start"
    link
  >
    <v-img :aspect-ratio="16/9" :max-width="147" :src="value.img" class="rounded-xl mr-4 mr-xl-6" />
    <v-list-item-content class="align-self-start py-1 pr-1">
      <v-list-item-subtitle class="mb-05" v-text="value.category_title"></v-list-item-subtitle>
      <v-list-item-title class="text-wrap" v-text="value.title"></v-list-item-title>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  name: 'ListItem',
  props: {
    value: {
      type: Object,
      required: true
    }
  }
}
</script>
