<template>
  <v-list two-line nav>
    <template v-for="item in value">
      <postListItem :key="item.id" :value="item"/>
    </template>
  </v-list>
</template>

<script>
export default {
  name: 'List',
  props: {
    value: {
      type: Array,
      required: true
    }
  }
}
</script>
