<template>
  <ValidationProvider
    v-slot="{ errors }"
    :name="$attrs.label"
    :rules="rules"
    :vid="vid"
    slim
  >
    <v-select
      v-bind="$attrs"
      ref="select"
      v-model="innerValue"
      :error-messages="errors"
      :class="[{ required: required }, classField, 'cfr-select']"
      :background-color="backgroundColor"
      v-on="$listeners"
    >
      <template v-for="(_, slot) of $scopedSlots" #[slot]="scope">
        <slot :name="slot" v-bind="scope" />
      </template>
    </v-select>
    <!-- Вспомогательный элемент для резиновой ширины -->
    <div ref="placeholder" class="placeholder" v-text="$attrs.placeholder" />
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  name: 'cfr-select',
  components: {
    ValidationProvider,
  },
  props: {
    rules: {
      type: [Object, String],
      required: false,
      default: '',
    },
    vid: {
      type: String,
      required: false,
      default: '',
    },
    value: {
      type: null,
      default: null,
    },
    backgroundColorActive: {
      type: String,
      default: '',
    },
    classField: {
      type: [String, Object, Array],
      default: '',
    }
  },
  data: () => ({
    innerValue: null,
  }),
  computed: {
    required() {
      const typeRules = typeof this.rules
      let res = false
      if (typeRules === 'string') {
        res = this.rules.includes('required')
      } else if (typeRules === 'object') {
        res = this.rules.required
      }
      return res
    },
    backgroundColor() {
      const valueNotEmpty = this.$attrs.hasOwnProperty('multiple') ? this.innerValue.length > 0 : !!this.innerValue
      return this.backgroundColorActive && valueNotEmpty
        ? this.backgroundColorActive
        : this.$attrs['background-color']
    }
  },
  watch: {
    // Handles internal model changes.
    innerValue(newVal) {
      this.$emit('input', newVal)
    },
    // Handles external model changes.
    value(newVal) {
      this.innerValue = newVal
    },
  },
  created() {
    if (this.value) {
      this.innerValue = this.value
    }
  },
  mounted() {
    if(!this.$attrs.hasOwnProperty('block')) {
      this.$nextTick(() => {
        this.initSelect()
      })
    }
  },
  methods: {
    initSelect() {
      const placeholderWidth = this.$refs.placeholder.clientWidth + 'px'
      const selectSelections = this.$refs.select.$el.querySelector(
        '.v-select__selections'
      )
      selectSelections.style.minWidth = placeholderWidth

      const selectInput = selectSelections.querySelector('input')
      selectInput.style.width = placeholderWidth
    },
  },
}
</script>

<style lang="scss" scoped>
.cfr-select {
  &.v-input--is-label-active {
    ::v-deep .v-input__append-inner:nth-child(3) {
      display: none;
    }
  }

  ::v-deep {
    .v-input__slot {
      padding-right: 10px;
    }

    .v-select__selection {
      max-width: 100% !important;

      & ~ input {
        display: none;
      }
    }
  }

  &:not(.theme--dark) {
    &.v-text-field--filled {
      ::v-deep {
        input::placeholder {
          color: #000;
          //color: map-get($shades, 'black');
        }

        .v-icon {
          color: #000;
          //color: map-get($shades, 'black');
        }
      }
    }
  }
}

.placeholder {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  z-index: -999;
}
</style>
