<template>
  <div ref="canvasContainer" class="graph">
    <!-- заглушка, чтобы по двойному клику на холсте не выделялся текст на странице -->
    <div style="position: absolute; z-index: -999">&nbsp;</div>
    <canvas
      ref="canvas"
      :style="{ cursor: cursor }"
      style="display: block"
      @dblclick="dblClick"
      @mousedown="mousedown"
      @mousemove="mousemove"
      @mouseup="mouseup"
      @mouseout="draggable = false"
    >
      Обновите браузер
    </canvas>
    <v-dialog v-model="dialogEdit.active" width="400">
      <v-card>
        <v-card-title>Редактирование</v-card-title>
        <v-divider />
        <v-card-text>
          <div v-if="dialogEdit.type === 'node'">
            <div class="my-2">Блок</div>
            <v-select
              v-model="dialogEdit.shape"
              label="Форма"
              :items="shapes"
              item-value="id"
              item-text="label"
              filled
            />
            <v-row>
              <v-col>
                <v-text-field
                  v-model.number="dialogEdit.width"
                  :label="
                    (dialogEdit.shape === 'round' ? 'Радиус' : 'Ширина') +
                    ', px'
                  "
                  filled
                />
              </v-col>
              <v-col v-if="dialogEdit.shape !== 'round'">
                <v-text-field
                  v-model.number="dialogEdit.height"
                  label="Высота, px"
                  filled
                />
              </v-col>
            </v-row>
            <v-select
              v-model="dialogEdit.color"
              label="Цвет"
              :items="colors"
              item-value="color"
              item-text="label"
              filled
            >
              <template slot="selection" slot-scope="data">
                <div
                  style="width: 20px; height: 15px"
                  :style="{ background: data.item.color }"
                  class="mr-4 rounded-1"
                ></div>
                {{ data.item.label }}
              </template>
              <template slot="item" slot-scope="data">
                <div
                  style="width: 20px; height: 15px"
                  :style="{ background: data.item.color }"
                  class="mr-4 rounded-1"
                ></div>
                {{ data.item.label }}
              </template>
            </v-select>
            <v-divider />
          </div>

          <div v-if="dialogEdit.type === 'node'">
            <div class="my-2">Изображение</div>
            <v-file-input
              v-model="dialogEdit.file"
              accept="image/*"
              dense
              filled
            />
            <v-divider />
          </div>
          <div>
            <div class="my-2">Текст</div>
            <v-textarea
              v-model="dialogEdit.text"
              auto-grow
              rows="2"
              filled
              hide-details=""
            />
          </div>
        </v-card-text>
        <v-card-actions class="pt-0 pb-3 px-5 justify-center">
          <v-btn class="px-5" @click="contentEdited">Сохранить</v-btn>
          <v-btn class="px-5" @click="dialogEdit.active = false"
            >Отменить</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
/* Принимает список нод для отображения:
 ** nodes: [
 **  {
 **    id: Number, уникальный id для идентификации ноды
 **    x: Number, позиция ноды по горизонтали
 **    y: Number, позиция ноды по вертикали
 **    width: Number, ширина ноды
 **    height: Number, высота ноды
 **    color: String, цвет ноды
 **    shape: 'rect' | 'round', форма ноды прямоугольная/круглая
 **    text: {
 **      value: String, текст ноды (возможны разделители \n для переноса по строкам)
 **    },
 **    img: {
 **      src: '/static/graph/rosatom.png' | reader.readAsDataURL(), ссылка на изображение/иконку
 **    },
 **    links: [
 **      {
 **        id: Number, уникальный id nodы на которую имеется стрелка
 **        text: {
 **          value: String, текст на стрелке (возможны разделители \n для переноса по строкам)
 **        }
 **      }
 **    ],
 **  },
 ** ]
 */

export default {
  data() {
    return {
      canvasFill: '#fcfcfc',
      colors: [
        { label: 'Организации', color: '#5370c6' },
        { label: 'Лаборатории', color: '#91cc74' },
        { label: 'Сотрудники', color: '#fac858' },
        { label: 'Форумы', color: '#ed6666' },
        { label: 'Типы научных работ', color: '#72c0de' },
        { label: 'Научные работы', color: '#3ca272' },
      ],
      ctx: null,
      cursor: 'auto',
      id: 0,
      dialogEdit: { active: false, shape: 'round' },
      draggable: false,
      history: [],
      historyStep: -1,
      imgCache: [],
      linkActive: null,
      linkActiveWidth: 1,
      linkDrawing: false,
      linkMargin: 5,
      linkTextColor: '#ccc',
      linkWidth: 0.5,
      measureText: '',
      mouse: { x: 0, y: 0, delta: { x: 0, y: 0 } },
      nodeActive: null,
      nodeActiveStroke: '#f90',
      nodeColor: '#000',
      nodeFill: '#fff',
      nodeFont: '14px "Inter", sans-serif',
      nodePaddingX: 0,
      nodePaddingY: 0,
      nodeStroke: '#4c9aff',
      nodeText: 'Новый элемент',
      nodeHeight: 40,
      nodeWidth: 40,
      nodes: [
        {
          id: 2,
          x: 550,
          y: 10,
          height: 40,
          width: 40,
          shape: 'round',
          color: '#91cc74',
          links: [
            {
              id: 6,
            },
            {
              id: 7,
            },
            {
              id: 8,
              text: { value: 'Сотрудник' },
            },
          ],
          text: { value: 'Лаборатория\nКвантовых Технологий' },
        },
        {
          id: 1,
          x: 210,
          y: 200,
          height: 40,
          width: 40,
          shape: 'rect',
          links: [
            {
              id: 2,
              text: { value: 'Включает' },
            },
            {
              id: 5,
              text: { value: 'Сотрудник' },
            },
          ],
          text: { value: 'РКЦ' },
          img: { src: '/graph/rkc.png' },
        },
        {
          id: 10,
          x: 1100,
          y: 50,
          height: 40,
          width: 40,
          shape: 'round',
          color: '#91cc74',
          links: [
            {
              id: 11,
              text: { value: 'Сотрудник' },
            },
          ],
          text: { value: 'Лаборатория\nКвантовых Сенсоров' },
        },
        {
          id: 14,
          x: 600,
          y: 360,
          height: 40,
          width: 40,
          shape: 'rect',
          color: '#3ca272',
          links: [],
          text: { value: 'Криогенные поверхностные\nионные ловушки' },
          img: { src: '/graph/paper.png' },
        },
        {
          id: 11,
          x: 850,
          y: 300,
          height: 40,
          width: 60,
          shape: 'rect',
          color: '#fac858',
          links: [
            {
              id: 9,
              text: { value: 'Пишет' },
            },
            {
              id: 15,
              text: { value: 'Соавтор' },
            },
          ],
          text: { value: 'Анатолий\nКротов' },
          img: { src: '/graph/Krotov.jpg' },
        },
        {
          id: 5,
          x: 300,
          y: 400,
          height: 40,
          width: 40,
          shape: 'rect',
          color: '#fac858',
          links: [
            {
              id: 2,
              text: { value: 'Руководит' },
            },
            {
              id: 9,
              text: { value: 'Пишет' },
            },
            {
              id: 14,
              text: { value: 'Автор' },
            },
            {
              id: 15,
              text: { value: 'Автор' },
            },
          ],
          text: { value: 'Кирилл\nЛахманский' },
          img: { src: '/graph/Makarov.png' },
        },
        {
          id: 7,
          x: 800,
          y: 120,
          height: 20,
          width: 20,
          shape: 'round',
          color: '#ed6666',
          links: [],
          text: { value: 'Форум 2' },
        },
        {
          id: 8,
          x: 600,
          y: 170,
          height: 40,
          width: 60,
          shape: 'rect',
          color: '#fac858',
          links: [
            {
              id: 6,
              text: { value: 'Модератор' },
            },
            {
              id: 9,
              text: { value: 'Пишет' },
            },
            {
              id: 14,
              text: { value: 'Соавтор' },
            },
          ],
          text: { value: 'Иван \nПетров' },
          img: { src: '/graph/Ivanov.jpg' },
        },
        {
          id: 6,
          x: 800,
          y: 80,
          height: 20,
          width: 20,
          shape: 'round',
          color: '#ed6666',
          links: [],
          text: { value: 'Форум 1' },
        },
        {
          id: 9,
          x: 520,
          y: 320,
          height: 20,
          width: 20,
          shape: 'round',
          color: '#72c0de',
          links: [{ id: 14 }, { id: 15 }],
          text: { value: 'Статьи' },
        },
        {
          id: 15,
          x: 520,
          y: 430,
          height: 40,
          width: 40,
          shape: 'rect',
          color: '#3ca272',
          links: [],
          text: { value: 'Влияние кванта на мощность' },
          img: { src: '/graph/paper.png' },
        },
        {
          id: 13,
          x: 1000,
          y: 350,
          height: 40,
          width: 60,
          shape: 'rect',
          color: '#fac858',
          links: [
            {
              id: 10,
              text: { value: 'Руководит' },
            },
          ],
          text: { value: 'Сергей\nПанаитов' },
          img: { src: '/graph/Panaitov.jpg' },
        },
        {
          id: 12,
          x: 1300,
          y: 400,
          height: 40,
          width: 40,
          shape: 'rect',
          color: '#5370c6',
          links: [
            {
              id: 13,
              text: { value: 'Сотрудник' },
            },
            {
              id: 10,
              text: { value: 'Включает' },
            },
          ],
          text: { value: 'РЖД' },
          img: { src: '/graph/rzd.png' },
        },
      ],
      pointColor: '#4c9aff',
      pointRadius: 3,
      pointMargin: 5,
      scale: 1,
      shapes: [
        { id: 'rect', label: 'прямоугольная' },
        { id: 'round', label: 'круглая' },
      ],
      translate: { x: 0, y: 0 },
    }
  },

  created() {
    // this.nodes = []
    if (this.nodes.length)
      this.id = Math.max(...this.nodes.map((node) => node.id))
  },

  mounted() {
    window.addEventListener('keyup', this.keyController)
    window.addEventListener('resize', this.canvasResize)
    this.$refs.canvasContainer.addEventListener('wheel', this.canvasScale, {
      passive: false,
    })
    this.addHistory()
  },

  destroyed() {
    window.removeEventListener('keyup', this.keyController)
    window.removeEventListener('resize', this.canvasResize)
  },

  methods: {
    addHistory() {
      this.refreshCanvas()

      if (
        JSON.stringify(this.history[this.historyStep] ?? {}) ===
        JSON.stringify(this.nodes)
      )
        return
      this.history.length = this.historyStep + 1
      if (this.history.length > 20) this.history.shift()
      this.history.push(JSON.parse(JSON.stringify(this.nodes)))
      this.historyStep = this.history.length - 1
    },

    canvasResize() {
      if (this.$refs.canvas.width <= this.$refs.canvasContainer.clientWidth)
        this.$refs.canvas.width = this.$refs.canvasContainer.clientWidth
      this.refreshCanvas()
    },

    canvasScale($event) {
      $event.preventDefault()
      const scale = $event.deltaY > 0 ? -0.1 : 0.1
      this.scale *= scale + 1

      if (this.scale > 10) {
        this.scale = 10
        return
      }
      if (this.scale < 0.1) {
        this.scale = 0.1
        return
      }

      this.getMousePosition($event)
      this.translate.x -= this.mouse.x * this.scale * scale
      this.translate.y -= this.mouse.y * this.scale * scale

      this.refreshCanvas()
    },

    clearCanvas() {
      this.ctx.beginPath()
      this.ctx.clearRect(
        0,
        0,
        this.$refs.canvas.width,
        this.$refs.canvas.height
      )
    },

    contentEdited() {
      if (this.linkActive) {
        this.linkActive.text.value = this.dialogEdit.text.trim()
        this.setTextHeight(this.linkActive.text)
      } else {
        this.nodeActive.img = this.nodeActive.img ?? {}
        this.nodeActive.img.src = ''
        const file = this.dialogEdit.file
        if (file) {
          const reader = new FileReader()
          reader.readAsDataURL(file)
          reader.onload = () => {
            this.nodeActive.img.src = reader.result
            this.imgCache = this.imgCache.filter(
              (cachedNode) => cachedNode.id !== this.nodeActive.id
            )
            this.addHistory()
          }
        }
        this.nodeActive.width = this.dialogEdit.width
        this.nodeActive.height = this.dialogEdit.height
        this.nodeActive.shape = this.dialogEdit.shape
        this.nodeActive.color = this.dialogEdit.color
        this.nodeActive.text.value = this.dialogEdit.text.trim()
        this.setTextHeight(this.nodeActive.text)
        this.setNodeSize(this.nodeActive)
      }
      this.addHistory()
      this.dialogEdit.active = false
    },

    createLink({ from, to }) {
      if (this.validLink({ from, to })) {
        from.links.push({ id: to.id, text: { value: '' } })
      }
    },

    createNode(node) {
      this.nodes.push(node)
      this.addHistory(node)
    },

    dblClick() {
      if (this.nodeActive) {
        this.editContent()
      } else {
        this.createNode({
          id: ++this.id,
          x: this.mouse.x,
          y: this.mouse.y,
          height: this.nodeWidth,
          width: this.nodeHeight,
          links: [],
          text: { value: this.nodeText },
          shape: 'rect',
        })
      }
    },

    deleteLink() {
      this.nodeActive.links = this.nodeActive.links.filter(
        (link) => link.id !== this.linkActive.id
      )
      this.linkActive = null
      this.addHistory()
    },

    deleteNode() {
      this.nodes = this.nodes.filter((node) => node.id !== this.nodeActive.id)
      this.deleteNodeFromLinks(this.nodeActive.id)
      this.nodeActive = null
      this.addHistory()
    },

    deleteNodeFromLinks(id) {
      this.nodes.forEach(
        (node) => (node.links = node.links.filter((link) => link.id !== id))
      )
    },

    drawArrow({ x, y, type, color = this.nodeStroke }) {
      const start = { x: 0, y: 0 }
      const end = { x: 0, y: 0 }
      const arrowLength = 12
      const arrowWidth = 3
      if (type.horisontal) {
        start.x = end.x = x + arrowLength * (type.left ? 1 : -1)
        start.y = y - arrowWidth
        end.y = y + arrowWidth
      } else {
        start.y = end.y = y + arrowLength * (type.top ? 1 : -1)
        start.x = x - arrowWidth
        end.x = x + arrowWidth
      }

      this.ctx.beginPath()
      this.ctx.moveTo(start.x, start.y)
      this.ctx.fillStyle = color
      this.ctx.lineTo(x, y)
      this.ctx.lineTo(end.x, end.y)
      this.ctx.closePath()
      this.ctx.fill()
    },

    drawLink({ fromNode, link = null }) {
      const toNode = link
        ? this.nodes.find((node) => node.id === link.id)
        : {
            x: this.mouse.x,
            y: this.mouse.y,
            width: 0,
            height: 0,
          }

      let distanceX =
        fromNode.x + fromNode.width / 2 - (toNode.x + toNode.width / 2)
      let distanceY =
        fromNode.y + fromNode.height / 2 - (toNode.y + toNode.height / 2)

      const type = {
        left: distanceX >= 0,
        top: distanceY >= 0,
        horisontal: true,
      }

      distanceX = Math.abs(distanceX) - (fromNode.width + toNode.width) / 2
      distanceY = Math.abs(distanceY) - (fromNode.height + toNode.height) / 2

      type.horisontal = distanceX > distanceY

      const from = { x: 0, y: 0 }
      const to = { x: 0, y: 0 }

      from.x = type.left ? fromNode.x : fromNode.x + fromNode.width

      from.y = type.top ? fromNode.y : fromNode.y + fromNode.height

      if (type.horisontal) {
        to.x = type.left
          ? toNode.x + toNode.width + this.linkMargin
          : toNode.x - this.linkMargin

        if (toNode.shape === 'round') {
          const radius = Math.sqrt(toNode.width ** 2 + toNode.width ** 2) / 2
          to.x = type.left
            ? toNode.x + toNode.width / 2 + radius + this.linkMargin
            : toNode.x + toNode.width / 2 - radius - this.linkMargin
        }

        to.y = toNode.y + toNode.height / 2
      } else {
        to.x = toNode.x + toNode.width / 2
        to.y = type.top
          ? toNode.y + toNode.height + this.linkMargin
          : toNode.y - this.linkMargin

        if (toNode.shape === 'round') {
          const radius = Math.sqrt(toNode.height ** 2 + toNode.height ** 2) / 2
          to.y = type.top
            ? toNode.y + toNode.height / 2 + radius + this.linkMargin
            : toNode.y + toNode.height / 2 - radius - this.linkMargin
        }
      }

      const middle = {
        x: to.x,
        y: to.y,
      }

      if (type.horisontal) {
        middle.x += Math.max(50, distanceX / 2) * (type.left ? 1 : -1)
      } else {
        middle.y += Math.max(50, distanceY / 2) * (type.top ? 1 : -1)
      }

      if (link) {
        link.x = from.x
        link.y = from.y
        link.width = to.x - from.x
        link.height = to.y - from.y
        link.type = type
        link.text = link.text ?? {}
      }

      this.ctx.beginPath()
      this.ctx.bezierCurveTo(from.x, from.y, middle.x, middle.y, to.x, to.y)
      let color = fromNode.color ?? this.nodeStroke
      let lineWidth = this.linkWidth

      if (this.nodeActive?.id === fromNode.id) {
        color = this.nodeActiveStroke
        if (this.linkActive?.id === toNode.id) {
          lineWidth = this.linkActiveWidth
        }
      }

      this.ctx.lineWidth = lineWidth
      this.ctx.strokeStyle = color
      this.ctx.stroke()

      this.drawPoint({ x: from.x, y: from.y, color })
      this.drawArrow({
        x: to.x,
        y: to.y,
        type,
        color,
      })

      if (link?.text?.value) this.drawLinkText(link)
    },

    drawLinkText(link) {
      const angle = this.getTextAngle(link)
      const textNode = {
        x: link.x,
        y: link.y,
        height: link.height,
        width: link.width,
        text: link.text,
      }

      if (link.type.horisontal) {
        textNode.y = link.y + link.height * 0.3
        textNode.height = link.height * 0.7
      } else {
        textNode.x = link.x + link.width * 0.3
        textNode.width = link.width * 0.7
      }
      this.drawText({ node: textNode, angle })
    },

    drawNode(node) {
      if (!node.width) this.setNodeSize(node)
      this.ctx.beginPath()
      this.ctx.fillStyle = !node.img?.src
        ? node.color ?? this.nodeFill
        : 'transparent'
      this.ctx.strokeStyle = this.nodeStroke

      if (node.shape === 'round') {
        // const radius = Math.sqrt(node.width ** 2 + node.height ** 2) / 2
        this.ctx.arc(
          node.x + node.width / 2,
          node.y + node.height / 2,
          node.width / 2,
          0,
          2 * Math.PI
        )
      } else {
        this.ctx.rect(node.x, node.y, node.width, node.height)
      }
      this.ctx.fill()

      let color = node.color ?? this.nodeActiveStroke
      if (node.id === this.nodeActive?.id) {
        color = this.nodeActiveStroke
        this.ctx.strokeStyle = color
        this.ctx.stroke()
        const points = this.getLinkPoints()
        points.forEach((point) => this.drawPoint({ ...point, color }))
      }

      // если нода не в видимой части - содержимое не рисовать
      if (
        node.x * this.scale + this.translate.x >
          this.$refs.canvasContainer.clientWidth ||
        node.y * this.scale + this.translate.y >
          this.$refs.canvasContainer.clientHeight ||
        (node.x + node.width) * this.scale + this.translate.x < 0 ||
        (node.y + node.height) * this.scale + this.translate.y < 0
      )
        return

      this.drawImage(node)
      this.drawText({ node })
    },

    drawImage(node) {
      if (!node.img) return

      let img = new Image()

      const cachedNode = this.imgCache.find(
        (cachedNode) => cachedNode.id === node.id
      )

      // canvas.putImageData не умеет масштабировать, т.к. хранит рисунки в пикселях
      // если масштаб совпадает и рисунок в кэше - достаем его, иначе перерисовываем в масштабе и кэшируем
      if (cachedNode?.img?.data && cachedNode.scale === this.scale) {
        img = this.ctx.putImageData(
          cachedNode.img,
          node.x * this.scale + this.translate.x,
          node.y * this.scale + this.translate.y,
          0,
          0,
          this.scale * node.width,
          this.scale * node.height
        )
      } else {
        img.onload = () => {
          this.ctx.beginPath()

          this.ctx.drawImage(img, node.x, node.y, node.width, node.height)
          this.imgCache = this.imgCache.filter(
            (cachedNode) => cachedNode.id !== node.id
          )

          // если картинка не полностью в видимой части - не кэшировать,
          // а то закэшируется только обрезок картинки
          if (
            (node.x + node.width) * this.scale + this.translate.x >
              this.$refs.canvasContainer.clientWidth ||
            (node.y + node.height) * this.scale + this.translate.y >
              this.$refs.canvasContainer.clientHeight ||
            node.x * this.scale + this.translate.x < 0 ||
            node.y * this.scale + this.translate.y < 0
          )
            return

          this.imgCache.push({
            id: node.id,
            scale: this.scale,
            img: this.ctx.getImageData(
              node.x * this.scale + this.translate.x,
              node.y * this.scale + this.translate.y,
              node.width * this.scale,
              node.height * this.scale
            ),
          })
        }
        img.src = node.img.src
      }
    },

    drawText({ node, angle = 0 }) {
      if (!node.text?.value) return
      if (!node.text.height) this.setTextHeight(node.text)
      const textRows = node.text.value.split('\n')
      textRows.forEach((text, row) =>
        this.drawTextRow({
          node,
          text,
          rows: textRows.length,
          row: row + 0.5,
          angle,
        })
      )
    },

    drawTextRow({ node, text, rows, row, angle }) {
      let x = node.x + node.width / 2
      if ('links' in node) x = node.x + node.width + 10

      const y = node.y + node.height / 2 - node.text.height / 2

      this.ctx.beginPath()
      this.ctx.font = this.nodeFont
      this.ctx.textAlign = 'center'
      if ('links' in node) this.ctx.textAlign = 'left'
      this.ctx.textBaseline = 'middle'
      this.ctx.fillStyle = this.linkTextColor
      if ('links' in node) this.ctx.fillStyle = this.nodeColor
      this.ctx.save()
      this.ctx.translate(x, y)
      this.ctx.rotate(angle)
      this.ctx.translate(-x, -y)
      this.ctx.fillText(text, x, y + (node.text.height / rows) * row)
      this.ctx.restore()
    },

    drawPoint({ x, y, color = this.pointColor }) {
      this.ctx.beginPath()
      this.ctx.fillStyle = color
      this.ctx.arc(x, y, this.pointRadius, 0, 2 * Math.PI, false)
      this.ctx.fill()
    },

    editContent() {
      const type = this.linkActive ? 'link' : 'node'

      this.dialogEdit = {
        ...this.dialogEdit,
        type,
        active: true,
        text:
          type === 'node'
            ? this.nodeActive.text?.value
            : this.linkActive.text?.value,
      }
      if (type === 'node') {
        this.dialogEdit.shape = this.nodeActive.shape ?? 'rect'
        this.dialogEdit.color = this.nodeActive.color ?? this.colors[0].color
        this.dialogEdit.height = Math.round(this.nodeActive.height) ?? 100
        this.dialogEdit.width = Math.round(this.nodeActive.width) ?? 100
      }
    },

    getLinkPoints() {
      const top = this.nodeActive.y
      const left = this.nodeActive.x
      const right = this.nodeActive.x + this.nodeActive.width
      const bottom = this.nodeActive.y + this.nodeActive.height

      return [
        { x: left, y: top },
        { x: right, y: top },
        { x: right, y: bottom },
        { x: left, y: bottom },
      ]
    },

    getTextAngle(link) {
      let angle = Math.asin(link.height / link.width) * (180 / Math.PI)

      const A = { x: link.x + link.width, y: link.y + link.height }
      const B = { x: link.x, y: link.y + link.height }
      const C = { x: link.x + link.width, y: link.y }

      const AB = Math.sqrt(Math.pow(B.x - A.x, 2) + Math.pow(B.y - A.y, 2))
      const BC = Math.sqrt(Math.pow(B.x - C.x, 2) + Math.pow(B.y - C.y, 2))
      const AC = Math.sqrt(Math.pow(C.x - A.x, 2) + Math.pow(C.y - A.y, 2))
      angle = Math.acos((BC * BC + AB * AB - AC * AC) / (2 * BC * AB))

      if (link.x > link.x + link.width) angle = -angle
      if (link.y > link.y + link.height) angle = -angle
      return angle
    },

    getMousePosition($event) {
      const rect = this.$refs.canvas.getBoundingClientRect()
      this.mouse.x =
        ($event.clientX - rect.left - this.translate.x) / this.scale
      this.mouse.y = ($event.clientY - rect.top - this.translate.y) / this.scale
    },

    initCanvas() {
      this.$refs.canvas.width = Math.max(
        this.$refs.canvasContainer.clientWidth,
        this.$refs.canvasContainer.clientWidth * this.scale
      )
      this.$refs.canvas.height = Math.max(
        this.$refs.canvasContainer.clientHeight,
        this.$refs.canvasContainer.clientHeight * this.scale
      )

      this.ctx = this.$refs.canvas.getContext('2d')
      this.ctx.translate(this.translate.x, this.translate.y)
      this.ctx.scale(this.scale, this.scale)
      this.ctx.lineWidth = this.linkWidth
    },

    isLinkActive() {
      const linkActive = this.nodeActive.links
        .reverse()
        .find(
          (link) =>
            Math.min(link.x, link.x + link.width) - this.linkMargin <=
              this.mouse.x &&
            Math.max(link.x, link.x + link.width) + this.linkMargin >=
              this.mouse.x &&
            Math.min(link.y, link.y + link.height) - this.linkMargin <=
              this.mouse.y &&
            Math.max(link.y, link.y + link.height) + this.linkMargin >=
              this.mouse.y
        )
      this.nodeActive.links.reverse()
      return linkActive
    },

    isNodeActive() {
      const nodeActive = this.nodes
        .reverse()
        .find(
          (node) =>
            node.x - this.pointMargin <= this.mouse.x &&
            node.x + node.width + this.pointMargin >= this.mouse.x &&
            node.y - this.pointMargin <= this.mouse.y &&
            node.y + node.height + this.pointMargin >= this.mouse.y
        )
      this.nodes.reverse()
      return nodeActive
    },

    keyController($event) {
      if ($event.key === 'Delete') {
        if (!this.nodeActive) return
        if (this.linkActive) this.deleteLink()
        else this.deleteNode()
      }
      if ($event.ctrlKey && $event.key === 'z') {
        this.undo()
      }
      if ($event.ctrlKey && $event.key === 'y') {
        this.redo()
      }
    },

    mousemove($event) {
      if (!this.draggable) return
      this.getMousePosition($event)
      if (!this.linkDrawing) {
        this.nodeActive
          ? this.moveNode()
          : this.translateCanvas($event.movementX, $event.movementY)
      }
      this.refreshCanvas()
    },

    moveNode() {
      this.nodeActive.x = this.mouse.x - this.mouse.delta.x
      this.nodeActive.y = this.mouse.y - this.mouse.delta.y
    },

    mousedown($event) {
      this.getMousePosition($event)
      if (this.nodeActive) this.setLinkActive()
      if (this.linkActive) return
      this.draggable = true
      this.setNodeActive()
      this.cursor = this.nodeActive ? 'pointer' : 'all-scroll'
    },

    mouseup() {
      this.draggable = false
      this.cursor = 'auto'
      if (this.linkDrawing) {
        const from = this.nodeActive
        this.setNodeActive()
        this.linkDrawing = false
        this.createLink({ from, to: this.nodeActive })
        this.nodeActive = from
      }
      this.addHistory()
    },

    refreshCanvas() {
      this.initCanvas()
      this.clearCanvas()

      this.nodes.forEach((node) => {
        this.drawNode(node)
      })
      this.nodes.forEach((node) => {
        if (this.nodeActive?.id !== node.id)
          node.links.forEach((link) => {
            this.drawLink({ fromNode: node, link })
          })
      })

      if (this.nodeActive) {
        this.drawNode(this.nodeActive)
        this.nodeActive.links.forEach((link) => {
          this.drawLink({ fromNode: this.nodeActive, link })
        })
      }

      if (this.linkDrawing) {
        this.drawLink({ fromNode: this.nodeActive })
      }

      // console.log(this.nodes)
    },

    setLinkActive() {
      this.linkActive = this.isLinkActive()
    },

    setNodeActive() {
      this.nodeActive = this.isNodeActive()
      if (!this.nodeActive) return
      this.setNodeActiveToUp()
      this.mouse.delta.x = this.mouse.x - this.nodeActive.x
      this.mouse.delta.y = this.mouse.y - this.nodeActive.y
      this.setPointActive()
    },

    setNodeActiveToUp() {
      this.nodes = this.nodes.filter((node) => node.id !== this.nodeActive.id)
      this.nodes.push(this.nodeActive)
    },

    setTextHeight(text) {
      const rows = text?.value.split('\n') ?? []
      this.ctx.font = this.nodeFont

      // высота строки всегда примерно равна ширине буквы M
      text.height = this.ctx.measureText('M').width * rows.length
    },

    setNodeSize(node) {
      if (!node.text.height) this.setTextHeight(node.text)

      node.width = node.width ?? this.nodeWidth
      node.height = node.height ?? this.nodeHeight
      node.x = node.x - node.width / 2
      node.y = node.y - node.height / 2

      if (node.shape === 'round') {
        node.height = node.width
      }
    },

    setPointActive() {
      const points = this.getLinkPoints()
      const point = points.find(
        (point) =>
          point.x - this.pointRadius - this.pointMargin <= this.mouse.x &&
          point.x + this.pointRadius + this.pointMargin >= this.mouse.x &&
          point.y - this.pointRadius - this.pointMargin <= this.mouse.y &&
          point.y + this.pointRadius + this.pointMargin >= this.mouse.y
      )
      if (point) {
        this.linkDrawing = true
      }
    },

    translateCanvas(x, y) {
      this.translate.x += x
      this.translate.y += y
    },

    undo() {
      this.historyStep--
      if (this.historyStep < 0) {
        this.historyStep = 0
        return
      }
      this.nodes = JSON.parse(JSON.stringify(this.history[this.historyStep]))
      this.nodeActive = this.nodes[this.nodes.length - 1]
      this.linkActive = null
      this.refreshCanvas()
    },

    redo() {
      this.historyStep++
      if (this.historyStep > this.history.length - 1) {
        this.historyStep = this.history.length - 1
        return
      }
      this.nodes = JSON.parse(JSON.stringify(this.history[this.historyStep]))
      this.nodeActive = this.nodes[this.nodes.length - 1]
      this.linkActive = null
      this.refreshCanvas()
    },

    validLink({ from, to }) {
      if (!from) return false
      if (!to) return false
      if (from.id === to.id) return false
      if (from.links.find((link) => link.id === to.id)) return false
      return true
    },
  },
}
</script>

<style>
.graph {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: auto;
  background: #fcfcfc;
}
.v-textarea textarea {
  line-height: 1.25rem !important;
}
</style>
