<template>
  <v-navigation-drawer
    v-model="innerValue"
    :mini-variant="miniVariant && $vuetify.breakpoint.mdAndUp"
    fixed
    floating
    color="black"
    :mini-variant-width="64"
    class="overflow-visible"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <template v-if="$vuetify.breakpoint.mdAndUp" #prepend>
      <v-list dark class="cfr-list-nav pt-0 pb-05">
        <v-list-item
          class="justify-start py-1 px-5"
          @click.stop="miniVariant = !miniVariant"
        >
          <v-list-item-action>
            <v-icon v-text="'$burgerShort'" />
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="font-weight-medium" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </template>
    <MainMenu
      :menu="menu"
      :mini-variant="miniVariant && $vuetify.breakpoint.mdAndUp"
      class="cfr-list-nav custom"
    />
  </v-navigation-drawer>
</template>

<script>
import MainMenu from "./_parts/MainMenu";
export default {
  name: "cfr-navigation-drawer",
  components: {
    MainMenu,
  },
  props: {
    value: {
      type: Boolean,
      default: false,
    },
    menu: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      innerValue: false,
      fixed: false,
      miniVariant: true,
    };
  },
  watch: {
    // Handles internal model changes.
    innerValue(newVal) {
      this.$emit("input", newVal);
    },
    // Handles external model changes.
    value(newVal) {
      this.innerValue = newVal;
    },
    $route() {
      this.miniVariant = true;
    },
  },
  created() {
    this.innerValue = this.value;
  },
  events: {
    toggleMiniVariant(payload) {
      if (typeof payload !== "undefined") {
        this.miniVariant = payload;
      } else {
        this.miniVariant = !this.miniVariant;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.cfr-list-nav {
  ::v-deep .v-list-item {
    &:not(:hover):not(:focus)::before {
      opacity: 0;
    }
  }

  &.custom {
    ::v-deep .v-list-item-group {
      position: fixed !important;
      top: 0;
      left: 100%;
      min-width: 160px;
      width: auto;
      height: 100vh;
      visibility: hidden;
      //opacity: 0;
      //transform: translate(-100%, 0);
      clip: auto;
      z-index: 2;
      transition: 0s all !important;

      &.show {
        visibility: visible;
        //transform: translate(0, 0);
        //opacity: 1;
      }
    }
  }
}
</style>
