<template>
  <v-hover v-slot="{ hover }">
    <v-card
      class="grid-item d-flex flex-column justify-lg-space-between"
      tile
      elevation="0"
      :color="hover ? 'grey lighten-4' : ''"
    >
      <v-card-text class="text-left">
        <v-row justify="space-between">
          <v-col>
            <span class="grey--text">ООО Народный Исполнитель</span>
          </v-col>
          <v-col cols="auto">
            <span class="grey--text" v-text="value.id"/>
          </v-col>
          <v-col cols="12">
            <h2 class="text-body-1 black--text font-weight-semi-bold" v-text="value.title"/>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions class="text-left">
        <v-row justify="space-between">
          <v-col>
            <v-chip
              color="primary lighten-2"
              class="black--text"
            >
              Наука
            </v-chip>
          </v-col>
          <v-col cols="auto">
            <span class="grey--text">20.05.2021</span>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-hover>
</template>

<script>
export default {
  name: 'GridItem',
  props: {
    value: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.grid-item {
  outline: 1px solid gray; /* The outline creates the border */
  text-align: center;
  position: relative;
  z-index: 1; /* original z-index */
  min-height: 14rem;
}

/* If you want to change the color on the hover state */
.grid-item:hover {
  outline: 1px solid #333;
  z-index: 2; /* You must apply a z-index bigger than the original z-index or else some parts of the outline will be behind other grid elements */
}
</style>
