<template>
  <div class="grid">
    <projectGridItem
      v-for="item in value"
      :key="item.id"
      :value="item"
      class="cursor-pointer"
      @click.native="clickItem(item)"
    />
    <portal v-if="currentItem" to="rightDrawer">
      <div>
        <v-card tile elevation="0">
          <v-card-title>
            <h2 class="text-h6" v-text="currentItem.title"/>
            <div class="text-body-2">Порядок определяет правила и порядок взаимодействия по проведению экспертизы и формированию заключений по проектам в целях отбора</div>
          </v-card-title>
          <v-tabs
            :slider-size="3"
          >
            <v-tab class="mr-1">Информация</v-tab>
            <v-tab class="mx-1">Вложения</v-tab>
            <v-tab class="ml-1">Ответственные</v-tab>
          </v-tabs>
          <v-divider/>
          <v-card-text>
            ID: {{currentItem.id}}
          </v-card-text>
          <v-card-actions class="d-block">
            <div class="mb-1">Действия</div>
            <div class="d-flex flex-wrap">
              <v-btn outlined color="black" class="ma-1">
                <v-icon left v-text="'mdi-download'"/>
                Скачать
              </v-btn>
              <v-btn outlined color="black" class="ma-1">
                <v-icon left v-text="'mdi-file-outline'"/>
                Поделиться
              </v-btn>
            </div>
          </v-card-actions>
        </v-card>

      </div>
    </portal>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'Grid',
  props: {
    value: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      currentItem: null
    }
  },
  methods: {
    ...mapMutations({
      toggleRightDrawer: 'app/toggleRightDrawer'
    }),
    clickItem(item) {
      this.currentItem = item
      this.toggleRightDrawer(true)
    }
  }
}
</script>

<style scoped lang="scss">
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  //grid-template-columns: repeat(4, 25fr);
  //grid-template-rows: repeat(4, 25fr);
  grid-gap: 1px;
}

@media #{map-get($display-breakpoints, 'md-and-up')} {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
</style>
