<template>
  <ValidationProvider
    v-slot='{ errors }'
    :name='$attrs.label'
    :rules='rules'
    :vid='vid'
    slim
  >
    <v-select
      v-model='innerValue'
      :error-messages='errors'
      v-bind='$attrs'
      :class="[{ required: required }, 'cfr-select']"
      v-on='$listeners'
    >
      <template v-for='(_, slot) of $scopedSlots' #[slot]='scope'>
        <slot :name='slot' v-bind='scope' />
      </template>
    </v-select>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  name: 'CFRSelect',
  components: {
    ValidationProvider
  },
  props: {
    rules: {
      type: [Object, String],
      required: false,
      default: ''
    },
    vid: {
      type: String,
      required: false,
      default: ''
    },
    value: {
      type: null,
      default: null
    }
  },
  data: () => ({
    innerValue: ''
  }),
  computed: {
    required() {
      const typeRules = typeof this.rules
      let res = false
      if (typeRules === 'string') {
        res = this.rules.includes('required')
      } else if (typeRules === 'object') {
        res = this.rules.required
      }
      return res
    }
  },
  watch: {
    // Handles internal model changes.
    innerValue(newVal) {
      this.$emit('input', newVal)
    },
    // Handles external model changes.
    value(newVal) {
      this.innerValue = newVal
    }
  },
  created() {
    if (this.value) {
      this.innerValue = this.value
    }
  }
}
</script>

<style lang='scss' scoped>
.cfr-select {
  &.v-input--is-label-active {
    ::v-deep .v-input__append-inner:nth-child(3) {
      display: none;
    }
  }

  ::v-deep .v-input__slot {
    padding-right: 10px;
  }



  &:not(.theme--dark) {
    &.v-text-field--filled {
      ::v-deep input::placeholder {
        //color: #000;
        color: map-get($shades, 'black');
      }
      ::v-deep .v-icon {
        color: #000;
      }
    }
  }
}
</style>
