<template>
  <div ref="editorjs" @focusout="onBlur" @focusin="onFocus" />
</template>

<script>
import { EditorJS, getCompactToolsOptions, getToolsOptions } from "../../../constants/editorJS";
// ToDo: сделать изменение данных, если данные меняются сверху
export default {
  name: "TextEditor",
  props: {
    minHeight: {
      type: Number,
      default: 100
    },
    compact: {
      type: Boolean,
      default: false
    },
    value: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      ejEditor: null
    };
  },
  mounted() {
    this.ejEditor = new EditorJS({
      holder: this.$refs.editorjs,
      minHeight: this.minHeight,
      tools: this.compact ? getCompactToolsOptions() : getToolsOptions(),
      data: this.value,
      i18n: {
        messages: {
          ui: {
            blockTunes: {
              toggler: {
                "Click to tune": "Нажмите, чтобы настроить",
                "or drag to move": "или перетащите"
              }
            },
            inlineToolbar: {
              converter: {
                "Convert to": "Конвертировать в"
              }
            },
            toolbar: {
              toolbox: {
                Add: "Добавить"
              }
            }
          },
          toolNames: {
            Text: "Параграф",
            Heading: "Заголовок",
            List: "Список",
            Warning: "Примечание",
            Checklist: "Чеклист",
            Quote: "Цитата",
            Code: "Код",
            Delimiter: "Разделитель",
            "Raw HTML": "HTML-фрагмент",
            Table: "Таблица",
            Link: "Ссылка",
            Marker: "Маркер",
            Bold: "Полужирный",
            Italic: "Курсив",
            InlineCode: "Моноширинный"
          },
          tools: {
            warning: {
              Title: "Название",
              Message: "Сообщение"
            },
            link: {
              "Add a link": "Вставьте ссылку"
            },
            stub: {
              "The block can not be displayed correctly.": "Блок не может быть отображен"
            }
          },
          blockTunes: {
            delete: {
              Delete: "Удалить"
            },
            moveUp: {
              "Move up": "Переместить вверх"
            },
            moveDown: {
              "Move down": "Переместить вниз"
            }
          }
        }
      },
      onChange: this.onChange
    });
  },
  watch: {
    value(newVal) {
      newVal ? this.ejEditor.render(newVal) : this.ejEditor.clear();
    }
  },
  methods: {
    getEditorActualValue() {
      return new Promise((resolve, reject) => {
        this.ejEditor.save().then((outputData) => {
          resolve(outputData?.blocks?.length > 0 ? outputData : null);
        }).catch((e) => {
          reject(e);
        });
      });
    },
    onChange() {
      this.getEditorActualValue().then((value) => {
        this.$emit("input", value);
      });
    },
    onBlur() {
      this.getEditorActualValue().then((value) => {
        this.$emit("blur", value);
      });
    },
    onFocus(e) {
      this.$emit("focus", e);
    }
  }
};
</script>
