// Button
$btn-font-weight: 600;
$btn-text-transform: none;
$btn-letter-spacing: normal;
$btn-border-radius: $border-radius-root * 2;
$btn-hover-opacity: 0.25;
$btn-icon-font-size: 24px;
$btn-sizes: (
  'x-small': 20,
  'small': 28,
  'default': 36,
  'large': 44,
  'x-large': 49
);
$fab-sizes: $btn-sizes;
//$fab-icon-sizes: ();
$fab-icon-sizes: (
  'x-small': 18,
  'small': 22,
  'default': 22,
  'large': 24,
  'x-large': 28
);

