$expansion-panel-header-min-height: 60px;
$expansion-panel-active-header-min-height: 60px;
$expansion-panel-header-font-size: 0.875rem;
$expansion-panel-active-margin: 0;
$expansion-panel-border-radius: 0;
$expansion-panel-content-padding: 0 0 8px 0;
//$expansion-panel-content-padding: 8px 0;
$expansion-panel-header-padding: 16px 20px;
