$body-font-family: 'Inter', sans-serif;
//$font-size-root: 15px;
$line-height-root: 1.4;

$font-weights: (
  'thin': 100,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
  'black': 900
);

$heading-font-family: $body-font-family;

$headings: (
  'h1': (
    'size': 3rem,
    'weight': 300,
    'line-height': 1.4,
    'letter-spacing': normal,
  ),
  'h2': (
    'size': 2.25rem,
    'weight': 400,
    'line-height': 1.4,
    'letter-spacing': normal,
  ),
  'h3': (
    'size': 1.75rem,
    'weight': 500,
    'line-height': 1.4,
    'letter-spacing': normal,
  ),
  'h4': (
    'size': 1.5rem,
    'weight': 600,
    'line-height': 1.4,
    'letter-spacing': normal,
  ),
  'h5': (
    'size': 1.25rem,
    'weight': 700,
    'line-height': 1.4,
    'letter-spacing': normal,
  ),
  'h6': (
    'size': 1.125rem,
    'weight': 700,
    'line-height': 1.4,
    'letter-spacing': normal
  ),
  'subtitle-1': (
    'size': 1rem,
    'weight': 500,
    'line-height': 1.4,
    'letter-spacing': normal
  ),
  'subtitle-2': (
    'size': 0.875rem,
    'weight': 500,
    'line-height': 1.4,
    'letter-spacing': normal,
  ),
  'body-1': (
    'size': 1rem,
    'weight': 400,
    'line-height': 1.4,
    'letter-spacing': normal,
  ),
  'body-2': (
    'size': 0.875rem,
    'weight': 400,
    'line-height': 1.4,
    'letter-spacing': normal,
  ),
  'button': (
    'size': 0.875rem,
    'weight': 600,
    'line-height': 1.4,
    'letter-spacing': normal,
  ),
  'caption': (
    'size': .75rem,
    'weight': 400,
    'letter-spacing': normal,
    'line-height': normal,
    //'line-height': 1.25rem,
    //'font-family': $body-font-family
  ),
  'overline': (
    'size': .625rem,
    'weight': 400,
    'letter-spacing': normal,
    'line-height': normal,
    //'line-height': 1rem,
    //'font-family': $body-font-family
  )
);
