$text-field-outlined-rounded-slot-padding: 0 10px 0 20px;
//$text-field-filled-full-width-outlined-single-line-slot-min-height: 44px;
//$text-field-filled-full-width-outlined-dense-slot-min-height: 44px;
//$text-field-filled-full-width-outlined-slot-min-height: 49px;
//$text-field-dense-label-top: 12px;
//$text-field-filled-margin-top: 14px;
//$text-field-dense-label-top: 14px;
//
//$select-selections-padding-top: 8px;


//$text-field-filled-margin-top: 18px;
$text-field-filled-margin-top: 14px;
$text-field-filled-full-width-outlined-dense-slot-min-height: 44px;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 44px;
//$text-field-dense-label-top: 14px;
$text-field-dense-label-top: 12px;
$text-field-filled-full-width-outlined-slot-min-height: 49px;

$text-field-outlined-fieldset-border: 1px solid currentColor;
