$tooltip-font-size: 14px;
$tooltip-border-radius: $border-radius-root * 2;
$tooltip-padding: 8px 16px;
//$tooltip-padding: 12px 20px;
$tooltip-background-color: #282828;
$tooltip-text-color: map-get($shades, 'white');
