<template>
  <v-list dark>
    <template v-for="(item, i) in menu">
      <div :key="i">
        <div
          v-if="item.key || item.text"
          class="py-1 px-5 mt-2 mb-1 overline text-truncate"
        >
          {{ item.key ? $t(item.key) : item.text }}
        </div>
        <MenuItem
          v-for="(item, i) in item.items"
          :key="i"
          :item="item"
          :miniVariant="miniVariant"
          subgroup
          small
        />
      </div>
    </template>
  </v-list>
</template>

<script>
export default {
  components: {
    MenuItem: () => import("./MenuItem"),
  },
  props: {
    menu: { type: Array, default: () => [] },
    miniVariant: { type: Boolean, default: true },
  },
};
</script>
