<template>
  <v-list-item
    ref="listitem"
    :input-value="item.value"
    :to="item.link"
    :exact="item.exact"
    :disabled="item.disabled"
    :class="{ primary: active }"
    class="listitem justify-start py-2 px-5"
    active-class="primary"
    :content="item.text"
    @click.stop="click($event, item)"
    @mouseleave.stop="mouseleave"
    @mouseenter="mouseenter"
    v-tippy="{
      content: item.text,
      placement: 'right',
      trigger: level > 0 || active || !miniVariant ? '' : 'mouseenter',
    }"
  >
    <v-list-item-action>
      <v-icon>{{ item.icon }}</v-icon>
    </v-list-item-action>
    <v-list-item-content>
      <v-list-item-title class="font-weight-medium text-body-2"
        >{{ item.text }}
      </v-list-item-title>
    </v-list-item-content>

    <v-list-item-group
      v-if="item.items"
      class="pt-16 overflow-auto"
      :class="[bgGroupClass, { show: active }]"
      :style="{ left: left + 'px' }"
      mandatory
    >
      <MenuItem
        v-for="(item, i) in item.items"
        :key="i"
        :item="item"
        :level="level + 1"
        :miniVariant="miniVariant"
        subgroup
        small
      />
    </v-list-item-group>
  </v-list-item>
</template>

<script>
export default {
  name: "MenuItem",
  components: {
    MenuItem: () => import("./MenuItem"),
  },

  props: {
    item: { type: Object, required: true },
    level: { type: Number, default: 0 },
    miniVariant: { type: Boolean, required: true },
  },

  data() {
    return {
      active: false,
      hover: false,
      left: 0,
    };
  },

  computed: {
    bgGroupClass() {
      switch (this.level) {
        case 1:
          return "grey darken-4";
        case 2:
          return "grey darken-3";
        case 3:
          return "grey darken-2";
        default:
          return "grey darken-4";
      }
    },
  },

  watch: {
    $route() {
      this.active = false;
    },
  },

  methods: {
    click(e, item) {
      if (!item.items) return;
      setTimeout(() => {
        const listItem = this.$refs.listitem.$el;
        const coord = listItem.getBoundingClientRect();
        this.left = coord.x + coord.width;
        this.active = true;
      }, 200);
    },
    mouseenter() {
      this.hover = true;
    },
    mouseleave() {
      this.hover = false;
      setTimeout(() => {
        if (this.hover) return;
        this.active = false;
      }, 200);
    },
  },
};
</script>

<style lang="scss" scoped>
.listitem ::v-deep .v-list-item .v-list-item__content {
  clip: auto !important;
  width: auto !important;
  position: relative !important;
  display: flex;
  padding: 0;
  height: 100% !important;
}
</style>
