<template>
  <v-app dark>
    <cfr-navigation-drawer v-model="leftDrawer" :menu="navigation.menu"/>
    <cfr-header :drawer.sync="leftDrawer" :menu="headerMenu">
      <template #top>
        <div class="d-flex align-center">
          <v-spacer></v-spacer>
          <div class="d-flex flex-wrap align-center">
            <span class="mr-3 mr-md-8 black--text text-body-2">Оперативная сводка на 2.02.2021</span>
            <div class="header__buttons d-flex flex-wrap">
              <v-btn
                v-for="(button, i) in buttons"
                :key="button.name"
                class="header__button my-1 my-md-05 text-body-2"
                :class="{ 'mr-3': i + 1 < buttons.length }"
                small
                rounded
                outlined
                color="primary darken-1"
                v-text="button.name"
              />
            </div>
          </div>
        </div>
      </template>
    </cfr-header>
    <v-main class="ml-lg-16">
      <v-container fluid class="pa-0 d-flex flex-grow-1 flex-column">
        <Nuxt/>
      </v-container>
    </v-main>
    <v-navigation-drawer :value="rightDrawer" right fixed app width="25%">
      <!-- ToDo: Изменить процесс управления этим навбаром (показ и контент). Тип и id записи вынести во vuex, сделать полное управление через хранилку. Или в отдельный компонент и управлять через events -->
      <v-btn class="ma-2 ma-xl-5 position-absolute transition-fast-in-fast-out btn-close-right-drawer"
             icon rounded depressed width='32' height='32' @click.stop="toggleRightDrawer()">
        <v-icon color='white'>mdi-close</v-icon>
      </v-btn>

      <portal-target name="rightDrawer" slim/>
    </v-navigation-drawer>
    <LayoutFooter/>
  </v-app>
</template>

<script>
import {mapMutations} from 'vuex'
import config from '~/configs'

export default {
  data() {
    return {
      leftDrawer: this.$vuetify.breakpoint.lgAndUp,
      navigation: config.navigation,
      showMobileSearch: false,
      headerMenu: [
        {name: 'Операционный комитет', url: '#'},
        {name: 'Управляющий совет', url: '#'},
        {name: 'Аналитический центр', url: '#'},
        {name: 'ЕОСДО', url: '#'},
      ],
      buttons: [
        {name: 'Отрасль за сутки', url: '#'},
        {name: 'Дайджест СМИ', url: '#'},
        {name: 'Обзор сообщений СМИ', url: '#'},
        {name: 'Covid', url: '#'},
      ],
    }
  },
  computed: {
    rightDrawer() {
      return this.$store.state.app.rightDrawer
    },
  },
  methods: {
    ...mapMutations({
      toggleRightDrawer: 'app/toggleRightDrawer',
    }),
    toggleMobileSearch() {
      this.showMobileSearch = !this.showMobileSearch
    },
  },
}
</script>

<style scoped lang="scss">
.btn-close-right-drawer {
  top: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
</style>

