<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12.8517 6.38394L19.0621 16.4759C19.4721 17.1422 18.9928 18 18.2104 18H15.618C15.2393 18 14.893 17.786 14.7236 17.4472L13.7764 15.5528C13.607 15.214 13.2607 15 12.882 15H12H11.118C10.7393 15 10.393 15.214 10.2236 15.5528L9.27639 17.4472C9.107 17.786 8.76074 18 8.38197 18H5.78956C5.00724 18 4.52789 17.1422 4.93791 16.4759L11.1483 6.38394C11.5388 5.74941 12.4612 5.74941 12.8517 6.38394Z" stroke-width="2"/>
    <path d="M7.5 11.5H16.5" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
