<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 16C12 13.7909 13.7909 12 16 12V12C18.2091 12 20 13.7909 20 16V17C20 17.5523 19.5523 18 19 18H12V16Z" stroke-width="2"/>
    <path d="M12 16C12 13.7909 10.2091 12 8 12V12C5.79086 12 4 13.7909 4 16V17C4 17.5523 4.44772 18 5 18H12V16Z" stroke-width="2"/>
    <path d="M16 5C14.8954 5 14 5.89543 14 7C14 8.10457 14.8954 9 16 9C17.1046 9 18 8.10457 18 7C18 5.89543 17.1046 5 16 5Z" stroke-width="2"/>
    <path d="M8 5C6.89543 5 6 5.89543 6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5Z" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
