<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 19H5.5C5.22386 19 5 18.7761 5 18.5V13" stroke-width="2" stroke-linecap="round"/>
    <path d="M13 5L18.5 5C18.7761 5 19 5.22386 19 5.5L19 11" stroke-width="2" stroke-linecap="round"/>
    <path d="M6 18L10 14" stroke-width="2" stroke-linecap="round"/>
    <path d="M18 6L14 10" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
