<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M18 18L18 6" stroke-width="2" stroke-linecap="round"/>
    <path d="M13.5 12L7.5 12" stroke-width="2" stroke-linecap="round"/>
    <path d="M8.49996 9.50004L6 12L8.49996 14.5" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
