<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.8226 13.8257L8.99904 13.8257C7.34219 13.8257 5.99904 12.4825 5.99904 10.8257L5.99904 7.00215" stroke-width="2" stroke-linecap="round"/>
    <path d="M12.8229 17.5021L16.4993 13.8257L12.8229 10.1493" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
