<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.9999 12.0001L11.9999 5.6001" stroke-width="2" stroke-linecap="round"/>
    <path d="M14.6666 6.66663L12 4L9.33337 6.66663" stroke-width="2" stroke-linecap="round"/>
    <path d="M12.5334 12L18.5067 12" stroke-width="2" stroke-linecap="round"/>
    <path d="M17.5111 14.6666L20 12L17.5111 9.33337" stroke-width="2" stroke-linecap="round"/>
    <path d="M12.0001 11.9999L12.0001 18.3999" stroke-width="2" stroke-linecap="round"/>
    <path d="M9.33337 17.3334L12 20L14.6666 17.3334" stroke-width="2" stroke-linecap="round"/>
    <path d="M12 12L5.59998 12" stroke-width="2" stroke-linecap="round"/>
    <path d="M6.66663 9.33337L4 12L6.66663 14.6666" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
