<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.7259 6.39016L12 6.56978L12.2741 6.39016C13.7592 5.4168 15.1824 4.80317 16.3695 4.58715C17.5678 4.36907 18.4264 4.56884 18.9288 5.07124C19.4312 5.57364 19.6309 6.43219 19.4129 7.63048C19.1968 8.81755 18.5832 10.2408 17.6098 11.7259L17.4302 12L17.6098 12.2741C18.5832 13.7592 19.1968 15.1824 19.4129 16.3695C19.6309 17.5678 19.4312 18.4264 18.9288 18.9288C18.4264 19.4312 17.5678 19.6309 16.3695 19.4129C15.1824 19.1968 13.7592 18.5832 12.2741 17.6098L12 17.4302L11.7259 17.6098C10.2408 18.5832 8.81755 19.1968 7.63048 19.4129C6.43219 19.6309 5.57364 19.4312 5.07124 18.9288C4.56884 18.4264 4.36907 17.5678 4.58715 16.3695C4.80317 15.1824 5.4168 13.7592 6.39016 12.2741L6.56978 12L6.39016 11.7259C5.4168 10.2408 4.80317 8.81755 4.58715 7.63048C4.36907 6.43219 4.56884 5.57364 5.07124 5.07124C5.57364 4.56884 6.43219 4.36907 7.63048 4.58715C8.81755 4.80317 10.2408 5.4168 11.7259 6.39016ZM16.5098 10.7645L16.9441 11.2906L17.3151 10.7181C17.9773 9.69588 18.448 8.71709 18.6571 7.87971C18.8578 7.07542 18.8538 6.23551 18.3067 5.69328C17.7645 5.14619 16.9246 5.14217 16.1203 5.34294C15.2829 5.55196 14.3041 6.02268 13.2819 6.68494L12.7094 7.05589L13.2355 7.49017C13.8145 7.96808 14.3922 8.48163 14.96 9.04003C15.5184 9.60777 16.0319 10.1855 16.5098 10.7645ZM5.34294 16.1203C5.14217 16.9246 5.14619 17.7645 5.69328 18.3067C6.23551 18.8538 7.07542 18.8578 7.87971 18.6571C8.71709 18.448 9.69588 17.9773 10.7181 17.3151L11.2906 16.9441L10.7645 16.5098C10.1855 16.0319 9.60777 15.5184 9.04003 14.96C8.48163 14.3922 7.96808 13.8145 7.49017 13.2355L7.05589 12.7094L6.68494 13.2819C6.02268 14.3041 5.55196 15.2829 5.34294 16.1203ZM7.87971 5.34294C7.07542 5.14217 6.23552 5.14619 5.69329 5.69329C5.14619 6.23552 5.14217 7.07542 5.34294 7.87971C5.55196 8.71709 6.02268 9.69588 6.68494 10.7181L7.05589 11.2906L7.49017 10.7645C7.96808 10.1855 8.48162 9.60776 9.04002 9.04002C9.60776 8.48162 10.1855 7.96808 10.7645 7.49017L11.2906 7.05589L10.7181 6.68494C9.69588 6.02268 8.71709 5.55196 7.87971 5.34294ZM11.6843 16.1599L12 16.417L12.3157 16.1599C12.9827 15.6168 13.6694 15.0064 14.3379 14.3379C15.0064 13.6694 15.6168 12.9827 16.1599 12.3157L16.417 12L16.1599 11.6843C15.6168 11.0173 15.0064 10.3306 14.3379 9.66206C13.6694 8.99355 12.9827 8.38316 12.3157 7.84008L12 7.583L11.6843 7.84008C11.0173 8.38316 10.3306 8.99355 9.66206 9.66206C8.99355 10.3306 8.38316 11.0173 7.84008 11.6843L7.583 12L7.84008 12.3157C8.38316 12.9827 8.99355 13.6694 9.66206 14.3379C10.3306 15.0064 11.0173 15.6168 11.6843 16.1599ZM14.96 14.96C14.3922 15.5184 13.8145 16.0319 13.2355 16.5098L12.7094 16.9441L13.2819 17.3151C14.3041 17.9773 15.2829 18.448 16.1203 18.6571C16.9246 18.8578 17.7645 18.8538 18.3067 18.3067C18.8538 17.7645 18.8578 16.9246 18.6571 16.1203C18.448 15.2829 17.9773 14.3041 17.3151 13.2819L16.9441 12.7094L16.5098 13.2355C16.0319 13.8145 15.5184 14.3922 14.96 14.96ZM12 11.564C12.1156 11.564 12.2265 11.6099 12.3083 11.6917L12.6619 11.3381L12.3083 11.6917C12.3901 11.7735 12.436 11.8844 12.436 12C12.436 12.1156 12.3901 12.2265 12.3083 12.3083L12.6619 12.6619L12.3083 12.3083C12.2265 12.3901 12.1156 12.436 12 12.436C11.8844 12.436 11.7735 12.3901 11.6917 12.3083L11.3381 12.6619L11.6917 12.3083C11.6099 12.2265 11.564 12.1156 11.564 12C11.564 11.8844 11.6099 11.7735 11.6917 11.6917L11.3381 11.3381L11.6917 11.6917C11.7735 11.6099 11.8844 11.564 12 11.564Z"/>
  </svg>
</template>

<style scoped>
svg path {
  fill: currentColor;
  stroke: currentColor;
}
</style>
