<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17 16L17 11C17 8.23858 14.7614 6 12 6V6C9.23858 6 7 8.23858 7 11L7 16" stroke-width="2" stroke-linecap="round"/>
    <path d="M12 5V4" stroke-width="2" stroke-linecap="round"/>
    <path d="M10 17V17C10 18.1046 10.8954 19 12 19V19C13.1046 19 14 18.1046 14 17V17" stroke-width="2" stroke-linecap="round"/>
    <path d="M6 16H18" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
