<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17 19.469V5C17 4.44772 16.5523 4 16 4H8C7.44772 4 7 4.44772 7 5V19.469C7 19.6535 7.22858 19.7396 7.3503 19.6009L11.2485 15.1602C11.6468 14.7065 12.3532 14.7065 12.7515 15.1602L16.6497 19.6009C16.7714 19.7396 17 19.6535 17 19.469Z" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
