<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.3334 6C14.3334 5.44772 14.7811 5 15.3334 5H18C18.5523 5 19 5.44772 19 6V18C19 18.5523 18.5523 19 18 19H14.3334V6Z" stroke-width="2"/>
    <path d="M9.66663 10.375C9.66663 9.82272 10.1143 9.375 10.6666 9.375H13.3333C13.8856 9.375 14.3333 9.82272 14.3333 10.375V19H9.66663V10.375Z" stroke-width="2"/>
    <path d="M5 14.75C5 14.1977 5.44772 13.75 6 13.75H8.66667C9.21895 13.75 9.66667 14.1977 9.66667 14.75V19H6C5.44771 19 5 18.5523 5 18V14.75Z" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
