<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.9">
      <path d="M16 18L7.5 18C6.67157 18 6 17.3284 6 16.5L6 8" stroke-width="2" stroke-linecap="round"/>
      <path d="M18 12V7C18 6.44772 17.5523 6 17 6H12" stroke-width="2" stroke-linecap="round"/>
      <path d="M17 7L11 13" stroke-width="2" stroke-linecap="round"/>
    </g>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
