<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect class="fill" x="4" y="4" width="16" height="16" rx="2"/>
    <rect class="stroke" x="4" y="4" width="16" height="16" rx="2"/>
    <path d="M8 12L16 12" stroke="white" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg rect.stroke {
  stroke: currentColor
}
svg rect.fill {
  fill: currentColor
}
</style>
