<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="5" y="5" width="14" height="14" rx="1" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg rect {
  stroke: currentColor
}
</style>
