<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17.3886 7.31399C15.278 9.7489 13.1674 12.1838 11.0568 14.6187C9.91641 13.4242 8.77606 12.2298 7.63958 11.0314C6.78528 10.1356 5.42073 11.4909 6.27116 12.3867C7.65117 13.8339 9.02733 15.2772 10.4073 16.7244C10.7475 17.0804 11.4395 17.1111 11.7758 16.7244C14.1029 14.0406 16.4299 11.3569 18.757 8.66927C19.5611 7.73895 18.2004 6.37984 17.3886 7.31399Z"/>
  </svg>
</template>

<style scoped>
svg path {
  fill: currentColor
}
</style>
