<template>
  <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
    <path fill-rule='evenodd' clip-rule='evenodd'
          d='M15.7084 14.7066C15.8952 14.5177 16 14.2627 16 13.9971C16 13.7314 15.8952 13.4765 15.7084 13.2876L12.7694 10.3226C12.5514 10.1076 12.2694 10.0006 11.9904 10.0006C11.7114 10.0006 11.4344 10.1076 11.2214 10.3226L8.29142 13.2776C8.10485 13.4666 8.00024 13.7215 8.00024 13.9871C8.00024 14.2527 8.10485 14.5076 8.29142 14.6966C8.38325 14.7898 8.49269 14.8638 8.61338 14.9143C8.73407 14.9648 8.86359 14.9908 8.99442 14.9908C9.12525 14.9908 9.25477 14.9648 9.37546 14.9143C9.49615 14.8638 9.60559 14.7898 9.69742 14.6966L11.9954 12.3796L14.3024 14.7066C14.3945 14.7994 14.504 14.8731 14.6246 14.9233C14.7453 14.9736 14.8747 14.9995 15.0054 14.9995C15.1361 14.9995 15.2656 14.9736 15.3862 14.9233C15.5069 14.8731 15.6164 14.7994 15.7084 14.7066Z' />
  </svg>
</template>

<style scoped>
svg path {
  fill: currentColor
}
</style>
