<template>
  <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
    <path fill-rule='evenodd' clip-rule='evenodd'
          d='M9.79367 16.2079C9.98257 16.3947 10.2375 16.4995 10.5032 16.4995C10.7688 16.4995 11.0238 16.3947 11.2127 16.2079L14.1777 13.2689C14.3927 13.0509 14.4997 12.7689 14.4997 12.4899C14.4997 12.2109 14.3927 11.9339 14.1777 11.7209L11.2227 8.79093C11.0337 8.60437 10.7788 8.49976 10.5132 8.49976C10.2476 8.49976 9.99269 8.60437 9.80367 8.79093C9.71049 8.88276 9.63649 8.9922 9.58598 9.11289C9.53548 9.23358 9.50947 9.3631 9.50947 9.49393C9.50947 9.62476 9.53548 9.75429 9.58598 9.87497C9.63649 9.99566 9.71049 10.1051 9.80367 10.1969L12.1207 12.4949L9.79367 14.8019C9.70085 14.894 9.62718 15.0035 9.5769 15.1241C9.52662 15.2448 9.50073 15.3742 9.50073 15.5049C9.50073 15.6356 9.52662 15.7651 9.5769 15.8857C9.62718 16.0064 9.70085 16.1159 9.79367 16.2079Z' />
  </svg>
</template>

<style scoped>
svg path {
  fill: currentColor
}
</style>
