<template>
  <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
    <path fill-rule='evenodd' clip-rule='evenodd'
          d='M14.2067 8.79158C14.0178 8.60477 13.7629 8.5 13.4972 8.5C13.2315 8.5 12.9766 8.60477 12.7877 8.79158L9.82269 11.7306C9.60769 11.9486 9.50069 12.2306 9.50069 12.5096C9.50069 12.7886 9.60769 13.0656 9.82269 13.2786L12.7777 16.2086C12.9667 16.3951 13.2216 16.4998 13.4872 16.4998C13.7528 16.4998 14.0077 16.3951 14.1967 16.2086C14.2899 16.1167 14.3639 16.0073 14.4144 15.8866C14.4649 15.7659 14.4909 15.6364 14.4909 15.5056C14.4909 15.3748 14.4649 15.2452 14.4144 15.1245C14.3639 15.0039 14.2899 14.8944 14.1967 14.8026L11.8797 12.5046L14.2067 10.1976C14.2995 10.1055 14.3732 9.99604 14.4235 9.87538C14.4737 9.75472 14.4996 9.6253 14.4996 9.49458C14.4996 9.36386 14.4737 9.23444 14.4235 9.11378C14.3732 8.99312 14.2995 8.88362 14.2067 8.79158Z' />
  </svg>
</template>

<style scoped>
svg path {
  fill: currentColor
}
</style>
