<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="10" cy="14" r="5" stroke-width="2"/>
    <circle cx="17" cy="7" r="2" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg circle {
  stroke: currentColor
}
</style>
