<template>
  <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
    <path d='M8 8L16 16' stroke-width='2' stroke-linecap='round' />
    <path d='M16 8L8 16' stroke-width='2' stroke-linecap='round' />
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
