<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.77656 11.453L5.28343 10.5831L5.77656 11.453ZM6.07928 10.7964L5.09908 10.9944L6.07928 10.7964ZM13.3688 7.8425L14.2104 7.3024L13.3688 7.8425ZM13.9815 8.10381L13.7788 7.12456L13.9815 8.10381ZM7.48509 18L7.48092 19L7.48509 18ZM9 17H7.5V19H9V17ZM7.5 17H7.48512V19H7.5V17ZM7.48926 17C6.11354 16.9942 5 15.8771 5 14.5H3C3 16.9789 5.00436 18.9896 7.48092 19L7.48926 17ZM5 14.5C5 13.5681 5.50939 12.754 6.26969 12.323L5.28343 10.5831C3.92217 11.3547 3 12.819 3 14.5H5ZM7.05948 10.5984C7.02058 10.4058 7 10.2058 7 10H5C5 10.3396 5.034 10.6722 5.09908 10.9944L7.05948 10.5984ZM7 10C7 8.34315 8.34315 7 10 7V5C7.23858 5 5 7.23858 5 10H7ZM10 7C11.0599 7 11.9922 7.54887 12.5272 8.3826L14.2104 7.3024C13.3231 5.91971 11.7693 5 10 5V7ZM14.1842 9.08306C14.4467 9.02873 14.7195 9 15 9V7C14.5825 7 14.174 7.04279 13.7788 7.12456L14.1842 9.08306ZM15 9C17.2091 9 19 10.7909 19 13H21C21 9.68629 18.3137 7 15 7V9ZM19 13C19 15.2091 17.2091 17 15 17V19C18.3137 19 21 16.3137 21 13H19ZM15 17C15 17 15 17 15 17C15 17 15 17 15 17H15H15C15 17 15 17 15 17C15 17 15 17 15 17C15 17 15 17 15 17C15 17 15 17 15 17H15H15C15 17 15 17 15 17C15 17 15 17 15 17C15 17 15 17 15 17C15 17 15 17 15 17H15H15C15 17 15 17 15 17C15 17 15 17 15 17C15 17 15 17 15 17C15 17 15 17 15 17H15H15C15 17 15 17 15 17C15 17 15 17 15 17V19C15 19 15 19 15 19C15 19 15 19 15 19H15H15C15 19 15 19 15 19C15 19 15 19 15 19C15 19 15 19 15 19C15 19 15 19 15 19H15H15C15 19 15 19 15 19C15 19 15 19 15 19C15 19 15 19 15 19C15 19 15 19 15 19H15H15C15 19 15 19 15 19C15 19 15 19 15 19C15 19 15 19 15 19C15 19 15 19 15 19H15H15C15 19 15 19 15 19C15 19 15 19 15 19V17ZM15 17H9V19H15V17ZM6.26969 12.323C6.86705 11.9844 7.19923 11.2901 7.05948 10.5984L5.09908 10.9944C5.06381 10.8198 5.14509 10.6615 5.28343 10.5831L6.26969 12.323ZM12.5272 8.3826C12.8752 8.92487 13.5303 9.21839 14.1842 9.08306L13.7788 7.12456C13.9586 7.08736 14.1239 7.16761 14.2104 7.3024L12.5272 8.3826ZM8.48165 18.083C8.5308 17.4933 8.06427 17.0024 7.48926 17L7.48092 19C6.90594 18.9976 6.43942 18.5066 6.48856 17.9169L8.48165 18.083ZM7.48512 17C8.07012 17 8.53024 17.5 8.48165 18.083L6.48856 17.9169C6.43997 18.5 6.90011 19 7.48512 19V17Z"/>
  </svg>
</template>

<style scoped>
svg path {
  fill: currentColor
}
</style>
