<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.561 5.79315C11.1637 4.62329 12.8363 4.62329 13.439 5.79315V5.79315C13.8012 6.4961 14.6182 6.83452 15.3714 6.59355V6.59355C16.6248 6.19251 17.8075 7.37524 17.4065 8.62864V8.62864C17.1655 9.38179 17.5039 10.1988 18.2069 10.561V10.561C19.3767 11.1637 19.3767 12.8363 18.2069 13.439V13.439C17.5039 13.8012 17.1655 14.6182 17.4065 15.3714V15.3714C17.8075 16.6248 16.6248 17.8075 15.3714 17.4065V17.4065C14.6182 17.1655 13.8012 17.5039 13.439 18.2069V18.2069C12.8363 19.3767 11.1637 19.3767 10.561 18.2069V18.2069C10.1988 17.5039 9.38179 17.1655 8.62864 17.4065V17.4065C7.37524 17.8075 6.19251 16.6248 6.59355 15.3714V15.3714C6.83452 14.6182 6.4961 13.8012 5.79315 13.439V13.439C4.62329 12.8363 4.62329 11.1637 5.79315 10.561V10.561C6.4961 10.1988 6.83452 9.38179 6.59355 8.62864V8.62864C6.19251 7.37524 7.37524 6.19251 8.62864 6.59355V6.59355C9.38179 6.83452 10.1988 6.4961 10.561 5.79315V5.79315Z" stroke-width="2"/>
    <circle cx="12" cy="12" r="2" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path,
svg circle {
  stroke: currentColor
}
</style>
