<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="fill"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11.2251 4.06282C11.8564 3.68609 12.6435 3.68609 13.2748 4.06282L18.5248 7.19567C19.1295 7.55654 19.4999 8.20888 19.4999 8.91312V15.2367C19.4999 15.941 19.1295 16.5933 18.5248 16.9542L13.2748 20.087C12.6435 20.4638 11.8564 20.4638 11.2251 20.087L5.97513 16.9542C5.37038 16.5933 5 15.941 5 15.2367V8.91312C5 8.20888 5.37038 7.55654 5.97513 7.19567L11.2251 4.06282ZM12.25 5.78027L7 8.91312V15.2367L12.25 18.3696L17.4999 15.2367V8.91312L12.25 5.78027Z"
    />
    <path
      class="stroke"
      d="M18.25 8L12.8047 11.6302C12.4688 11.8541 12.0312 11.8541 11.6953 11.6302L6.25 8"
      stroke-width="2"
    />
    <path class="stroke" d="M12.25 19V12.5" stroke-width="2" />
  </svg>
</template>

<style scoped>
svg path.stroke {
  stroke: currentColor;
}

svg path.fill {
  fill: currentColor;
}
</style>
