<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.1479 19H8.85206C8.32953 19 7.89508 18.5977 7.85501 18.0767L7.07988 8H16.9201L16.145 18.0767C16.1049 18.5977 15.6705 19 15.1479 19Z" stroke-width="2"/>
    <path d="M5 8H19" stroke-width="2" stroke-linecap="round"/>
    <path d="M10 5H14" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
