<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6 18H18" stroke-width="2" stroke-linecap="round"/>
    <path d="M12.0001 6L12.0001 12" stroke-width="2" stroke-linecap="round"/>
    <path d="M9.50016 11L12.0001 13.5L14.5001 11" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
