<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="path-1-inside-1_2541:13460" fill="white">
      <path d="M4 7C4 6.44772 4.44772 6 5 6H19C19.5523 6 20 6.44772 20 7V17C20 17.5523 19.5523 18 19 18H5C4.44772 18 4 17.5523 4 17V7Z"/>
    </mask>
    <path class="fill" d="M5 8H19V4H5V8ZM18 7V17H22V7H18ZM19 16H5V20H19V16ZM6 17V7H2V17H6ZM5 16C5.55228 16 6 16.4477 6 17H2C2 18.6569 3.34315 20 5 20V16ZM18 17C18 16.4477 18.4477 16 19 16V20C20.6569 20 22 18.6569 22 17H18ZM19 8C18.4477 8 18 7.55228 18 7H22C22 5.34315 20.6569 4 19 4V8ZM5 4C3.34315 4 2 5.34314 2 7H6C6 7.55229 5.55228 8 5 8V4Z" mask="url(#path-1-inside-1_2541:13460)"/>
    <path class="stroke" d="M5 7L11.3492 12.4422C11.7237 12.7632 12.2763 12.7632 12.6508 12.4422L19 7" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path.fill {
  fill: currentColor;
}
svg path.stroke {
  stroke: currentColor;
}
</style>
