<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.99976 13L5.99976 16C5.99976 17.1046 6.89519 18 7.99976 18L15.9998 18C17.1043 18 17.9998 17.1046 17.9998 16L17.9998 13" stroke-width="2" stroke-linecap="round"/>
    <path d="M11.9999 13.4995L11.9999 7.49951" stroke-width="2" stroke-linecap="round"/>
    <path d="M14.4998 8.49947L11.9999 5.99951L9.49992 8.49947" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
