<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.50909 15.725C9.21818 19.025 14.76 19.025 18.4691 15.725C19.9745 14.427 21 12.777 21 11.589C21 10.401 19.9745 8.773 18.4909 7.475C14.7818 4.175 9.24 4.175 5.53091 7.475C4.00364 8.795 3 10.445 3 11.611C3 12.777 4.00364 14.427 5.50909 15.725ZM6.57818 8.729C9.67636 5.957 14.3236 5.957 17.4 8.729C18.5782 9.763 19.3418 11.017 19.3418 11.611C19.3418 12.205 18.5564 13.459 17.3782 14.493C14.3018 17.265 9.63273 17.265 6.55636 14.493C5.37818 13.459 4.59273 12.205 4.59273 11.611C4.59273 11.017 5.4 9.763 6.57818 8.729Z"/>
    <path d="M11.9889 14.9115C13.7998 14.9115 15.2616 13.4375 15.2616 11.6115C15.2616 9.78552 13.7998 8.31152 11.9889 8.31152C10.178 8.31152 8.71619 9.78552 8.71619 11.6115C8.71619 13.4375 10.178 14.9115 11.9889 14.9115ZM11.9889 9.96152H12.0544C11.8362 10.5995 12.1635 11.3035 12.7962 11.5455C13.058 11.6335 13.3416 11.6335 13.6035 11.5455C13.6035 11.5675 13.6035 11.5895 13.6035 11.6115C13.6035 12.5135 12.8616 13.2615 11.9671 13.2615C11.0726 13.2615 10.3307 12.5135 10.3307 11.6115C10.3307 10.7095 11.0944 9.96152 11.9889 9.96152Z"/>
  </svg>
</template>

<style scoped>
svg path {
  fill: currentColor
}
</style>
