<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7 7C7 6.44772 7.44772 6 8 6H13.0388C13.3425 6 13.6298 6.13809 13.8196 6.3753L16.7809 10.0769C16.9227 10.2542 17 10.4745 17 10.7016V17C17 17.5523 16.5523 18 16 18H8C7.44772 18 7 17.5523 7 17V7Z" stroke-width="2"/>
    <path d="M16 11H13C12.4477 11 12 10.5523 12 10V6" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
