<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M18 10L18 16C18 16.5523 17.5523 17 17 17L7 17C6.44772 17 6 16.5523 6 16L6 8C6 7.44771 6.44772 7 7 7L10.1716 7C10.4368 7 10.6911 7.10536 10.8787 7.29289L12 8.41421C12.3751 8.78928 12.8838 9 13.4142 9L17 9C17.5523 9 18 9.44772 18 10Z" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
