<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M18 18L18 6" stroke-width="2" stroke-linecap="round"/>
    <path d="M6 12L12 12" stroke-width="2" stroke-linecap="round"/>
    <path d="M11 14.5L13.5 12L11 9.50004" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
