<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 19C12 15.6863 14.6863 13 18 13" stroke-width="2" stroke-linecap="round"/>
    <path d="M8 19C8 13.4772 12.4772 9 18 9" stroke-width="2" stroke-linecap="round"/>
    <path d="M4 19C4 11.268 10.268 5 18 5" stroke-width="2" stroke-linecap="round"/>
    <path d="M4 19L12 19" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
