<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.19393 12.797C5.45729 12.0775 5 11.0733 5 9.96226C5 7.77397 6.77397 6 8.96226 6C10.1392 6 11.1963 6.51314 11.922 7.3279C11.9634 7.37435 12.0366 7.37435 12.078 7.3279C12.8037 6.51314 13.8608 6 15.0377 6C17.226 6 19 7.77397 19 9.96226C19 11.0836 18.5341 12.0962 17.7854 12.817L12.0704 18.5321C12.0313 18.5711 11.968 18.5711 11.929 18.5321L6.19393 12.797Z"/>
    <path d="M6.19393 12.797L6.90108 12.0899L6.89266 12.0816L6.19393 12.797ZM17.7854 12.817L17.0919 12.0966L17.085 12.1032L17.0783 12.1099L17.7854 12.817ZM12.0704 18.5321L12.7775 19.2392L12.0704 18.5321ZM11.929 18.5321L12.6361 17.825L11.929 18.5321ZM11.922 7.3279L12.6687 6.66278L11.922 7.3279ZM12.078 7.3279L11.3312 6.66278L12.078 7.3279ZM6.89266 12.0816C6.34073 11.5426 6 10.7931 6 9.96226H4C4 11.3535 4.57386 12.6125 5.4952 13.5124L6.89266 12.0816ZM6 9.96226C6 8.32625 7.32625 7 8.96226 7V5C6.22168 5 4 7.22168 4 9.96226H6ZM8.96226 7C9.84205 7 10.6313 7.38227 11.1753 7.99302L12.6687 6.66278C11.7613 5.64401 10.4363 5 8.96226 5V7ZM12.8247 7.99302C13.3687 7.38227 14.1579 7 15.0377 7V5C13.5636 5 12.2387 5.64401 11.3312 6.66278L12.8247 7.99302ZM15.0377 7C16.6737 7 18 8.32625 18 9.96226H20C20 7.22168 17.7783 5 15.0377 5V7ZM18 9.96226C18 10.8008 17.6529 11.5565 17.0919 12.0966L18.479 13.5374C19.4154 12.6359 20 11.3665 20 9.96226H18ZM17.0783 12.1099L11.3633 17.825L12.7775 19.2392L18.4925 13.5241L17.0783 12.1099ZM12.6361 17.825L6.90103 12.0899L5.48682 13.5041L11.2219 19.2392L12.6361 17.825ZM11.3633 17.825C11.7147 17.4735 12.2846 17.4735 12.6361 17.825L11.2219 19.2392C11.6514 19.6687 12.3479 19.6687 12.7775 19.2392L11.3633 17.825ZM11.1753 7.99302C11.6143 8.48598 12.3856 8.48598 12.8247 7.99302L11.3312 6.66278C11.6876 6.26273 12.3124 6.26273 12.6687 6.66278L11.1753 7.99302Z"/>
  </svg>
</template>

<style scoped>
svg path {
  fill: currentColor
}
</style>
