<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 7C5 5.89543 5.89543 5 7 5H19V19H7C5.89543 19 5 18.1046 5 17V7Z" stroke-width="2" />
    <path d="M5 16.5C5 15.1193 6.11929 14 7.5 14H19V19H7.5C6.11929 19 5 17.8807 5 16.5Z" stroke-width="2" />
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
