<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.7695 8.30769L12.6156 6.46154C13.9751 5.10207 16.1792 5.10207 17.5387 6.46154C18.8982 7.82101 18.8982 10.0251 17.5387 11.3846L15.6925 13.2308" stroke-width="2" stroke-linecap="round"/>
    <path d="M13.2308 15.6923L11.3846 17.5385C10.0252 18.8979 7.82103 18.8979 6.46156 17.5385C5.10209 16.179 5.10209 13.9749 6.46156 12.6154L8.30771 10.7692" stroke-width="2" stroke-linecap="round"/>
    <path d="M14.4615 9.53857L9.23078 14.7693" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
