<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7 18L6 18" stroke-width="2" stroke-linecap="round"/>
    <path d="M18 18L11 18" stroke-width="2" stroke-linecap="round"/>
    <path d="M7 12L6 12" stroke-width="2" stroke-linecap="round"/>
    <path d="M18 12L11 12" stroke-width="2" stroke-linecap="round"/>
    <path d="M7 6L6 6" stroke-width="2" stroke-linecap="round"/>
    <path d="M18 6L11 6" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
