<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M13 18L16 18C17.1046 18 18 17.1046 18 16L18 8C18 6.89543 17.1046 6 16 6L13 6" stroke-width="2" stroke-linecap="round"/>
    <path d="M13.5 12H7.5" stroke-width="2" stroke-linecap="round"/>
    <path d="M8.50008 9.50004L6.00012 12L8.50008 14.5" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
