<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="10.9615" cy="11.0387" r="4.96154" stroke-width="2"/>
    <path d="M14.9359 14.0195L17.9167 17.0003" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path,
svg circle {
  stroke: currentColor
}
</style>
