<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="path-1-inside-1" fill="white">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5 4C4.44772 4 4 4.44772 4 5V16C4 16.5523 4.44772 17 5 17H11.8057L15.4277 20.6221C16.0577 21.252 17.1348 20.8059 17.1348 19.915V17H19C19.5523 17 20 16.5523 20 16V5C20 4.44772 19.5523 4 19 4H5Z"/>
    </mask>
    <path d="M11.8057 17L13.2199 15.5858L12.6341 15H11.8057V17ZM15.4277 20.6221L16.8419 19.2078L16.8419 19.2078L15.4277 20.6221ZM17.1348 17V15H15.1348V17H17.1348ZM6 5C6 5.55228 5.55228 6 5 6V2C3.34315 2 2 3.34315 2 5H6ZM6 16V5H2V16H6ZM5 15C5.55229 15 6 15.4477 6 16H2C2 17.6569 3.34315 19 5 19V15ZM11.8057 15H5V19H11.8057V15ZM10.3914 18.4142L14.0135 22.0363L16.8419 19.2078L13.2199 15.5858L10.3914 18.4142ZM14.0135 22.0363C15.9034 23.9262 19.1348 22.5877 19.1348 19.915H15.1348C15.1348 19.0241 16.212 18.5779 16.8419 19.2078L14.0135 22.0363ZM19.1348 19.915V17H15.1348V19.915H19.1348ZM19 15H17.1348V19H19V15ZM18 16C18 15.4477 18.4477 15 19 15V19C20.6569 19 22 17.6569 22 16H18ZM18 5V16H22V5H18ZM19 6C18.4477 6 18 5.55228 18 5H22C22 3.34315 20.6569 2 19 2V6ZM5 6H19V2H5V6Z" mask="url(#path-1-inside-1)"/>
  </svg>
</template>

<style scoped>
svg > path {
  fill: currentColor
}
</style>
