<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 5L6 5C4.89543 5 4 5.89543 4 7L4 15C4 16.1046 4.89543 17 6 17L18 17C19.1046 17 20 16.1046 20 15L20 14" stroke-width="2"/>
    <path d="M20 11V6C20 5.44772 19.5523 5 19 5H14" stroke-width="2" stroke-linecap="square"/>
    <path d="M19 6L14 11" stroke-width="2" stroke-linecap="round"/>
    <path d="M8 20H16" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
