<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 19H18" stroke-width="2" stroke-linecap="round"/>
    <path d="M9.18539 15L6 15L6 11.8146L13.4004 4.41421L16.5858 7.5996L9.18539 15Z" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
