<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.5 11.0303C17.1667 11.4613 17.1667 12.5387 16.5 12.9697L10.5 16.8483C9.83333 17.2793 9 16.7406 9 15.8787L9 8.12134C9 7.25942 9.83333 6.72072 10.5 7.15168L16.5 11.0303Z" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
