<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.9998 18L11.9998 6" stroke-width="2" stroke-linecap="round"/>
    <path d="M17.9998 18L17.9998 12" stroke-width="2" stroke-linecap="round"/>
    <path d="M5.99976 18L5.99976 16" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
