<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M9 19H8.5C8.22386 19 8 18.7761 8 18.5V16" stroke-width="2" stroke-linecap="round"/>
    <path d="M15 13L15.5 13C15.7761 13 16 13.2239 16 13.5L16 16" stroke-width="2" stroke-linecap="round"/>
    <path d="M15 5L15.5 5C15.7761 5 16 5.22386 16 5.5L16 8" stroke-width="2" stroke-linecap="round"/>
    <path d="M8 16H5.5C5.22386 16 5 15.7761 5 15.5V12" stroke-width="2" stroke-linecap="round"/>
    <path d="M15 9L18.5 9C18.7761 9 19 9.22386 19 9.5L19 13" stroke-width="2" stroke-linecap="round"/>
    <path d="M19 12L19 15.5C19 15.7761 18.7761 16 18.5 16L16 16" stroke-width="2" stroke-linecap="round"/>
    <path d="M8 16L8 13.5C8 13.2239 8.22386 13 8.5 13L15 13" stroke-width="2" stroke-linecap="round"/>
    <path d="M16 16L16 18.5C16 18.7761 15.7761 19 15.5 19L9 19" stroke-width="2" stroke-linecap="round"/>
    <path d="M8 8L8 5.5C8 5.22386 8.22386 5 8.5 5L15 5" stroke-width="2" stroke-linecap="round"/>
    <path d="M5 13L5 9.5C5 9.22386 5.22386 9 5.5 9L15 9" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
