<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="fill"
      d="M14.9469 10.5865L14.1407 11.1781L14.9469 10.5865ZM13.9641 4.86603L13.0981 4.36603L13.9641 4.86603ZM14.8301 5.36603L15.6962 5.86603L16.6962 4.13397L15.8301 3.63397L14.8301 5.36603ZM13.1048 8.35437L14.8301 5.36603L13.0981 4.36603L11.3728 7.35437L13.1048 8.35437ZM6.61603 11.5933C7.53609 9.99967 9.28489 9.1799 11.0075 9.36911L11.2259 7.38107C8.74324 7.10838 6.21485 8.28812 4.88397 10.5933L6.61603 11.5933ZM8.26314 17.7404C6.11082 16.4977 5.37338 13.7456 6.61603 11.5933L4.88397 10.5933C3.08905 13.7022 4.15424 17.6775 7.26314 19.4724L8.26314 17.7404ZM14.4103 16.0933C13.1676 18.2456 10.4155 18.983 8.26314 17.7404L7.26314 19.4724C10.372 21.2674 14.3474 20.2022 16.1423 17.0933L14.4103 16.0933ZM14.1407 11.1781C15.1659 12.5753 15.3303 14.4997 14.4103 16.0933L16.1423 17.0933C17.4732 14.7881 17.2307 12.0086 15.7532 9.99492L14.1407 11.1781ZM15.6962 5.86603L13.9708 8.85437L15.7029 9.85437L17.4282 6.86603L15.6962 5.86603ZM11.3728 7.35437C11.3764 7.34804 11.3768 7.35461 11.3533 7.36509C11.3264 7.3771 11.281 7.38712 11.2259 7.38107L11.0075 9.36911C11.7655 9.45237 12.645 9.15085 13.1048 8.35437L11.3728 7.35437ZM15.7532 9.99492C15.7204 9.95023 15.7064 9.90591 15.7033 9.87659C15.7007 9.851 15.7065 9.84804 15.7029 9.85437L13.9708 8.85437C13.511 9.65085 13.6896 10.5632 14.1407 11.1781L15.7532 9.99492ZM15.6962 5.86603L17.4282 6.86603C17.9805 5.90944 17.6527 4.68626 16.6962 4.13397L15.6962 5.86603ZM15.8301 3.63397C14.8735 3.08169 13.6504 3.40944 13.0981 4.36603L14.8301 5.36603L14.8301 5.36603L15.8301 3.63397Z"
    />
    <path
      class="stroke"
      d="M16 14.1782H5"
      stroke-width="2"
      stroke-linecap="round"
    />
    <path
      class="stroke"
      d="M13.5981 3.5L17.9283 6"
      stroke-width="2"
      stroke-linecap="round"
    />
  </svg>
</template>

<style scoped>
svg path.stroke {
  stroke: currentColor;
}
svg path.fill {
  fill: currentColor;
}
</style>
