<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M13.5354 19.6421L8.69672 14.8034L3.858 9.9647C3.80627 9.91297 3.82578 9.82501 3.89454 9.80001L19.1019 4.27005C19.1817 4.24103 19.2591 4.3184 19.2301 4.3982L13.7001 19.6056C13.6751 19.6744 13.5872 19.6939 13.5354 19.6421Z" stroke-width="2"/>
    <path d="M19.3033 4.19678L8.69674 14.8034" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
