<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.51677 7.16867L11.5168 4.40893C11.8175 4.24292 12.1825 4.24292 12.4832 4.40893L17.4832 7.16867C17.802 7.34464 18 7.68001 18 8.04416V10.2424C18 11.9713 17.38 13.9044 16.3057 15.5428C15.2299 17.1834 13.7628 18.4335 12.1509 18.9253C12.0526 18.9553 11.9474 18.9553 11.8491 18.9253C10.2372 18.4335 8.77006 17.1834 7.69429 15.5428C6.61996 13.9044 6 11.9713 6 10.2424V8.04416C6 7.68001 6.19796 7.34464 6.51677 7.16867Z" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
