<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12.2352 18.1492C12.8651 17.8353 13.3874 17.4168 13.7868 16.8775C14.3399 16.129 14.8238 15.3323 15.3538 14.5677C15.5228 14.3262 15.7071 14.0848 15.9222 13.8997C16.4215 13.4651 17.1051 13.5858 17.4892 14.1331C17.8348 14.624 17.904 15.1954 17.9116 15.7749C17.9193 16.3785 17.904 16.9822 17.904 17.5858C17.904 17.7226 17.904 17.8675 17.904 18.0284C18.3187 18.0284 18.7335 18.0204 19.1483 18.0284C19.6937 18.0365 20.0547 18.4711 19.9932 19.0345C19.9472 19.5013 19.6169 19.8232 19.1329 19.8313C18.4416 19.8474 17.7503 19.8474 17.059 19.8313C16.5136 19.8232 16.1757 19.4208 16.1757 18.8333C16.1757 18.0928 16.1757 17.3604 16.1757 16.62C16.1757 16.5476 16.168 16.4751 16.168 16.3544C16.0989 16.4429 16.0605 16.4993 16.0221 16.5556C15.469 17.288 14.939 18.0526 14.3475 18.7528C13.8713 19.3242 13.2722 19.7427 12.5501 19.9359C11.6975 20.1612 10.9832 19.8474 10.6298 19.0989C10.4224 18.6643 10.4608 18.2055 10.5223 17.7387C10.6836 16.3946 11.0753 15.0989 11.4056 13.795C11.7897 12.2659 12.1968 10.7367 12.4426 9.16727C12.5578 8.44292 12.65 7.71053 12.5885 6.97009C12.5271 6.2055 12.1661 6.01234 11.5593 6.43085C11.0062 6.81717 10.5607 7.3564 10.1229 7.87954C9.2088 8.96606 8.38691 10.125 7.67255 11.3564C6.92747 12.6441 6.2208 13.948 5.8521 15.4127C5.75993 15.7669 5.7292 16.1532 5.71384 16.5234C5.68312 17.119 5.96732 17.5294 6.47428 17.7387C6.78921 17.8675 7.11951 17.9721 7.4498 18.0043C8.02589 18.0526 8.28705 18.5274 8.27169 18.9298C8.24865 19.4771 7.89531 19.8554 7.37299 19.8152C6.47428 19.7508 5.63703 19.4852 4.96876 18.8011C4.40035 18.2136 4.0931 17.4973 4.01629 16.6602C3.92411 15.7508 4.16223 14.9057 4.43108 14.0687C4.81514 12.8614 5.38355 11.7427 6.02109 10.6643C7.05037 8.94192 8.21024 7.32421 9.56214 5.85137C10.192 5.16727 10.8833 4.56365 11.7359 4.20147C12.3888 3.92783 13.0264 3.87149 13.5794 4.41073C13.9788 4.79705 14.2016 5.28799 14.3091 5.84333C14.4628 6.6723 14.3859 7.50127 14.2938 8.3222C14.0249 10.8011 13.3259 13.1753 12.7268 15.5818C12.5348 16.3624 12.4042 17.1673 12.2429 17.956C12.2429 18.0043 12.2429 18.0606 12.2352 18.1492Z" stroke-width="0.3"/>
  </svg>
</template>

<style scoped>
svg path {
  fill: currentColor;
  stroke: currentColor;
}
</style>
