<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.5578 4.83817C11.7454 4.4826 12.2546 4.4826 12.4422 4.83817L14.3305 8.41705C14.4028 8.55417 14.5347 8.64997 14.6874 8.67641L18.6747 9.36629C19.0708 9.43484 19.2282 9.91915 18.948 10.2075L16.1277 13.1092C16.0197 13.2204 15.9693 13.3754 15.9914 13.5289L16.5674 17.5341C16.6246 17.932 16.2126 18.2314 15.8519 18.054L12.2206 16.2685C12.0815 16.2001 11.9185 16.2001 11.7794 16.2685L8.14815 18.054C7.78737 18.2314 7.37539 17.932 7.43262 17.5341L8.00861 13.5289C8.03068 13.3754 7.98031 13.2204 7.87226 13.1092L5.05204 10.2075C4.77184 9.91915 4.92921 9.43484 5.32535 9.36629L9.31256 8.67641C9.46533 8.64997 9.59719 8.55417 9.66954 8.41705L11.5578 4.83817Z" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
