<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6 12L18 12" stroke-width="2" stroke-linecap="round"/>
    <path d="M6 18L12 18" stroke-width="2" stroke-linecap="round"/>
    <path d="M6 6L18 6" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
