<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 12H17C17.5523 12 18 12.4477 18 13V17C18 17.5523 17.5523 18 17 18H12V12Z" stroke-width="2"/>
    <path d="M6 13C6 12.4477 6.44772 12 7 12H12V18H7C6.44772 18 6 17.5523 6 17V13Z" stroke-width="2"/>
    <path d="M9 7C9 6.44772 9.44772 6 10 6H14C14.5523 6 15 6.44772 15 7V11C15 11.5523 14.5523 12 14 12H10C9.44772 12 9 11.5523 9 11V7Z" stroke-width="2"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
