<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.849 18.8678L15.1157 5.86784C15.0495 5.37103 14.6257 5 14.1245 5H9.87552C9.37431 5 8.95053 5.37103 8.88429 5.86784L7.15096 18.8678C7.07102 19.4673 7.53739 20 8.14218 20H15.8578C16.4626 20 16.929 19.4673 16.849 18.8678Z" stroke-width="2"/>
    <path d="M8.5 9.5H15" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor
}
</style>
