<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 8L7 8" stroke-width="2" stroke-linecap="round"/>
    <path d="M11 8L19 8" stroke-width="2" stroke-linecap="round"/>
    <circle cx="9" cy="8" r="2" stroke-width="2"/>
    <path d="M19 16H17" stroke-width="2" stroke-linecap="round"/>
    <path d="M12 16H5" stroke-width="2" stroke-linecap="round"/>
    <circle cx="15" cy="16" r="2" transform="rotate(-180 15 16)" stroke-width="2"/>
  </svg>

</template>

<style scoped>
svg path,
svg circle {
  stroke: currentColor
}
</style>
