<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6 14L6 16C6 17.1046 6.89543 18 8 18L16 18C17.1046 18 18 17.1046 18 16L18 14" stroke-width="2" stroke-linecap="round"/>
    <path d="M12.0001 13.4995L12.0001 7.4995" stroke-width="2" stroke-linecap="round"/>
    <path d="M14.5001 8.49947L12.0002 5.9995L9.50022 8.49947" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<style scoped>
svg path {
  stroke: currentColor;
}
</style>
