<template>
  <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.79207 6.45396L8 4.85691V8.02214L8.79207 6.45396ZM4.48047 14V17.0007H7.43247V14H4.48047ZM9.59413 13.7383L14.4013 4.2207H17.5125V17.0007H14.5605V9.3867L11.8065 14.9307H10.1865L9.59413 13.7383Z"/>
    <mask id="mask0" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="12">
      <rect width="16" height="12" fill="white"/>
    </mask>
    <g mask="url(#mask0)">
      <path d="M4.54006 11.108V8.678H5.67406C5.98606 8.678 6.22606 8.618 6.39406 8.498C6.56206 8.366 6.69406 8.162 6.79006 7.886L6.95206 7.454L2.03806 -1.78H5.29606L8.26606 4.466L10.8941 -1.78H14.0081L9.02206 9.272C8.68606 9.956 8.29006 10.436 7.83406 10.712C7.37806 10.976 6.77806 11.108 6.03406 11.108H4.54006Z"/>
    </g>
  </svg>
</template>

<style scoped>
svg path {
  fill: currentColor
}
</style>
