<template>
  <div class="position-absolute h-full w-full overflow-hidden">
    <v-row no-gutters class="h-full overflow-hidden">
      <v-col class="h-full overflow-y-auto" ref="scrolling">
        <div>
          <div id="sub-header-page" class="position-sticky white" style="z-index: 2; top: 0;">
            <div class="cfr-container pt-6">
              <v-breadcrumbs :items="breadcrumbs" class="pa-0 mb-6" />
              <section class="py-2">
                <cfrSlideSelectLetter
                  v-model="currentLetter"
                  :disabled-letters="disabledLetters"
                />
              </section>
            </div>
            <v-divider />
          </div>
          <div class="cfr-container">
            <section class="my-2">
              <v-row class="my-3" dense>
                <v-col cols="auto">
                  <v-hover v-slot="{ hover }">
                    <v-btn
                      v-tippy="{ content: 'В избранном', placement: 'right' }"
                      fab
                      depressed
                      rounded
                      :color="hover ? 'orange lighten-4' : 'grey lighten-3'"
                      large
                      class="before-none transition-swing"
                      @click="filters.favorite = !filters.favorite"
                    >
                      <v-icon
                        :color="filters.favorite || hover ? 'orange' : 'grey lighten-1'"
                        v-text="'$bookmark'"
                      />
                    </v-btn>
                  </v-hover>
                </v-col>
                <v-col cols="12" md="auto">
                  <cfr-select
                    v-model="filters.org"
                    filled
                    rounded
                    dense
                    hide-details
                    placeholder="Организация"
                    clearable
                    :background-color="filters.org ? 'primary' : undefined"
                    :dark="!!filters.org"
                    :items="selectItems"
                    item-value="id"
                    item-text="title"
                  />
                </v-col>
              </v-row>
            </section>
            <section class="mt-5 mb-2">
              <template v-for="(items, letter, i) in groupedUsers">
                <div
                  v-if="items.length > 0"
                  :id="`users-${letter.toUpperCase()}`"
                  :key="i"
                >
                  <div
                    class="grey--text font-weight-bold text-uppercase"
                    v-text="letter"
                  />
                  <div class="mt-4">
                    <v-list two-line>
                      <v-row no-gutters>
                        <v-col v-for="item in items" :key="item.id" cols="12" md="3" class="d-flex flex-column">
                          <userListItem
                            :value="item"
                            :selected="currentUserId === item.id"
                            @click.native="clickItem(item)" />
                          <v-divider inset />
                        </v-col>
                      </v-row>
                    </v-list>
                  </div>
                </div>
              </template>
            </section>
          </div>
        </div>
      </v-col>
      <v-col cols="auto" class="h-full overflow-y-auto">
        <v-divider vertical class="position-absolute" style="z-index: 2" />
        <div>
          <v-navigation-drawer :mini-variant="!currentItem" :mini-variant-width="0" permanent floating>
            <v-btn class="ma-2 ma-xl-5 position-absolute transition-fast-in-fast-out btn-close-right-drawer"
                   icon rounded depressed width="32" height="32" @click.stop="currentUserId = null">
              <v-icon color="white">mdi-close</v-icon>
            </v-btn>
            <v-card tile :elevation="0" class="pb-5" v-if="!!currentItem">
              <v-img
                :aspect-ratio="16/9"
                width="100%"
                src="https://png.cmtt.space/paper-media/10/70/b6/d8dbf3315cefaa.jpg"
                class="white--text align-end"
              >
                <v-card-title class="d-block px-5 pt-11 pb-5 v-card__title_img">
                  <h2 class="mb-1 text-body-2 font-weight-semi-bold white--text" v-text="currentItem.name" />
                  <div class="text-body-2 white--text" v-text="currentItem.position" />
                </v-card-title>
              </v-img>

              <v-divider />
              <v-card-text class="pa-0">
                <v-expansion-panels flat hover>
                  <v-expansion-panel>
                    <v-expansion-panel-header>О эксперте</v-expansion-panel-header>
                    <v-expansion-panel-content class="px-5 pt-4">
                      <div class="text-body-2">
                        <div class="mb-4">
                          <div class="grey--text">Образование</div>
                          <div class="black--text">Институт стран Азии и Африки МГУ</div>
                        </div>
                        <div class="mb-4">
                          <div class="grey--text">Ученая степень</div>
                          <div class="black--text">Доктор технических наук</div>
                        </div>
                        <div class="mb-4">
                          <div class="grey--text">Ученое звание</div>
                          <div class="black--text">Доцент</div>
                        </div>
                        <div class="mb-4">
                          <div class="grey--text">Организация</div>
                          <div class="black--text">Росатом</div>
                        </div>
                        <div class="mb-4">
                          <div class="grey--text">Аффилиации</div>
                          <div class="black--text">Цифрум</div>
                        </div>
                        <div class="mb-4">
                          <div class="grey--text">Индекс Хирша</div>
                          <div class="black--text">9,1</div>
                        </div>
                        <div class="mb-4">
                          <div class="grey--text">Российский индекс научного цитирования</div>
                          <div class="black--text">10</div>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                    <v-divider />
                  </v-expansion-panel>
                  <v-expansion-panel>
                    <v-expansion-panel-header>Контакты</v-expansion-panel-header>
                    <v-expansion-panel-content class="px-5 pt-4">
                      <div class="text-body-2">
                        <div class="mb-4">
                          <div class="grey--text">Адрес</div>
                          <div class="black--text">Москва, ул. Знаменка, д.1</div>
                        </div>
                        <div class="mb-4">
                          <div class="grey--text">Телефон</div>
                          <div class="black--text">
                            <a href="tel:+79999999999" class="text-decoration-none">+7 (999) 999 99 99</a>
                          </div>
                        </div>
                        <div v-if="!!currentItem.email" class="mb-4">
                          <div class="grey--text">Email</div>
                          <div class="black--text">
                            <a :href="`mailto:${currentItem.email}`"
                               class="text-decoration-none">{{ currentItem.email }}</a>
                          </div>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                    <v-divider />
                  </v-expansion-panel>
                  <v-expansion-panel>
                    <v-expansion-panel-header>Действия</v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-list
                        dense
                        class="pa-0"
                      >
                        <v-list-item-group>
                          <template v-for="(item, i) in currentItemActions">
                            <v-list-item
                              :key="i"
                              class="py-05"
                              @click="handleClickItemActions(item)"
                            >
                              <v-list-item-icon>
                                <v-icon v-text="item.icon.name" :color="item.icon.color" />
                              </v-list-item-icon>

                              <v-list-item-content>
                                <v-list-item-title class="text-body-2 font-weight-regular" v-text="item.text" />
                              </v-list-item-content>
                            </v-list-item>
                          </template>
                        </v-list-item-group>
                      </v-list>
                    </v-expansion-panel-content>
                    <v-divider />
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-navigation-drawer>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { commonMixin } from "../mixins/common";
import { clipboardMixin } from "../mixins/clipboard";

export default {
  mixins: [commonMixin, clipboardMixin],
  data: () => ({
    breadcrumbs: [
      {
        text: "Интеллектум",
        disabled: false,
        href: "/"
      },
      {
        text: "База знаний",
        disabled: true,
        href: "/bk"
      },
      {
        text: "Эксперты",
        disabled: true,
        href: "/experts"
      }
    ],
    currentLetter: "а",
    filters: {
      favorite: false,
      org: null
    },
    users: [],
    currentUserId: null,
    selectItems: [
      {
        id: 1,
        title: "Value 1"
      },
      {
        id: 2,
        title: "Value 2"
      },
      {
        id: 3,
        title: "Value 3"
      },
      {
        id: 4,
        title: "Value 4"
      },
      {
        id: 5,
        title: "Value 5"
      },
      {
        id: 6,
        title: "Value 6"
      }
    ],
    actions: [
      { text: "Скачать анкету", icon: { name: "$download" } },
      { text: "Копировать ссылку", icon: { name: "$linkVariant" }, action: "currentItemCopyLink" }
    ]
  }),
  computed: {
    alphabet() {
      return this.$store.state.app.alphabet;
    },
    filteredUsers() {
      let res = [...this.users]
      if(this.filters.favorite) {
        res = res.filter(i => i.favorite === true)
      }
      return res
    },
    groupedUsers() {
      return this.alphabet.reduce((acc, letter) => {
        const usersLetter = this.filteredUsers.filter(
          (user) => user.name[0].toUpperCase() === letter.toUpperCase()
        );
        return {
          ...acc,
          [letter]: usersLetter
        };
      }, {});
    },
    disabledLetters() {
      return this.alphabet.reduce((acc, letter) => {
        const usersLetter = this.filteredUsers.find(
          (user) => user.name[0].toUpperCase() === letter.toUpperCase()
        );
        return usersLetter ? [...acc] : [...acc, letter];
      }, []);
    },
    currentItem() {
      return this.users.find(i => i.id === this.currentUserId);
    },
    currentItemActions() {
      if (!this.currentItem) return [];

      const actions = [...this.actions];
      if (this.currentItem.favorite) {
        actions.push({
          text: "Убрать из избранного",
          icon: { name: "$bookmark", color: "orange" },
          action: "currentItemToggleFavorite"
        });
      } else {
        actions.push({
          text: "Добавить в избранное",
          icon: { name: "$bookmarkOutline" },
          action: "currentItemToggleFavorite"
        });
      }
      return actions;
    }
  },
  watch: {
    currentLetter(newVal) {
      const element = document.getElementById(`users-${newVal.toUpperCase()}`);
      const subheader = document.getElementById(`sub-header-page`);

      this.$nextTick(() => {
        this.$refs.scrolling.scroll({
          top: element.offsetTop - subheader.clientHeight - 8,
          behavior: "smooth"
        });
      });
    }
  },
  methods: {
    clickItem(item) {
      if (this.currentUserId === item.id) {
        this.currentUserId = null;
      } else {
        this.currentUserId = item.id;
      }
    },
    handleClickItemActions(item) {
      if (this.$options.methods[item.action]) { // guard to prevent runtime errors
        this.$options.methods[item.action].call(this); // Вызываем с сохранением текущего контекста
      }
    },
    currentItemToggleFavorite() {
      const item = this.users.find(i => i.id === this.currentUserId);
      if (item) {
        item.favorite = !item.favorite;
      }
    },
    currentItemCopyLink() {
      this.$copyText(`/users/${this.currentUserId}`).then((e) => {
        this.onCopySuccess(e);
      }, (e) => {
        this.onCopyError();
      });
    }
  },
  async fetch() {
    this.users = await this.$api.users.get();
  }
};
</script>

<style scoped lang="scss">
.v-card__title_img {
  background: linear-gradient(180deg, rgba(65, 65, 65, 0) 0%, rgba(65, 65, 65, 0.6) 100%);
}

.btn-close-right-drawer {
  top: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
</style>
