<template>
  <div>
    <div class="cfr-container"><v-breadcrumbs :items="breadcrumbs" /></div>
    <div class="px-10">
      <h2 class="mt-7 mb-3 text-h5">Знаниевые графы</h2>
      <graph />
    </div>
  </div>
</template>

<script>
export default {
  components: { Graph: () => import('~/components/Graph.vue') },
  data() {
    return {
      breadcrumbs: [
        {
          text: 'Навигатор',
          disabled: false,
          href: '/',
        },
        {
          text: 'Знаниевые графы',
          disabled: true,
          href: '/graphs',
        },
      ],
    }
  },
}
</script>
