<template>
  <v-row>
    <v-col cols="12" md="9" xl="10">
      <div class="cfr-container">
        <section class="my-5 my-xl-10">
          <div class="mb-6">
            <v-text-field
              label="Поиск"
              type="search"
              prepend-inner-icon="$magnify"
              hide-details
              single-line
              outlined
            />
          </div>
          <v-row>
            <v-col
              class="d-flex"
              cols="12"
              md="auto"
            >
              <cfr-select
                v-model="filters.one"
                filled
                rounded
                dense
                hide-details
                placeholder="Период"
                clearable
                :background-color="filters.one ? 'primary' : undefined"
                :dark="!!filters.one"
                :items="filterList"
                item-value="id"
                item-text="name"
              />
            </v-col>
          </v-row>
        </section>
        <section class="my-5 my-xl-10">
          <v-row>
            <v-col cols="12" md="4">
              <v-responsive :aspect-ratio="5/4">
                <v-card class="rounded-xl h-full w-full">
                  <v-img
                    width="100%"
                    height="100%"
                    src="https://cloud.pulse19.ru/uploads/2020/11/umnyj-gorod-rosatom.-foto-www.tardis.pro_.jpg"
                    class="align-end"
                  >

                    <v-card-title class="white--text">
                      <h3 class="mb-0 text-body-1 text-shadow">
                        Что нас ждет в новом деловом сезоне?
                      </h3>
                    </v-card-title>
                  </v-img>
                </v-card>
              </v-responsive>
            </v-col>
            <v-col cols="12" md="8">
              <div class="position-relative w-full h-full">
                <v-card class="position-md-absolute rounded-xl w-full h-full">
                  <v-img
                    width="100%"
                    height="100%"
                    src="https://images.pexels.com/photos/3778958/pexels-photo-3778958.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=627&amp;w=1200"
                    class="align-end"
                  >

                    <v-card-title class="white--text">
                      <h3 class="mb-0 text-body-1 text-shadow">
                        Что нас ждет в новом деловом сезоне? Ключевые планы Блока цифровизации на осень
                      </h3>
                    </v-card-title>
                  </v-img>
                </v-card>
              </div>
            </v-col>
          </v-row>
        </section>
        <section>
          <v-row>
            <v-col cols="12" md="4">
              <div>
                <h3 class="text-h6" v-text="'Медиатека'" />
                <div class="my-5 my-xl-10">
                  <div class="mb-5 mb-xl-10">
                    <v-row>
                      <v-col cols="4">
                        <v-img :aspect-ratio="3/4" src="http://library.mstu.edu.ru/books/files/20131106_1030.jpg" />
                      </v-col>
                      <v-col cols="4">
                        <v-img :aspect-ratio="3/4"
                               src="http://litgid.com/upload/iblock/cb0/cb035a2bf0d70bacda242946234db1c7.jpg" />
                      </v-col>
                      <v-col cols="4">
                        <v-img :aspect-ratio="3/4" src="https://ruslania.com/pictures/books_photos/71/712131/o.jpg" />
                      </v-col>
                    </v-row>
                  </div>
                  <div>
                    <p>
                      «В поисках энергии», «Беседы о ядерной энергетике», «Теплотехника». Новая подборка книг уже в
                      Медиатеке
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <h3 class="text-h6 mb-5 mb-xl-10" v-text="'Подкаст'" />
                <v-list
                  two-line
                >
                  <v-list-item
                    v-for="item in podcasts"
                    :key="item.id"
                    class="mb-3 mb-xl-5 align-start px-0"
                  >
                    <v-list-item-avatar class="align-self-start my-0">
                      <v-icon
                        class="black"
                        dark
                      >
                        mdi-play
                      </v-icon>
                    </v-list-item-avatar>

                    <v-list-item-content class="align-self-start py-0">
                      <v-list-item-title class="text-wrap" v-text="item.title"></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </div>
            </v-col>
            <v-col cols="12" md="8">
              <h3 class="text-h6 mb-5 mb-xl-10" v-text="'Будь в цифре'" />
              <postList :value="news" />
            </v-col>
            <v-col cols="12">
              <v-row>
                <v-col cols="12">
                  <h3 class="text-h6" v-text="'Индустрия'" />
                </v-col>
                <v-col v-for="item in industry" :key="item.id" cols="12" md="3">
                  <postCardItem :value="item" />
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row>
                <v-col cols="12">
                  <h3 class="text-h6" v-text="'Образование'" />
                </v-col>
                <v-col v-for="item in education" :key="item.id" cols="12" md="3">
                  <postCardItem :value="item" />
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </section>
      </div>
    </v-col>
    <v-col cols="12" md="3" xl="2">
      <aside class="h-full">
        <template v-for="(section, is) in items">
          <v-card :key="is" flat>
            <v-card-title class="pb-0">
              <v-row align="center">
                <v-col><h3 class="text-body-2 font-weight-semi-bold" v-text="section.title" /></v-col>
                <v-col cols="auto">
                  <cfr-menu-actions :items="itemsAddActions"/>
                </v-col>
              </v-row>
            </v-card-title>
            <v-card-text>
              <v-list
                nav
                dense
                class="px-0"
              >
                <v-list-item-group
                  color="primary"
                >
                  <v-list-item
                    v-for="(item, i) in section.items"
                    :key="i"
                  >
                    <v-list-item-icon>
                      <v-icon v-text="item.icon"></v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                      <v-list-item-title class='text-body-2 font-weight-regular' v-text="item.text"/>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-card-text>
          </v-card>
          <v-divider :key="`divider-${is}`"/>
        </template>
      </aside>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: 'Поручения (to DO)',
          items: [
            { text: 'Создать поручение', icon: '$plus' }
          ]
        },
        {
          title: 'Мое пространство',
          items: [
            { text: 'Загрузить документ', icon: '$download' },
            { text: 'Мои документы', icon: '$fileOutline' }
          ]
        },
        {
          title: 'Редактор',
          items: [
            { text: 'Новая статья', icon: '$plus' },
            { text: 'Новый тест', icon: '$text' },
            { text: 'Новый опрос', icon: '$poll' },
            { text: 'Редактор шаблонов', icon: '$viewAgendaOutline' },
          ]
        }
      ],
      filterList: [
        {
          id: 1,
          name: 'За все время'
        },
        {
          id: 2,
          name: 'За неделю'
        },
        {
          id: 3,
          name: 'За сегодня'
        }
      ],
      filters: {
        one: 1
      },
      news: [
        {
          id: 1,
          title: 'Цифровой прорыв: кейс Росатома на финтех-хакатоне',
          img: 'https://helpinver.com/upload/iblock/2a8/13.09.21.21.jpg',
          category_id: 1,
          category_title: 'Событие недели'
        },
        {
          id: 2,
          title: 'Росатом на ВЭФ: презентация виртуального пространства',
          img: 'https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/95507769746879.5b8c875a8c26d.jpg',
          category_id: 1,
          category_title: 'Событие недели'
        },
        {
          id: 3,
          title: 'Евгений Абакумов – в II федеральном просветительском марафоне «Новое знание»',
          img: 'https://www.atomic-energy.ru/files/styles/center/public/images/2018/10/abakumov_745x745.jpg?itok=ZYwoOSyo',
          category_id: 2,
          category_title: 'Интервью и выступления'
        },
        {
          id: 4,
          title: 'Цифровой прорыв: кейс Росатома на финтех-хакатоне',
          img: 'https://helpinver.com/upload/iblock/2a8/13.09.21.21.jpg',
          category_id: 1,
          category_title: 'Событие недели'
        },
        {
          id: 5,
          title: 'Росатом на ВЭФ: презентация виртуального пространства',
          img: 'https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/95507769746879.5b8c875a8c26d.jpg',
          category_id: 1,
          category_title: 'Событие недели'
        },
        {
          id: 6,
          title: 'Евгений Абакумов – в II федеральном просветительском марафоне «Новое знание»',
          img: 'https://www.atomic-energy.ru/files/styles/center/public/images/2018/10/abakumov_745x745.jpg?itok=ZYwoOSyo',
          category_id: 2,
          category_title: 'Интервью и выступления'
        },
      ],
      podcasts: [
        {
          id: 1,
          title: 'Сергей Мигалин – о стратегии развития ЦОДов и шаблоне управления АЭС'
        },
        {
          id: 2,
          title: 'Росатом на ВЭФ: презентация виртуального пространства'
        },
        {
          id: 3,
          title: 'Евгений Абакумов – об ИТ-треке конкурса «Лидеры России»'
        },
        {
          id: 4,
          title: 'Руслан Юнусов – о развитии квантового мира'
        },
      ],
      industry: [
        {
          id: 1,
          title: 'Как цифровые двойники помогают добывать нефть и газ',
          img: 'https://communalnews.com/wp-content/uploads/2019/11/image-188.png',
          category_id: 1,
          category_title: 'Четвертая промышленная революция'
        },
        {
          id: 2,
          title: '7 мифов о биометрии: разбираем с экспертом',
          img: 'https://zanmsk.ru/wp-content/uploads/2021/06/scale_1200-1.jpg',
          category_id: 1,
          category_title: 'Безопасность'
        },
        {
          id: 3,
          title: 'Как в Китае используют искусственный интеллект в больницах и на дорогах',
          img: 'https://root-nation.com/wp-content/uploads/2020/05/ai-vs-covid-19-1.jpg',
          category_id: 2,
          category_title: 'ИИ'
        },
        {
          id: 4,
          title: 'Сутки вместо недели: зачем платформам торгового финансирования блокчейн',
          img: 'https://m.seonews.ru/upload/iblock/86f/86fa9d96b78e933d7a243991185528e7.jpg',
          category_id: 1,
          category_title: 'Блокчейн'
        }
      ],
      education: [
        {
          id: 1,
          title: 'Скиллсет профессионала: как думать о себе на языке навыков',
          img: 'https://cdn2.mhpbooks.com/2013/10/shutterstock_1279575291.jpg',
          category_id: 1,
          category_title: 'Подкаст'
        },
        {
          id: 2,
          title: 'Как в России заинтересовать молодежь карьерой в сфере промышленности',
          img: 'https://rognowsky.ru/wp-content/uploads/2020/01/k73xr_FYUUc.jpg',
          category_id: 1,
          category_title: 'Россия'
        },
        {
          id: 3,
          title: 'Г — Геймификация: как превратить рабочий и учебный процессы в игру',
          img: 'https://uploads-ssl.webflow.com/56c10d0911eb064f4182da24/5ec6f2517e0c4026cd657efb_in-management.png',
          category_id: 2,
          category_title: 'Подкаст'
        },
        {
          id: 4,
          title: '7 профессий будущего, за которые станут хорошо платить',
          img: 'https://where.ru/upload/images/2021/04/%D0%BF%D1%80%D0%BE%D1%84%D0%B5%D1%81%D1%81%D0%B8%D0%B8-3.jpg',
          category_id: 1,
          category_title: 'Саморазвитие'
        }
      ],
      itemsAddActions: [
        {title: 'Действие 1'},
        {title: 'Действие 2'},
        {title: 'Действие 3'}
      ]
    }
  }
}
</script>

<style scoped lang='scss'>
// ToDo: заменить цвет на переменную
aside {
  border-left: 1px solid #ededed;
}

.text-shadow {
  text-shadow: 0 2px 7px rgb(0 0 0);
}
</style>
