<template>
  <div>
    <v-row no-gutters>
      <v-col>
        <div class="cfr-container pr-md-0">
          <v-tabs :slider-size="3">
            <v-tab
              v-for="(item, i) in tabs"
              :key="i"
              :class="{ 'mr-5': i < tabs.length - 1 }"
            >
              <v-icon
                v-if="item.icon"
                :color="item.icon.color"
                left
                class="mr-1"
                v-text="item.icon.name"
              />
              {{ item.name }}
            </v-tab>
          </v-tabs>
        </div>
        <v-divider />
        <div class="cfr-container pb-5 pr-md-0">
          <v-breadcrumbs :items="breadcrumbs" />
          <v-row justify="space-between">
            <v-col>
              <v-btn
                large
                color="primary"
                class="my-1 my-md-0 pl-2 mr-2"
              >
                <v-icon left v-text="'$fileOutline'" />
                Загрузить файл
              </v-btn>
              <v-btn
                outlined
                large
                color="white"
                class="my-1 my-md-0 pl-2 hover-primary"
              >
                <v-icon left v-text="'$folderOutline'" />
                Создать папку
              </v-btn>
            </v-col>
            <v-col cols="auto">
              <v-btn fab small icon color="white">
                <v-icon v-text="'$list'" />
              </v-btn>
              <v-btn fab small icon color="white" class="mr-4">
                <v-icon v-text="'$quadro'" />
              </v-btn>
            </v-col>
          </v-row>
        </div>
        <v-divider />
        <div class="cfr-container py-2 pr-md-0">
          <div class="ml-md-n2">
            <v-data-table
              v-model="selected"
              :headers="headers"
              :items="dtItems"
              :single-select="singleSelect"
              item-key="id"
              show-select
            >
              <template #[`item.name`]="{ item }">
                <template v-if="item.file">
                  <v-icon left v-text="'$pdf'" />
                  {{ item.name }}
                </template>
                <template v-else>
                  <v-icon left v-text="'$folderOutline'" />
                  {{ item.name }}
                </template>
              </template>
              <template #[`item.updated_at`]="{ item }">
                <span
                  v-if="item.updated_by && item.updated_by.id === 1"
                  class="grey--text mr-1"
                >
                  Вами
                </span>
                {{ $moment(item.updated_at).format("DD.MM.YYYY") }}
              </template>
              <template #[`item.actions`]="{ item }">
                <v-btn
                  v-tippy="{ content: 'Скачать' }"
                  icon
                  small
                  color="black"
                >
                  <v-icon v-text="'$download'" />
                </v-btn>
                <v-btn
                  v-tippy="{ content: 'Поделиться' }"
                  icon
                  small
                  color="black"
                  @click="openDialogAccess([item])"
                >
                  <v-icon v-text="'$exportVariant'" />
                </v-btn>
                <cfr-menu-actions
                  small
                  :items="itemsAddActions"
                  :listAttrs="{ dark: true }"
                  v-on:testA="testA"
                  v-on:openDialogAccess="openDialogAccess([item])"
                />
              </template>
            </v-data-table>
          </div>
        </div>
      </v-col>
      <v-col cols="auto">
        <v-divider vertical class="position-absolute" />
        <div>
          <v-navigation-drawer :mini-variant.sync="rightDrawerMini" permanent floating>
            <div class="d-flex justify-space-between align-center" style="min-height: 60px;">
              <div class="overflow-hidden">
                <transition name="fade">
                  <div
                    class="text-truncate text-body-2 font-weight-semi-bold pl-5"
                    v-show="!rightDrawerMini"
                  >
                    {{
                      !!selected.length
                        ? selected.length === 1
                          ? selected[0].name
                          : `${selected.length} ${$declOfNum(selected.length, [
                            "объект",
                            "объекта",
                            "объектов"
                          ])}`
                        : ""
                    }}
                  </div>
                </transition>
              </div>
              <v-btn
                fab
                small
                icon
                color="white"
                class="my-1 mx-2"
                @click="rightDrawerMini = !rightDrawerMini"
              >
                <v-icon
                  v-text="
                    rightDrawerMini
                      ? '$arrowExpandLeft'
                      : '$formatHorizontalAlignRight'
                  "
                />
              </v-btn>
            </div>
            <v-divider />
            <!--            <transition name="fade" mode="out-in" duration="100">-->
            <template v-if="!rightDrawerMini">
              <v-expansion-panels v-if="!!selected.length" key="has-items" flat hover>
                <v-expansion-panel
                  v-if="selected.length === 1 && selected[0].file"
                >
                  <v-expansion-panel-header>
                    Свойства
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-img :src="'http://rosatom.ru/upload/medialibrary/be3/be384755307d59df65fe47d045242129.jpg'"
                           :aspect-ratio="16/9" />
                    <div class="px-5 pt-4 text-body-2">
                      <div class="mb-4">
                        <div class="grey--text">Тип/расширение</div>
                        <div class="black--text">
                          Название типа или расширения
                        </div>
                      </div>
                      <div class="mb-4">
                        <div class="grey--text">Тег</div>
                        <div class="black--text">Презентация</div>
                      </div>
                      <div class="mb-4">
                        <div class="grey--text">Классификатор</div>
                        <div class="black--text">Классификаторный</div>
                      </div>
                      <div class="mb-4">
                        <div class="grey--text">Доступ</div>
                        <div>
                          <span class="black--text">Аверков А.Л., Брамычев А.И., Вилин В.О., Беркиев А.И.</span>
                          <v-hover v-slot="{ hover }">
                            <a class="text-decoration-underline"
                               :class="hover ? 'primary--text' : 'black--text text--opacity-3'">Ещё 15</a>
                          </v-hover>
                        </div>
                      </div>
                    </div>
                  </v-expansion-panel-content>
                  <v-divider />
                </v-expansion-panel>
                <v-expansion-panel>
                  <v-expansion-panel-header>Действия</v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-list dense class="pa-0">
                      <v-list-item-group>
                        <template v-for="(item, i) in itemsAddActions">
                          <v-list-item :key="i" v-if="selected.length > 1 ? item.multiple : true" class="py-05"
                          @click="methodCallByName(item.action, [...selected])">
                            <v-list-item-icon>
                              <v-icon
                                v-text="item.icon.name"
                                :color="item.icon.color"
                              />
                            </v-list-item-icon>

                            <v-list-item-content>
                              <v-list-item-title
                                class="text-body-2 font-weight-regular"
                                v-text="item.title"
                              />
                            </v-list-item-content>
                          </v-list-item>
                        </template>
                      </v-list-item-group>
                    </v-list>
                  </v-expansion-panel-content>
                  <v-divider />
                </v-expansion-panel>
              </v-expansion-panels>
              <div v-if="!selected.length" key="no-items"
                   class="text-center my-5 mx-2 black--text text--opacity-4 text-body-2 text-no-wrap">Ничего не выбрано
              </div>
            </template>
            <!--            </transition>-->
          </v-navigation-drawer>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import DialogSpaceAccess from "../components/dialogs/space/Access";
import { commonMixin } from "../mixins/common";
export default {
  mixins: [commonMixin],
  data() {
    return {
      rightDrawerMini: true,
      singleSelect: false,
      selected: [],
      tabs: [
        {
          name: "Все файлы"
        },
        {
          name: "Доступные мне"
        },
        {
          name: "Недавно открытые"
        },
        {
          name: "Корзина"
        }
      ],
      breadcrumbs: [
        {
          text: "Интеллектум",
          disabled: false,
          to: "/"
        },
        {
          text: "Все файлы",
          disabled: true,
          to: "/"
        }
      ],
      headers: [
        {
          value: "data-table-select",
          class: "border-bottom-none",
          cellClass: "border-bottom-none"
        },
        {
          text: "Название",
          align: "start",
          sortable: false,
          value: "name"
        },
        { text: "Владелец", value: "owner_name" },
        { text: "Дата изменения", value: "updated_at", align: "right" },
        {
          text: "",
          value: "actions",
          align: "right",
          sortable: false
        }
      ],
      dtItems: [
        {
          id: 1,
          name: "СУЗ",
          file: false,
          owner_name: "Абрамычев Андрей Иванович",
          updated_at: new Date(),
          updated_by: {
            id: 1
          },
          favorite: true,
          url: "//yandex.ru"
        },
        {
          id: 2,
          name: "Документация_строительство_АЭС",
          file: false,
          owner_name: "Абрамычев Андрей Иванович",
          updated_at: new Date(),
          updated_by: {
            id: 2
          },
          favorite: false,
          url: "//yandex.ru"
        },
        {
          id: 3,
          name: "Development",
          file: false,
          owner_name: "Абрамычев Андрей Иванович",
          updated_at: new Date(),
          updated_by: {
            id: 3
          },
          favorite: false,
          url: "//yandex.ru"
        },
        {
          id: 4,
          name: "Беседы о ядерной энергетике.pdf",
          file: true,
          owner_name: "Абрамычев Андрей Иванович",
          updated_at: new Date(),
          updated_by: {
            id: 3
          },
          favorite: true,
          url: "//yandex.ru"
        },
        {
          id: 5,
          name: "Теплотехника.pdf",
          file: true,
          owner_name: "Абрамычев Андрей Иванович",
          updated_at: new Date(),
          updated_by: {
            id: 1
          },
          favorite: false,
          url: "//yandex.ru"
        },
        {
          id: 6,
          name: "В поисках энергии.pdf",
          file: true,
          owner_name: "Абрамычев Андрей Иванович",
          updated_at: new Date(),
          updated_by: {
            id: 3
          },
          favorite: false,
          url: "//yandex.ru"
        }
      ],
      itemsAddActions: [
        { title: "Скачать", action: "testA", icon: { name: "$download" }, multiple: true },
        { title: "Открыть", icon: { name: "$eyeOutline" }, multiple: false },
        { title: "Поделиться", action: "openDialogAccess", icon: { name: "$exportVariant" }, multiple: true },
        { title: "Переименовать", icon: { name: "$pencilUnderlineOutline" }, multiple: false },
        { title: "Удалить", icon: { name: "$deleteOutline" }, multiple: true }
      ]
    };
  },
  methods: {
    testA() {
      console.log("Action 1");
    },
    openDialogAccess(items) {
      this.$dialog.show(DialogSpaceAccess, {
        items
      });
    }
  }
};
</script>
