<template>
  <div class="cfr-container py-2">
    <section>
      <v-row>
        <v-col cols="12" md="4">
          <v-card class="overflow-hidden"
                  :class='[{"rounded-lg" : $vuetify.breakpoint.lgAndDown, "rounded-xl" : $vuetify.breakpoint.xlOnly}]'
                  outlined
                  dark>
            <v-card-text class="pa-0">
              <v-expansion-panels flat hover dark>
                <v-expansion-panel>
                  <v-expansion-panel-header>
                    <v-row justify="space-between">
                      <v-col>Действия</v-col>
                      <v-col class="text-right">
                        <div class="mr-2 white--text text--opacity-6">2.02.2021</div>
                      </v-col>
                    </v-row>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <cfr-content-scroll-shadow-top :max-height="300">
                      <v-list
                        dense
                        class="pa-0"
                      >
                        <v-list-item-group>
                          <template v-for="(item, i) in actions">
                            <v-list-item
                              :key="i"
                              class="py-05 px-5"
                              to="/"
                            >
                              <v-list-item-content>
                                <v-list-item-title class="text-body-2 font-weight-regular" v-text="item.text" />
                              </v-list-item-content>
                            </v-list-item>
                          </template>
                        </v-list-item-group>
                      </v-list>
                    </cfr-content-scroll-shadow-top>
                  </v-expansion-panel-content>
                  <v-divider />
                </v-expansion-panel>
                <v-expansion-panel>
                  <v-expansion-panel-header>Контакты</v-expansion-panel-header>
                  <v-expansion-panel-content class="px-5">
                    <div class="text-body-2">
                      <div class="mb-4">
                        <div class="grey--text">Адрес</div>
                        <div class="black--text">Москва, ул. Знаменка, д.1</div>
                      </div>
                      <div class="mb-4">
                        <div class="grey--text">Телефон</div>
                        <div class="black--text">
                          <a href="tel:+79999999999" class="text-decoration-none">+7 (999) 999 99 99</a>
                        </div>
                      </div>
                      <div class="mb-4">
                        <div class="grey--text">Email</div>
                        <div class="black--text">
                          <a href="mailto:example@mail.ru" class="text-decoration-none">example@mail.ru</a>
                        </div>
                      </div>
                    </div>
                  </v-expansion-panel-content>
                  <v-divider />
                </v-expansion-panel>
                <v-expansion-panel>
                  <v-expansion-panel-header>Действия</v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-list
                      dense
                      class="pa-0"
                    >
                      <v-list-item-group>
                        <template v-for="(item, i) in actions">
                          <v-list-item
                            :key="i"
                            class="py-05"
                            @click="handleClickItemActions(item)"
                          >
                            <v-list-item-icon v-if="item.icon">
                              <v-icon v-text="item.icon.name" :color="item.icon.color" />
                            </v-list-item-icon>

                            <v-list-item-content>
                              <v-list-item-title class="text-body-2 font-weight-regular" v-text="item.text" />
                            </v-list-item-content>
                          </v-list-item>
                        </template>
                      </v-list-item-group>
                    </v-list>
                  </v-expansion-panel-content>
                  <v-divider />
                </v-expansion-panel>
              </v-expansion-panels>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card class="overflow-hidden"
                  :class='[{"rounded-lg" : $vuetify.breakpoint.lgAndDown, "rounded-xl" : $vuetify.breakpoint.xlOnly}]'
                  outlined>
            <v-card-text class="pa-0">
              <v-expansion-panels flat hover>
                <v-expansion-panel>
                  <v-expansion-panel-header>Действия</v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <cfr-content-scroll-shadow-top :max-height="300">
                      <v-list
                        dense
                        class="pa-0"
                      >
                        <v-list-item-group>
                          <template v-for="(item, i) in actions">
                            <v-list-item
                              :key="i"
                              class="py-05"
                              @click="handleClickItemActions(item)"
                            >
                              <v-list-item-content>
                                <v-list-item-title class="text-body-2 font-weight-regular" v-text="item.text" />
                              </v-list-item-content>
                            </v-list-item>
                          </template>
                        </v-list-item-group>
                      </v-list>
                    </cfr-content-scroll-shadow-top>
                  </v-expansion-panel-content>
                  <v-divider />
                </v-expansion-panel>
                <v-expansion-panel>
                  <v-expansion-panel-header>Контакты</v-expansion-panel-header>
                  <v-expansion-panel-content class="px-5">
                    <div class="text-body-2">
                      <div class="mb-4">
                        <div class="grey--text">Адрес</div>
                        <div class="black--text">Москва, ул. Знаменка, д.1</div>
                      </div>
                      <div class="mb-4">
                        <div class="grey--text">Телефон</div>
                        <div class="black--text">
                          <a href="tel:+79999999999" class="text-decoration-none">+7 (999) 999 99 99</a>
                        </div>
                      </div>
                      <div class="mb-4">
                        <div class="grey--text">Email</div>
                        <div class="black--text">
                          <a href="mailto:example@mail.ru" class="text-decoration-none">example@mail.ru</a>
                        </div>
                      </div>
                    </div>
                  </v-expansion-panel-content>
                  <v-divider />
                </v-expansion-panel>
                <v-expansion-panel>
                  <v-expansion-panel-header>Действия</v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-list
                      dense
                      class="pa-0"
                    >
                      <v-list-item-group>
                        <template v-for="(item, i) in actions">
                          <v-list-item
                            :key="i"
                            class="py-05"
                            @click="handleClickItemActions(item)"
                          >
                            <v-list-item-icon v-if="item.icon">
                              <v-icon v-text="item.icon.name" :color="item.icon.color" />
                            </v-list-item-icon>

                            <v-list-item-content>
                              <v-list-item-title class="text-body-2 font-weight-regular" v-text="item.text" />
                            </v-list-item-content>
                          </v-list-item>
                        </template>
                      </v-list-item-group>
                    </v-list>
                  </v-expansion-panel-content>
                  <v-divider />
                </v-expansion-panel>
              </v-expansion-panels>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </section>
    <section>
      <h2>Select</h2>
      <div class="my-5">
        <v-row>
          <v-col cols="12" md="2">
            <v-select
              v-model="selectValue"
              filled
              rounded
              dense
              hide-details
              placeholder="Фильтр"
              clearable
              :class='{"primary":!!selectValue}'
              :dark="!!selectValue"
              :items="selectItems"
              item-value="id"
              item-text="title"
            />
          </v-col>
        </v-row>
      </div>
    </section>
    <section>
      <h2>Tabs</h2>
      <div class="my-5">
        <v-tabs v-model="tab_active" show-arrows class="mx-n3" href="#tab-3">
          <v-tab v-for="(tab, i) in tabs" :key="i" class="mx-3" :ripple="false">
            <v-icon v-if="tab.icon" color="orange" left class="mr-1">{{ tab.icon }}</v-icon>
            {{ tab.label }}
          </v-tab>
        </v-tabs>
        <v-divider />
      </div>
    </section>
    <section>
      <h2>Breadcrumbs</h2>
      <div>
        <v-breadcrumbs :items="breadcrumbs" class="pl-0" />

        <v-breadcrumbs
          :items="breadcrumbs"
          large
          class="pl-0"
        />
      </div>
    </section>
    <section>
      <h2>Typography</h2>
      <div>
        <div
          v-for="[
          c,
          text
        ] in classes"
          :key="c"
        >
          <v-sheet
            class="px-4 pt-4 pb-3"
            tile
          >
            <div
              :class="[`text-${c}`]"
              v-text="text"
            >
            </div>
          </v-sheet>
        </div>
      </div>
    </section>
    <section>
      <h2>User</h2>
      <div class="my-2">
        <userList :items="users" />
      </div>
    </section>
    <section>
      <h2>Projects</h2>
      <div class="my-2">
        <projectGrid :value="projects" />
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data: () => ({
    actions: [
      { text: "Скачать анкету", icon: { name: "$download" } },
      { text: "Копировать ссылку", icon: { name: "$linkVariant" }, action: "currentItemCopyLink" },
      { text: "Снижение рыночных котировок на природный уран" },
      { text: "Срыв сроков доставки реактора" },
      { text: "Covid-19" },
      { text: "Снижение рыночных котировок на природный уран" },
      { text: "Срыв сроков доставки реактора" },
      { text: "Covid-19" },
      { text: "Снижение рыночных котировок на природный уран" },
      { text: "Срыв сроков доставки реактора" },
      { text: "Covid-19" },
      { text: "Снижение рыночных котировок на природный уран" },
      { text: "Срыв сроков доставки реактора" },
      { text: "Covid-19" }
    ],
    tab_active: null,
    tabs: [
      {
        label: "Освоение",
        icon: "" // mdi-bookmark
      },
      {
        label: "Финансирование",
        icon: ""
      },
      {
        label: "Срок реализации",
        icon: ""
      },
      {
        label: "Стоимости",
        icon: ""
      },
      {
        label: "Вводные объекты",
        icon: ""
      },
      {
        label: "Ключевые события",
        icon: ""
      },
      {
        label: "Документы",
        icon: ""
      },
      {
        label: "Объекты программы",
        icon: ""
      }
    ],
    selectValue: null,
    selectItems: [
      {
        id: 1,
        title: "Value 1"
      },
      {
        id: 2,
        title: "Value 2"
      },
      {
        id: 3,
        title: "Value 3"
      },
      {
        id: 4,
        title: "Value 4"
      },
      {
        id: 5,
        title: "Value 5"
      },
      {
        id: 6,
        title: "Value 6"
      }
    ],
    classes: [
      ["h1", "Heading 1"],
      ["h2", "Heading 2"],
      ["h3", "Heading 3"],
      ["h4", "Heading 4"],
      ["h5", "Heading 5"],
      ["h6", "Heading 6"],
      ["subtitle-1", "Subtitle 1"],
      ["subtitle-2", "Subtitle 2"],
      ["body-1", "Body 1"],
      ["body-2", "Body 2"],
      ["button", "Button"],
      ["caption", "Caption"],
      ["overline", "Overline"]
    ],
    breadcrumbs: [
      {
        text: "Dashboard",
        disabled: false,
        href: "breadcrumbs_dashboard"
      },
      {
        text: "Link 1",
        disabled: false,
        href: "breadcrumbs_link_1"
      },
      {
        text: "Link 2",
        disabled: true,
        href: "breadcrumbs_link_2"
      }
    ],
    users: [
      {
        id: 1,
        name: "Абрамов Виктор Сергеевич",
        position: "Эксперт",
        favorite: true,
        avatar: "https://avatars0.githubusercontent.com/u/9064066?v=4&s=460"
      },
      {
        id: 2,
        name: "Абрамов Виктор Сергеевич",
        position: "Эксперт",
        favorite: false,
        avatar: "https://cdn.vuetifyjs.com/images/john.jpg"
      },
      {
        id: 3,
        name: "Абрамов Виктор Сергеевич",
        position: "Эксперт",
        favorite: false,
        avatar: "https://yablyk.com/wp-content/uploads/2015/05/tim-cook1.jpg"
      },
      {
        id: 4,
        name: "Абрамов Виктор Сергеевич",
        position: "Эксперт",
        favorite: true,
        avatar: "https://avatars0.githubusercontent.com/u/9064066?v=4&s=460"
      },
      {
        id: 5,
        name: "Абрамов Виктор Сергеевич",
        position: "Эксперт",
        favorite: false,
        avatar: "https://cdn.vuetifyjs.com/images/john.jpg"
      },
      {
        id: 6,
        name: "Абрамов Виктор Сергеевич",
        position: "Эксперт",
        favorite: false,
        avatar: "https://yablyk.com/wp-content/uploads/2015/05/tim-cook1.jpg"
      }
    ],
    projects: [
      {
        id: 1,
        title: "Порядок мониторинга и управления изменениями проектов НТИ"
      },
      {
        id: 2,
        title: "Порядок проведения экспертизы и формирования заключений по проектам НТИ в целях отбора"
      },
      {
        id: 3,
        title: "Порядок мониторинга реализации планов мероприятий («дорожных карт») по совершенствованию законодательства и устранению"
      },
      {
        id: 4,
        title: "Положение о рабочих группах по разработке и реализации дорожных карт НТИ"
      },
      {
        id: 5,
        title: "Приказ о внесении изменений в форму договора № 24н"
      },
      {
        id: 6,
        title: "Порядок мониторинга и управления изменениями программ по развитию отдельных направлений НТИ"
      }
    ]
  }),
  methods: {
    handleClickItemActions() {

    }
  }
};
</script>
