<template>
  <div>
    <div class="container my-4">
      <v-btn @click="getWidgets">getWidgets</v-btn>
      <v-btn @click="getWidgetDataByGuid">getWidgetDataByGuid</v-btn>
    </div>
    <div class="container">
      <v-row>
        <v-col cols="12" md="4">
          <v-select
            label="Год"
            :items="years"
            multiple
            outlined
            clearable
            dense
            @change="changeFilter" />
        </v-col>
      </v-row>
    </div>
    <iframe id="visW" :src="src" style="position: absolute; height: 100%; width: 100%; border: none;"></iframe>
  </div>
</template>

<script>
export default {
  data: () => ({
    src: 'http://navigator.cifrum.net/viewer/public?dashboardGuid=488a215a32684b21b4fb8ac0b5713ea3&showNav=false&fit=true',
    srcList: 'http://navigator.cifrum.net/viewer?dashboardGuid=488a215a32684b21b4fb8ac0b5713ea3&sheetGuid=271a2a938344458fad422ae18907145f&fit=true',
    widgetId: '88c2dcaf603548269f4fcb1d48c124b8',
    filtersIDS: {
      year: '3e4cbccfcca1443bbff0e72f237ede35'
    },
    visApi: null,
    years: []
  }),
  mounted() {
    const iframe = document.getElementById('visW')
    iframe.onload = () => {
      this.visApi = iframe.contentWindow.visApi()
    }
  },
  methods: {
    changeFilter(val) {
      this.visApi.setFilterSelectedValues(this.widgetId, val)
    },
    getWidgets() {
      console.log('getWidgets', this.visApi.getWidgets())
    },
    getWidgetDataByGuid() {
      console.log('getWidgetDataByGuid', document.getElementById('visW').contentWindow)
      this.visApi.getWidgetDataByGuid(this.widgetId).then((widgetData) => {
        console.log('widgetData', widgetData)
        this.years = widgetData.data.rows
      })
    }
  }
}
</script>
