<template>
  <v-row align="center" class="w-full">
    <v-col cols="auto">
      <template>
        <v-avatar size="49" left :color="$getColorByString(auth.user.name)">
          <v-img v-if="auth.user.avatar" :src="auth.user.avatar" />
          <span
            v-else
            class="white--text text-h4"
            v-text="$getInitials(auth.user.name)"
          />
        </v-avatar>
      </template>
    </v-col>
    <v-col>
      <v-text-field
        placeholder="Комментировать"
        single-line
        filled
        outlined
        readonly
        hide-details
        @click="add"
      />
    </v-col>
    <!--    <v-col cols="auto">-->
    <!--      <v-btn color="primary" fab dark x-large class="rounded-sm">-->
    <!--        <v-icon v-text="'$sendOutline'"/>-->
    <!--      </v-btn>-->
    <!--    </v-col>-->
    <v-col v-show="showEditor" cols="12">
      <commentEditor :show.sync="showEditor" :postId="postId"/>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Add',
  props: {
    postId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      showEditor: false,
      loading: false,

      //temp
      auth: {
        loggedIn: true,
        user: {
          name: 'Иванов Иван',
          avatar: 'https://avatars0.githubusercontent.com/u/9064066?v=4&s=460'
        },
      },
    }
  },
  methods: {
    add() {
      this.showEditor = true
    },
  },
}
</script>
