<template>
  <v-card tag="article" :elevation="0">
    <v-card-title class="mb-3 mb-xl-6 pa-0">
      <v-row align="center" dense>
        <v-col>
          <div class="d-flex align-center">
            <v-avatar size="49" v-if="innerItem.created_by" large class="mr-4 flex-grow-0"
                      :color="$getColorByString(innerItem.created_by.avatar)">
              <v-img v-if="innerItem.created_by.avatar" :src="innerItem.created_by.avatar" />
              <span v-else class="white--text text-h4" v-text="$getInitials(innerItem.created_by.name)" />
            </v-avatar>
            <div class="flex-grow-1 text-body-2 text-xl-body-1 ">
              <div class="black--text font-weight-semi-bold text-truncate" v-text="innerItem.created_by.name" />
              <div class="black--text text--opacity-4 font-weight-regular" v-text="innerItem.created_by.position" />
            </div>
          </div>
        </v-col>
        <v-col cols="auto">
          <div
            v-if="innerItem.created_at && $isValidDate(new Date(innerItem.created_at))"
            class="black--text text--opacity-4 text-body-2 text-xl-body-1  font-weight-regular"
            v-text="$getHumanDateUpdated(new Date(innerItem.created_at))"
          />
        </v-col>
      </v-row>
    </v-card-title>
    <v-card-text class="pt-0 pb-0 px-0">
<!--      <article v-if="innerItem.content.blocks.length > 0" class="article black&#45;&#45;text text-body-1">-->
      <div v-if="innerItem.content && innerItem.content.blocks.length > 0" class="text-body-2 text-xl-body-1 black--text mb-3 mb-xl-6">
        <cfr-editorjs-content :content="innerItem.content" />
      </div>
      <v-row dense align="center">
        <v-col>
          <div class="d-flex align-center">
            <v-hover v-slot="{ hover }">
              <a class="text-body-2 text-xl-body-1 mr-6" :class="hover ? 'primary--text' : 'grey--text'" @click="reply">
                Ответить
              </a>
            </v-hover>
<!--            <template v-if="withChildren && !!innerItem.reply_count">-->
            <template v-if="withChildren && !!childrens.length">
              <v-hover v-slot="{ hover }">
                <a
                  class="text-body-2 text-xl-body-1 d-flex align-center mr-4"
                  :class="hover || showListReply ? 'primary--text' : 'black--text'"
                  @click="toggleListReply"
                >
                  <v-icon :color="hover || showListReply ? 'primary' : 'black'" v-text="'$arrowRightBottom'" />
<!--                  <span>{{ innerItem.reply_count }}</span>-->
                  <span>{{ childrens.length }}</span>
                </a>
              </v-hover>
            </template>
            <v-hover v-slot="{ hover }">
              <a
                class="text-body-2 text-xl-body-1 d-flex align-center"
                :class="hover || innerItem.like ? 'primary--text' : 'black--text'"
                @click="like"
              >
                <v-icon :color="hover || innerItem.like ? 'primary' : 'black'" v-text="'$heartOutline'" />
                <span>{{ innerItem.likes }}</span>
              </a>
            </v-hover>
          </div>
        </v-col>
        <v-col v-show="showAddReply" cols="12">
          <commentEditor :show.sync="showAddReply" :postId="innerItem.post_id" :parentId="innerItem.id" />
        </v-col>
<!--        <template v-if="withChildren && showListReply && !!innerItem.reply_count && childrens.length > 0">-->
        <template v-if="withChildren && showListReply && childrens.length > 0">
          <v-col cols="12">
            <template v-for="comment in childrens">
              <commentChildren :key="comment.id" :item="comment" class="my-6" />
            </template>
          </v-col>
        </template>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
// import BFEditorContent from '~/components/main/BFEditorContent'

export default {
  name: "Card",
  // components: { BFEditorContent },
  props: {
    item: {
      type: Object,
      required: true
    },
    withChildren: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      innerItem: null,
      showListReply: false,
      showAddReply: false,
    };
  },
  computed: {
    childrens() {
      return this.$store.getters['post/getCommentsByParentId'](this.item.id)
    },
  },
  watch: {
    value(newVal) {
      this.innerItem = newVal
    },
  },
  created() {
    if (this.item) {
      this.innerItem = {...this.item}
    }
  },
  methods: {
    reply() {
      this.showAddReply = !this.showAddReply;
      ///...
    },
    toggleListReply() {
      this.showListReply = !this.showListReply;
    },
    like() {
      // this.$store.commit('post/toggleLikeComment', this.item.id)
      if(this.innerItem.like){
        this.innerItem.likes--
      } else {
        this.innerItem.likes++
      }
      this.innerItem.like = !this.innerItem.like
    }
  }
};
</script>
