<template>
  <div class="d-flex position-relative align-start" style="min-height: 5rem;">
    <v-icon v-text="'$arrowRightBottom'" class="mt-3" />
    <div class="pl-2 pl-md-3 flex-grow-1">
      <commentCard :key="item.id" :item="item" with-children />
    </div>
<!--    <BFLoader :value="loading" absolute />-->
  </div>
</template>

<script>
export default {
  // ToDo: Возможно, сделать проопс id и сделать загрузку комментария тут
  name: 'Children',
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      loading: false
    }
  }
}
</script>
