<template>
  <div class="rounded editor-wrap pa-2 mt-2 text-body-2">
    <div class="px-2">
      <cfr-text-editor compact v-model="value" />
    </div>
    <div class="text-right">
      <v-btn class="mr-1" color="grey" large outlined :disabled="loading" @click="cancel">
        Отмена
      </v-btn>
      <v-btn color="primary" large :disabled="loading" @click="send">
        Отправить
        <v-icon right v-text="'$sendOutline'" />
      </v-btn>
    </div>
  </div>
</template>

<script>

export default {
  name: "Editor",
  props: {
    postId: {
      type: Number,
      required: true
    },
    parentId: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      loading: false,
      value: null
    };
  },
  methods: {
    cancel() {
      this.$emit("update:show");
    },
    send() {
      if (!this.value || !this.value.blocks.length) {
        return;
      }
      const comment = {
        id: Math.floor(Math.random() * (9999999 - 1000 + 1) + 1000),
        content: this.value,
        created_at: new Date(),
        created_by: {
          id: 1,
          name: "Иванов Иван Иванович",
          avatar: "https://avatars0.githubusercontent.com/u/9064066?v=4&s=460",
          position: "Эксперт"
        },
        parent: this.parentId,
        reply_count: 0,
        likes: 0,
        post_id: 1
      };
      this.$store.commit("post/addComment", comment);
      this.value = null;
      this.$emit("update:show");
    }
  }
};
</script>

<style scoped lang="scss">
.editor-wrap {
  border: 1px solid var(--v-primary-base);
}
</style>
