<template>
  <v-card class="d-flex flex-column h-full overflow-hidden">
    <v-btn icon rounded class="position-absolute" style="right: 1rem; top: 1rem; z-index: 2;" small @click="close">
      <v-icon v-text="'$close'"/>
    </v-btn>
    <v-card-title class="flex-column pa-0 flex-grow-0">
      <div class="px-7 w-full">
        <v-tabs :slider-size="3">
          <v-tab
            v-for="(item, i) in tabs"
            :key="i"
            :class="{ 'mr-5': i < tabs.length - 1 }"
            v-text="item.name"
          />
        </v-tabs>
      </div>
      <v-divider class="w-full" />
      <div class="px-7 py-5 w-full">
        <v-text-field placeholder="Имя, группа или организация" outlined class="w-full" hide-details dense />
      </div>
      <v-divider class="w-full" />
    </v-card-title>
    <v-card-text class="px-0 flex-grow-1 overflow-y-auto" style="max-height: 70vh;">
      <v-list class="overflow-y-auto">
        <v-hover v-slot="{ hover }">
          <v-list-item class="px-7" :class="{'surface': hover}">
            <v-list-item-avatar :size="32">
              <v-icon :size="24" v-text="'$linkVariant'" />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-row dense align="center">
                <v-col>
                  <v-list-item-title v-text="'Все, у кого есть ссылка'" />
                </v-col>
                <v-col cols="auto">
                  <cfr-select :placeholder="'Права'" :items="accessList" item-text="title" item-value="id"
                              class-field="pt-0 mt-0 cfr-input--empty" hide-details solo dense />
                </v-col>
              </v-row>
            </v-list-item-content>
          </v-list-item>
        </v-hover>
        <v-hover v-for="user in users"
                 :key="user.title"
                 v-slot="{ hover }">
          <v-list-item class="px-7" :class="{'surface': hover}">
            <v-list-item-avatar :size="32">
              <v-img
                :alt="`${user.title} avatar`"
                :src="user.avatar"
              />
            </v-list-item-avatar>

            <v-list-item-content>
              <v-row dense align="center">
                <v-col>
                  <v-list-item-title v-text="user.title" />
                </v-col>
                <v-col cols="auto">
                  <cfr-select :placeholder="'Права'" :items="accessList" item-text="title" item-value="id"
                              class-field="pt-0 mt-0 cfr-input--empty" hide-details solo dense />
                </v-col>
              </v-row>
            </v-list-item-content>
          </v-list-item>
        </v-hover>
      </v-list>
    </v-card-text>
    <v-divider class="w-full" />
    <v-card-actions class="px-7 flex-grow-0">
      <v-hover v-slot="{ hover }" v-if="items.length === 1 && items[0].url">
        <v-btn depressed class="font-weight-regular pl-0 before-none transition-swing"
               :class="{'surface' : hover}"
               @click="copyToClipboard(items[0].url)">
          <v-icon v-text="'$linkVariant'" left color="primary" />
          <span class="primary--text">Копировать ссылку</span>
        </v-btn>
      </v-hover>
    </v-card-actions>
  </v-card>
</template>

<script>
import { clipboardMixin } from "../../../mixins/clipboard";

export default {
  name: "Access",
  layout: ["default", {
    showClose: false,
    width: 726,
    // persistent: true
    scrollable: true
  }],
  mixins: [clipboardMixin],
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    tabs: [
      {
        name: "Предоставить доступ"
      },
      {
        name: "Настройки доступа"
      }
    ],
    users: [
      {
        active: true,
        avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg",
        title: "Jason Oner"
      },
      {
        active: true,
        avatar: "https://cdn.vuetifyjs.com/images/lists/2.jpg",
        title: "Mike Carlson"
      },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/3.jpg",
        title: "Cindy Baker"
      },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/4.jpg",
        title: "Ali Connors"
      },
      {
        title: "Travis Howard",
        avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg"
      }
    ],
    accessList: [
      {
        id: 1,
        title: "Просмотр"
      },
      {
        id: 2,
        title: "Редактирование"
      }
    ]
  }),
  methods: {
    close () {
      this.$emit('submit')
    }
  }
};
</script>
