<template>
  <ui-demo title="Material Design Icons" :snippets="snippets" />
</template>

<script>
import UiDemo from '@/components/demo/UIDemo'

// Snippets
import MaterialDesignIconsSnippet from '!!raw-loader!./_examples/material-design-icons/material-design-icons.vue'

export default {
  components: {
    UiDemo
  },
  // middleware: ['auth', 'scopes'],
  meta: {
    middlewareScopes: ['role:developer']
  },
  data: () => ({
    snippets: [
      {
        title: 'Material Design Icons',
        snippet: MaterialDesignIconsSnippet
      }
    ]
  })
}
</script>
