<template>
  <ul class="menu d-flex pa-0 flex-wrap">
    <li v-for="item in items" :key="item.name" class="menu__item mx-3 mx-xl-5">
      <nuxt-link class="menu__link black--text text-decoration-none text-body-2 transition-swing" active-class="primary--text" :to="item.url" v-text='item.name'/>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: []
    }
  }
}
</script>

<style scoped>
.menu {
  list-style: none;
}

.menu__link:not(.primary--text) {
  opacity: 0.5;
}

.menu__link:hover {
  opacity: 1;
}
</style>
