<template>
  <div class="search">
    <v-menu
      v-model="showMenu"
      offset-y
      nudge-top="-5"
      :close-on-content-click="false"
      :open-on-click="false"
      left
      content-class="elevation-0"
    >
      <template #activator="{ on, attrs }">
        <v-text-field
          hide-details
          placeholder="Поиск"
          rounded
          outlined
          dense
          autocomplete="off"
          type="search"
          v-bind="attrs"
          @focus="focus = true"
          @blur="focus = false"
          v-on="on"
        >
          <template #append>
            <v-hover v-slot="{ hover }">
              <v-icon
                :class="{ 'visibility-hidden': !focus }"
                :color="hover ? 'primary' : 'grey'"
                @click="showMenu = !showMenu"
                v-text="'$tune'"
              />
            </v-hover>
          </template>
        </v-text-field>
      </template>

      <v-list outlined>
        <v-list-item v-for="(item, i) in items" :key="i">
          {{ item }}
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>
<script>
export default {
  data: () => ({
    items: ['Параметр 1', 'Параметр 2'],
    showMenu: false,
    focus: false,
  }),
}
</script>
<style scoped lang="scss">
.search ::v-deep .v-text-field--outlined fieldset {
  border: 1px solid var(--v-background-darken1) !important;
}
</style>
