<template>
  <v-menu offset-y left transition="slide-y-transition">
    <template #activator="{ on }">
      <v-btn icon rounded width="32" height="32" class="mr-0" v-on="on">
        <v-badge color="warning" dot bordered bottom offset-x="10" offset-y="10">
          <v-avatar size="32">
            <!--            <v-img-->
            <!--              v-if="$auth.user.image"-->
            <!--              :src="`${$store.state.app.storageUrl}/${$auth.user.image}`"-->
            <!--            />-->
            <!--            <v-img-->
            <!--              v-else-->
            <!--              :src="'/images/no_avatar.svg'"-->
            <!--            />-->
            <v-img
              :src="'https://avatars0.githubusercontent.com/u/9064066?v=4&s=460'"
            />
          </v-avatar>
        </v-badge>
      </v-btn>
    </template>

    <!-- user menu list -->
    <v-list dense nav>
      <v-list-item
        v-for="(item, index) in menu"
        :key="index"
        :to="item.link"
        :exact="item.exact"
        :disabled="item.disabled"
        link
      >
        <v-list-item-icon>
          <v-icon small :class="{ 'grey--text': item.disabled }">
            {{ item.icon }}
          </v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title class="font-weight-regular">
            {{ item.text }}
            <!-- {{ item.key ? $t(item.key) : item.text }} -->
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider class="my-1" />

      <v-list-item @click="logout">
        <v-list-item-icon>
          <v-icon small> mdi-logout-variant </v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title class="font-weight-regular">
            Выход
            <!-- {{ $t('menu.logout') }} -->
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
/*
|---------------------------------------------------------------------
| Toolbar User Component
|---------------------------------------------------------------------
|
| Quickmenu for user menu shortcuts on the toolbar
|
*/
export default {
  data() {
    return {
      menu: [
        {
          icon: 'mdi-account-box-outline',
          key: 'menu.profile',
          text: 'Profile',
          link: '/profile',
        },
      ],
    }
  },
  methods: {
    async logout() {
      // await this.$auth.logout()
    },
  },
}
</script>
