<template>
  <header
    id="header"
    class="header ml-0 ml-lg-16 white position-sticky"
    :style="{ top: headerTopHeight }"
  >
    <div v-if="$slots.top" ref="header__top" class="header__top w-full py-05">
      <div class="py-1 cfr-container">
        <slot name="top" />
      </div>
    </div>
    <div
      class="
        header__bottom
        cfr-container
        py-2 py-lg-1
        d-flex
        flex-wrap
        align-center
        w-full
      "
    >
      <v-btn
        v-if="!desktop"
        rounded
        fab
        small
        icon
        class="mr-2"
        @click="$emit('update:drawer', !drawer)"
      >
        <v-icon>mdi-menu</v-icon>
      </v-btn>
      <NuxtLink to="/" class="d-flex mr-10">
        <v-img src="/logo.svg" contain max-width="116" alt="logo" />
      </NuxtLink>
      <v-spacer />
      <div class="d-flex flex-wrap ma-n2 py-2 align-center">
        <template v-if="desktop">
          <div v-if="menu.length > 0" class="ma-2">
            <cfr-header-nav :items="menu" />
          </div>
          <div class="ma-2">
            <cfr-header-search />
          </div>
        </template>
        <template v-else>
          <v-btn
            class="mr-05 btn-mobile-extension"
            color="grey lighten-2"
            icon
            small
            :class="{ active: showMobileExtension }"
            @click="showMobileExtension = !showMobileExtension"
          >
            <v-icon
              color="black"
              class="transition-swing"
              v-text="'$chevronDown'"
            />
          </v-btn>
        </template>
        <div class="ma-2">
          <cfr-header-user />
        </div>
      </div>
    </div>
    <v-divider class="w-full" />
    <!-- mobile -->
    <div
      v-if="!desktop"
      class="
        cfr-container
        w-full
        overflow-hidden
        mobile-extension
        transition-ease-in-out
      "
      :class="{ show: showMobileExtension }"
    >
      <div v-if="menu.length > 0" class="ma-2">
        <cfr-header-nav :items="menu" />
      </div>
      <div class="my-2">
        <cfr-header-search />
      </div>
      <v-divider />
    </div>
  </header>
</template>

<script>
import Nav from "./_parts/Nav";
import User from "./_parts/User";
import Search from "./_parts/Search";

export default {
  name: "cfr-header",
  components: {
    "cfr-header-nav": Nav,
    "cfr-header-user": User,
    "cfr-header-search": Search,
  },
  props: {
    drawer: {
      type: Boolean,
      required: true,
    },
    menu: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      headerTopHeight: 0,
      desktop: this.$vuetify.breakpoint.lgAndUp,
      showMobileExtension: false,
    };
  },
  mounted() {
    // document.addEventListener('scroll', () => (this.headerTopHeight = this.getHeaderTopHeight()))
    this.headerTopHeight = this.getHeaderTopHeight();
  },
  methods: {
    getHeaderTopHeight() {
      if (this.$refs.header__top) {
        const h = this.$refs.header__top.clientHeight;
        return -h + "px";
      } else {
        return true;
      }
    },
  },
};
</script>

<style scoped lang="scss">
.header {
  z-index: 10;

  &__top {
    background: #edf2ff;
  }

  .mobile-extension {
    max-height: 0;
    opacity: 0;

    &.show {
      max-height: 100vh;
      opacity: 1;
    }
  }

  .btn-mobile-extension {
    &.active {
      .v-icon {
        transform: rotate(180deg);
      }
    }
  }
}
</style>
