<template>
  <div class="position-absolute h-full w-full overflow-hidden">
    <v-row no-gutters class="h-full overflow-hidden">
      <v-col class="h-full overflow-y-auto">
        <div class="cfr-container py-6">
          <v-breadcrumbs :items="breadcrumbs" class="pa-0 mb-6" />
          <section class="mb-6">
            <v-row dense align="center">
              <v-col cols="auto">
                <v-hover v-slot="{ hover }">
                  <v-btn
                    v-tippy="{ content: 'В избранном', placement: 'right' }"
                    fab
                    depressed
                    rounded
                    :color="hover ? 'orange lighten-4' : 'grey lighten-3'"
                    large
                    class="before-none transition-swing"
                    @click="filters.favorite = !filters.favorite"
                  >
                    <v-icon
                      :color="filters.favorite || hover ? 'orange' : 'grey lighten-1'"
                      v-text="'$bookmark'"
                    />
                  </v-btn>
                </v-hover>
              </v-col>
              <v-col cols="12" md="auto">
                <cfr-select
                  v-model="filters.org"
                  filled
                  rounded
                  dense
                  hide-details
                  placeholder="Организация"
                  clearable
                  :background-color="filters.org ? 'primary' : undefined"
                  :dark="!!filters.org"
                  :items="selectItems"
                  item-value="id"
                  item-text="title"
                />
              </v-col>
            </v-row>
          </section>
          <v-row>
            <v-col v-for="(item, i) in items" cols="12" md="3" :key="i">
              <v-hover v-slot="{ hover }">
                <v-card outlined
                        class="h-full rounded-xl pa-5 d-flex flex-column justify-space-between overflow-hidden transition-swing before-none"
                        :class="[{'secondary': selected === item.id, 'surface' : hover && selected !== item.id}]"
                        @click="clickItem(item)">
                  <v-card-text class="pa-0">
                    <v-row dense align="center">
                      <v-col>
                        <v-chip color="#B4DFFF">Наука</v-chip>
                      </v-col>
                      <v-col cols="auto">
                        <v-btn
                          v-if="hover || item.favorite"
                          v-tippy="{content: item.favorite ? 'Убрать из избранного' : 'В избранное'}"
                          icon
                          small
                          rounded
                          color="orange"
                          @click="toggleFavorite"
                        >
                          <v-icon :color="item.favorite ? 'orange' : 'black'"
                                  v-text="item.favorite ? '$bookmark' : '$bookmarkOutline'" />
                        </v-btn>
                        <v-btn
                          v-tippy="{content: 'Скачать'}"
                          icon
                          small
                          rounded
                          color="primary"
                          @click="download"
                        >
                          <v-icon :color="'black'"
                                  v-text="'$download'" />
                        </v-btn>
                      </v-col>
                      <v-col cols="12">
                        <h3 class="font-weight-semi-bold text-body-2 black--text mt-4" v-text="item.title" />
                      </v-col>
                    </v-row>
                  </v-card-text>
                  <v-card-actions class="pa-0 mt-5">
                    <v-row dense align="center" class="black--text text--opacity-6 text-body-2">
                      <v-col>
                        <div>ВИНИТИ РАН</div>
                      </v-col>
                      <v-col cols="auto">
                        <time>02.10.2021</time>
                      </v-col>
                    </v-row>
                  </v-card-actions>
                </v-card>
              </v-hover>
            </v-col>
          </v-row>
        </div>
      </v-col>
      <v-col cols="auto" class="h-full overflow-y-auto">
        <v-divider vertical class="position-absolute" />
        <div>
          <v-navigation-drawer :mini-variant="!selected" :mini-variant-width="0" permanent floating>
            <div class="d-flex justify-space-between align-center" style="min-height: 60px;">
              <div class="overflow-hidden">
                <transition name="fade">
                  <div
                    class="text-truncate text-body-2 font-weight-semi-bold pl-5"
                    v-show="!!selected"
                  >
                    Название
                  </div>
                </transition>
              </div>
              <v-btn
                fab
                small
                icon
                color="white"
                class="my-1 mx-4"
                @click="selected = null"
              >
                <v-icon v-text="'$close'" />
              </v-btn>
            </div>
            <v-divider />
            <!-- ToDo: вынести в отдельный компонент или раазобрать на мелкие компоненты, типа "Название" и т.д.-->
            <v-expansion-panels key="has-items" flat hover>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  Свойства
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <div class="px-5 pt-4 text-body-2">
                    <div class="mb-4">
                      <div class="grey--text">Тематика</div>
                      <div class="black--text">
                        Название тематики
                      </div>
                    </div>
                    <div class="mb-4">
                      <div class="grey--text">Исполнители</div>
                      <div class="black--text">Исполнитель О.Т., Исполников И.К.</div>
                    </div>
                    <div class="mb-4">
                      <div class="grey--text">Оценки экспертов</div>
                      <div class="black--text mt-1">
                        <v-row dense>
                          <v-col>Исполнитель О.Т.</v-col>
                          <v-col cols="auto">1/10</v-col>
                        </v-row>
                        <v-row dense>
                          <v-col>Исполников И.К.</v-col>
                          <v-col cols="auto">10/10</v-col>
                        </v-row>
                        <v-row dense>
                          <v-col>Исполни В.П.</v-col>
                          <v-col cols="auto">8/10</v-col>
                        </v-row>
                        <v-divider class="my-3" />
                        <v-row dense>
                          <v-col>Средняя оценка</v-col>
                          <v-col cols="auto">7/10</v-col>
                        </v-row>
                      </div>
                    </div>
                  </div>
                </v-expansion-panel-content>
                <v-divider />
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>Действия</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-list dense class="pa-0">
                    <v-list-item-group>
                      <template v-for="(item, i) in itemsAddActions">
                        <v-list-item :key="i" class="py-05"
                                     @click="methodCallByName(item.action, [selected])">
                          <v-list-item-icon>
                            <v-icon
                              v-text="item.icon.name"
                              :color="item.icon.color"
                            />
                          </v-list-item-icon>

                          <v-list-item-content>
                            <v-list-item-title
                              class="text-body-2 font-weight-regular"
                              v-text="item.title"
                            />
                          </v-list-item-content>
                        </v-list-item>
                      </template>
                    </v-list-item-group>
                  </v-list>
                </v-expansion-panel-content>
                <v-divider />
              </v-expansion-panel>
            </v-expansion-panels>
          </v-navigation-drawer>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { commonMixin } from "../../mixins/common";

export default {
  mixins: [commonMixin],
  data: () => ({
    breadcrumbs: [
      {
        text: "Интеллектум",
        disabled: false,
        href: "/"
      },
      {
        text: "База знаний",
        disabled: true,
        href: "/bk"
      },
      {
        text: "Отчеты НИОКР",
        disabled: true,
        href: "/reports"
      }
    ],
    rightDrawerMini: false,
    selected: null,
    items: [
      {
        id: 1,
        title: "Разработка базовых соответствий между ГРНТИ и другими классификационными системами. Разработка терминологических научных словарей по лексике классификационных систем научно-технической информации",
        favorite: true
      },
      {
        id: 2,
        title: "Разработка математической модели и методов расчета релаксационной стойкости тепловыделяющих сборок активной зоны атомного реактора",
        favorite: false
      },
      {
        id: 3,
        title: "Исследование механизма действия и фармакокинетики РФМ",
        favorite: true
      },
      {
        id: 4,
        title: "Проведение научных исследований по изучению возможности использования средства для дезинфекции в ветеринарии"
      },
      {
        id: 5,
        title: "Разработка базовых соответствий между ГРНТИ и другими классификационными системами. Разработка терминологических научных словарей по лексике классификационных систем научно-технической информации"
      },
      {
        id: 6,
        title: "Разработка математической модели и методов расчета релаксационной стойкости тепловыделяющих сборок активной зоны атомного реактора"
      }
    ],
    itemsAddActions: [
      { title: "Скачать", action: "testA", icon: { name: "$download" }, multiple: true }
    ],
    filters: {
      favorite: false,
      org: null,
      f2: null
    },
    selectItems: [
      {
        id: 1,
        title: "Value 1"
      },
      {
        id: 2,
        title: "Value 2"
      },
      {
        id: 3,
        title: "Value 3"
      },
      {
        id: 4,
        title: "Value 4"
      },
      {
        id: 5,
        title: "Value 5"
      },
      {
        id: 6,
        title: "Value 6"
      }
    ]
  }),
  methods: {
    toggleFavorite(e) {
      e.stopPropagation();
      // this.innerValue.favorite = !this.innerValue.favorite
    },
    download(e) {
      e.stopPropagation();
    },
    clickItem(item) {
      if (this.selected === item.id) {
        this.selected = null;
      } else {
        this.selected = item.id;
      }
    },
  }
};
</script>
