// Editor JS
.ct {
  font-family: $body-font-family;
}

.ce-block {
  .image-tool--stretched {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}


.ce-toolbar__content,
.ce-block__content {
  max-width: 1066px !important;
}


.cdx-notifies {
  z-index: 4;
  right: 1rem;
  left: inherit;
}
