<template>
  <v-list dark>
    <template v-for="(item, i) in menu">
      <div :key="i">
        <div v-if="item.key || item.text" class="py-1 px-5 mt-2 mb-1 overline text-truncate">
          {{ item.key ? $t(item.key) : item.text }}
        </div>
        <NavMenu :menu="item.items" />
      </div>
    </template>
  </v-list>
</template>

<script>
export default {
  name: 'Menu',
  props: {
    menu: {
      type: Array,
      default: () => []
    }
  }
}
</script>
