<template>
  <div>
    <!-- menu level 1 -->
    <NavMenuItem v-for="(level1Item, level1Index) in menu" :key="level1Index" :item="level1Item">
      <template v-if="level1Item.items">
        <!-- menu level 2 -->
        <NavMenuItem
          v-for="(level2Item, level2Index) in level1Item.items"
          :key="level2Index"
          :item="level2Item"
          :level="2"
          subgroup
          small
        >
          <template v-if="level2Item.items">
            <!-- menu level 3 -->
            <NavMenuItem
              v-for="(level3Item, level3Index) in level2Item.items"
              :key="level3Index"
              :item="level3Item"
              :level="3"
              small
            />
          </template>
        </NavMenuItem>
      </template>
    </NavMenuItem>
  </div>
</template>

<script>
/*
|---------------------------------------------------------------------
| Navigation Menu Component
|---------------------------------------------------------------------
|
| Multi-layer navigation menu
|
| menu: [{ text: 'Menu Levels',
|    items: [
|      { text: 'Menu Levels 2.1' },
|      { text: 'Menu Levels 2.2',
|        items: [
|          { text: 'Menu Levels 3.1' },
|          { text: 'Menu Levels 3.2' }
|        ]
|      }
|    ]
|  }]
|
*/
export default {
  props: {
    menu: {
      type: Array,
      default: () => []
    },
    miniVariant: {
      type: Boolean,
      default: true
    }
  }
}
</script>
