<template>
  <!--  <v-hover v-slot="{ hover }">-->
  <v-list-item
    :input-value="item.value"
    :to="item.link"
    :exact="item.exact"
    :disabled="item.disabled"
    :class="{'primary': hover}"
    class="justify-start py-2 px-5"
    active-class="primary"
    :content="item.text"
    @mouseenter="mouseover"
    @mouseleave="mouseleave"
  >
<!--    @click="click"-->
    <v-list-item-action>
      <v-icon>{{ item.icon }}</v-icon>
    </v-list-item-action>
    <v-list-item-content>
      <v-list-item-title class="font-weight-medium" v-text="item.text" />
    </v-list-item-content>
    <!--      <navMenuItemGroup :class="hover ? 'show' : ''" :items="item.items" />-->
    <v-list-item-group
      v-if="item.items"
      class="pt-16 overflow-auto"
      :class="[bgGroupClass, {'show': hover}]"
      :style="{left: left + 'px' }"
      mandatory
    >
      <slot />
    </v-list-item-group>
  </v-list-item>
  <!--  </v-hover>-->
</template>

<script>
export default {
  name: 'CMenuItem',
  props: {
    item: {
      type: Object,
      required: true
    },
    level: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      hover: false,
      left: 0
    }
  },
  computed: {
    bgGroupClass() {
      switch (this.level) {
        case 1:
          return 'grey darken-4'
        case 2:
          return 'grey darken-3'
        case 3:
          return 'grey darken-2'
        default:
          return 'grey darken-4'
      }
    }
  },
  methods: {
    mouseover(e) {
      const coord = e.target.getBoundingClientRect()
      this.left = coord.x + coord.width
      this.hover = true
    },
    mouseleave() {
      this.hover = false
    },
    // click() {
    //   // ToDo: почему-то вызывается 3 раза
    //   // this.$events.fire('toggleMiniVariant', true)
    // }
  }
}
</script>
