<template>
  <v-list two-line>
    <v-row no-gutters>
      <v-col v-for="item in innerItems" :key="item.id" cols="12" md="3">
        <userListItem
          :key="item.id"
          :value="item"
          :selected="innerValue === item.id"
          @click.native="clickItem(item)"/>
        <v-divider inset/>
      </v-col>
    </v-row>
    <portal v-if="currentItem" to="rightDrawer">
      <!-- ToDo: вынести в отдельный компонент-->
      <div>
        <v-card tile :elevation="0" class="pb-5">
          <v-img
            :aspect-ratio="16/9"
            width="100%"
            src="https://png.cmtt.space/paper-media/10/70/b6/d8dbf3315cefaa.jpg"
            class="white--text align-end"
          >
            <v-card-title class="d-block px-5 pt-11 pb-5 v-card__title_img">
              <h2 class="mb-1 text-body-2 font-weight-semi-bold white--text" v-text="currentItem.name"/>
              <div class="text-body-2 white--text" v-text="currentItem.position"/>
            </v-card-title>
          </v-img>

          <v-divider/>
          <v-card-text class="pa-0">
            <v-expansion-panels flat hover>
              <v-expansion-panel>
                <v-expansion-panel-header>О эксперте</v-expansion-panel-header>
                <v-expansion-panel-content class="px-5">
                  <div class="text-body-2">
                    <div class="mb-4">
                      <div class="grey--text">Образование</div>
                      <div class="black--text">Институт стран Азии и Африки МГУ</div>
                    </div>
                    <div class="mb-4">
                      <div class="grey--text">Ученая степень</div>
                      <div class="black--text">Доктор технических наук</div>
                    </div>
                    <div class="mb-4">
                      <div class="grey--text">Ученое звание</div>
                      <div class="black--text">Доцент</div>
                    </div>
                    <div class="mb-4">
                      <div class="grey--text">Организация</div>
                      <div class="black--text">Росатом</div>
                    </div>
                    <div class="mb-4">
                      <div class="grey--text">Аффилиации</div>
                      <div class="black--text">Цифрум</div>
                    </div>
                    <div class="mb-4">
                      <div class="grey--text">Индекс Хирша</div>
                      <div class="black--text">9,1</div>
                    </div>
                    <div class="mb-4">
                      <div class="grey--text">Российский индекс научного цитирования</div>
                      <div class="black--text">10</div>
                    </div>
                  </div>
                </v-expansion-panel-content>
                <v-divider/>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>Контакты</v-expansion-panel-header>
                <v-expansion-panel-content class="px-5">
                  <div class="text-body-2">
                    <div class="mb-4">
                      <div class="grey--text">Адрес</div>
                      <div class="black--text">Москва, ул. Знаменка, д.1</div>
                    </div>
                    <div class="mb-4">
                      <div class="grey--text">Телефон</div>
                      <div class="black--text">
                        <a href="tel:+79999999999" class="text-decoration-none">+7 (999) 999 99 99</a>
                      </div>
                    </div>
                    <div class="mb-4">
                      <div class="grey--text">Email</div>
                      <div class="black--text">
                        <a :href="`mailto:${currentItem.email}`" class="text-decoration-none">{{currentItem.email}}</a>
                      </div>
                    </div>
                  </div>
                </v-expansion-panel-content>
                <v-divider/>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>Действия</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-list
                    dense
                    class="pa-0"
                  >
                    <v-list-item-group>
                      <template v-for="(item, i) in currentItemActions">
                        <v-list-item
                          :key="i"
                          class="py-05"
                          @click="handleClickItemActions(item)"
                        >
                          <v-list-item-icon>
                            <v-icon v-text="item.icon.name" :color="item.icon.color"/>
                          </v-list-item-icon>

                          <v-list-item-content>
                            <v-list-item-title class="text-body-2 font-weight-regular" v-text="item.text"/>
                          </v-list-item-content>
                        </v-list-item>
                      </template>
                    </v-list-item-group>
                  </v-list>
                </v-expansion-panel-content>
                <v-divider/>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-card-text>
        </v-card>
      </div>
    </portal>
  </v-list>
</template>

<script>
import {mapMutations} from 'vuex'
import {clipboardMixin} from "../../../mixins/clipboard";

export default {
  name: 'List',
  mixins: [clipboardMixin],
  props: {
    items: {
      type: Array,
      required: true
    },
    value: {
      type: Number,
      required: false,
      default: null
    }
  },
  data: () => ({
    innerValue: null,
    innerItems: [],
    actions: [
      {text: 'Скачать анкету', icon: {name: '$download'}},
      {text: 'Копировать ссылку', icon: {name: '$linkVariant'}, action: 'currentItemCopyLink'},
    ]
  }),
  computed: {
    currentItem() {
      return this.items.find(i => i.id === this.innerValue)
    },
    currentItemActions() {
      if (!this.currentItem) return []

      const actions = [...this.actions]
      if (this.currentItem.favorite) {
        actions.push({
          text: 'Убрать из избранного',
          icon: {name: '$bookmark', color: 'orange'},
          action: 'currentItemToggleFavorite'
        })
      } else {
        actions.push({
          text: 'Добавить в избранное',
          icon: {name: '$bookmarkOutline'},
          action: 'currentItemToggleFavorite'
        })
      }
      return actions
    }
  },
  watch: {
    // Handles internal model changes.
    innerValue(newVal) {
      this.$emit('input', newVal)
    },
    // Handles external model changes.
    value(newVal) {
      this.innerValue = newVal
    },
    // Handles internal model changes.
    innerItems(newVal) {
      this.$emit('update:items', newVal)
    },
    // Handles external model changes.
    items(newVal) {
      this.innerItems = newVal
    }
  },
  created() {
    if (this.value) {
      this.innerValue = this.value
    }
    this.innerItems = [...this.items]
  },
  methods: {
    ...mapMutations({
      toggleRightDrawer: 'app/toggleRightDrawer'
    }),
    handleClickItemActions(item) {
      if (this.$options.methods[item.action]) { // guard to prevent runtime errors
        this.$options.methods[item.action].call(this); // Вызываем с сохранением текущего контекста
      }
    },
    currentItemToggleFavorite() {
      const item = this.innerItems.find(i => i.id === this.currentItem.id)
      if (item) {
        item.favorite = !item.favorite
      }
    },
    currentItemCopyLink () {
      this.$copyText(this.currentItem.url).then((e) => {
        this.onCopySuccess(e)
      }, (e) => {
        this.onCopyError()
      })
    },
    clickItem(item) {
      if (this.innerValue === item.id) {
        this.innerValue = null
        this.toggleRightDrawer(false)
      } else {
        this.innerValue = item.id
        this.toggleRightDrawer(true)
      }
    }
  }
}
</script>

<style scoped lang="scss">
.v-card__title_img {
  background: linear-gradient(180deg, rgba(65, 65, 65, 0) 0%, rgba(65, 65, 65, 0.6) 100%);
}
</style>
