<template>
  <v-hover v-slot="{ hover }">
    <v-list-item
      class="align-start pa-5 flex-grow-1"
      link
      :class="{'secondary' : selected}"
    >
      <v-list-item-avatar class="align-self-start my-0" :size="44">
        <v-img :src="innerValue.avatar"/>
      </v-list-item-avatar>
      <v-list-item-content class="align-self-start py-1 pr-1">
        <v-list-item-title class="text-wrap mb-1 font-weight-semi-bold text-body-2" v-text="innerValue.name" />
        <v-list-item-subtitle class="text-body-2 grey--text lighten-4" v-text="innerValue.position" />
      </v-list-item-content>
      <v-list-item-action class="align-self-start my-0">
        <v-btn
          v-if="hover || innerValue.favorite"
          v-tippy="{content: innerValue.favorite ? 'Убрать из избранного' : 'В избранное'}"
          icon
          small
          rounded
          color="orange"
          @click="toggleFavorite"
        >
          <v-icon :color="innerValue.favorite ? 'orange' : 'black'"
                  v-text="innerValue.favorite ? '$bookmark' : '$bookmarkOutline'" />
        </v-btn>
      </v-list-item-action>
    </v-list-item>
  </v-hover>
</template>

<script>
export default {
  name: 'ListItem',
  props: {
    value: {
      type: Object,
      required: true
    },
    selected: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    innerValue: null
  }),
  watch: {
    // Handles internal model changes.
    innerValue(newVal) {
      this.$emit('input', newVal)
    },
    // Handles external model changes.
    value(newVal) {
      this.innerValue = newVal
    }
  },
  created() {
    if (this.value) {
      this.innerValue = this.value
    }
  },
  methods: {
    toggleFavorite(e) {
      e.stopPropagation()
      this.innerValue.favorite = !this.innerValue.favorite
    }
  }
}
</script>
