<template>
  <div class="position-absolute h-full w-full overflow-hidden">
    <v-row v-if="form" no-gutters class="h-full overflow-hidden">
      <v-col cols="12" md="2" class="h-full overflow-y-auto">
        <div>
          <div class="font-weight-bold text-body-2 text-xl-body-1 py-5 px-5">
            Заголовки
          </div>
          <v-list dense class="pa-0 mb-5">
            <v-list-item-group
              v-model="currentHeader"
              color="primary"
              mandatory>
              <v-list-item
                v-for="(item, i) in form.content.blocks"
                v-if="item.type === 'header'"
                :key="i"
                @click="goTo(`b${i}`)" class="py-05 px-5">
                <v-list-item-content>
                  <v-list-item-title
                    class="text-body-2 font-weight-regular"
                    :class="getPLClass(item)"
                    v-text="item.data.text"
                  />
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </div>
      </v-col>
      <v-divider vertical style="z-index: 2" />
      <v-col cols="12" md="8" class="h-full overflow-y-auto" ref="scrolling"
             @scroll="findActiveBlock">
        <v-breadcrumbs :items="computedBreadcrumbs" class="px-6" />
        <v-card class="ma-6 rounded-xl pa-0" outlined :elevation="2">
          <v-card-title class="flex-column align-start px-8 px-xl-15 py-8">
            <v-row class="w-full black--text text--opacity-4 w-full" dense>
              <v-col cols="12" md="auto">
                <div class="text-body-2 text-xl-body-1">
                  Автор: {{ form.created_by.name }}
                </div>
              </v-col>
              <v-spacer />
              <v-col cols="12" md="auto">
                <time
                  class="text-body-2 text-xl-body-1"
                  v-text="$moment(form.created_at).format('DD.MM.YYYY')" />
              </v-col>
            </v-row>
            <h1 class="mt-8 mt-xl-18 mb-5 text-h3 text-xl-h1 font-weight-bold">
              {{ form.title }}
            </h1>
            <v-row class="w-full" dense align="center">
              <v-col>
                <div class="black--text text-body-2 text-xl-body-1 font-weight-regular">
                  Направление статьи, Тематика
                </div>
              </v-col>
              <v-col cols="auto" class="d-flex">
                <v-hover v-slot="{ hover }">
                  <a
                    class="text-body-2 text-xl-body-1 d-flex align-center mr-4"
                    :class="hover ? 'primary--text' : 'black--text'"
                    @click="goTo('card-comments')"
                  >
                    <v-icon :color="hover ? 'primary' : 'black'" v-text="'$messageReplyOutline'" />
                    <span class="font-weight-medium">{{ form.reply_count }}</span>
                  </a>
                </v-hover>
                <v-hover v-slot="{ hover }">
                  <a
                    class="text-body-2 text-xl-body-1 d-flex align-center"
                    :class="hover || form.like ? 'primary--text' : 'black--text'"
                    @click="like"
                  >
                    <v-icon :color="hover || form.like ? 'primary' : 'black'" v-text="'$heartOutline'" />
                    <span class="font-weight-medium">{{ form.likes_count }}</span>
                  </a>
                </v-hover>
              </v-col>
            </v-row>
          </v-card-title>
          <v-divider />
          <v-card-text class="px-8 px-xl-15 pt-10 pt-xl-20 pb-6 black--text">
            <article
              v-if="form.content.blocks.length > 0"
              class="article black--text text-body-2 text-xl-body-1"
            >
              <cfr-editorjs-content :content="form.content" />
            </article>
            <v-divider class="mt-20 mb-6" />
            <div>
              <span
                v-for="(item, i) in form.tags"
                :key="i"
                class="mr-6 black--text text--opacity-4"
              ># {{ item }}</span
              >
            </div>
          </v-card-text>
        </v-card>

        <articleCardComments id="card-comments" :post-id="parseInt($route.params.id)" />
      </v-col>
      <v-divider vertical style="z-index: 2" />
      <v-col cols="12" md="2" class="h-full overflow-y-auto">
        <div class="px-5">
          <div class="font-weight-bold text-body-2 text-xl-body-1 py-5">
            Действия
          </div>
        </div>
        <v-list dense class="pa-0">
          <v-list-item-group>
            <template v-for="(item, i) in actions">
              <v-list-item
                :key="i"
                class="py-05"
                @click="methodCallByName(item.action, item.actionParams || [])">
                <v-list-item-icon>
                  <v-icon v-text="item.icon.name" :color="item.icon.color" />
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title
                    class="text-body-2 font-weight-regular"
                    v-text="item.text"
                  />
                </v-list-item-content>
              </v-list-item>
            </template>
            <v-list-item class="py-05">
              <v-list-item-icon>
                <v-icon v-text="'$abstract'" />
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title
                  class="text-body-2 font-weight-regular"
                  v-text="'Абстракт'"
                />
              </v-list-item-content>
              <v-list-item-action class="my-0">
                <cfr-menu-actions :items="abstractActions" small :listAttrs="{dark:true}" />
              </v-list-item-action>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { commonMixin } from "../../mixins/common";

export default {
  mixins: [commonMixin],
  data: () => ({
    breadcrumbs: [
      {
        text: "Интеллектум",
        disabled: false,
        href: "/"
      },
      {
        text: "Форум",
        disabled: false,
        href: "/forum"
      }
    ],
    form: null,
    currentHeader: null,
    abstractActions: [
      { title: "Действие 1" },
      { title: "Действие 2" },
      { title: "Действие 3" }
    ]
  }),
  async fetch() {
    this.form = await this.$api.posts.getPost(parseInt(this.$route.params.id));
  },
  computed: {
    headers() {
      return this.content.blocks.filter((item) => item.type === "header");
    },
    computedBreadcrumbs() {
      const breadcrumbs = [...this.breadcrumbs];
      if (this.form && this.form.title) {
        breadcrumbs.push({
          text: this.form.title,
          exact: true,
          to: `/article/${this.$route.params.id}`
        });
      }
      return breadcrumbs;
    },
    actions() {
      return [
        {
          text: "Избранное",
          icon: {
            name: this.form.favorite ? "$bookmark" : "$bookmarkOutline",
            color: this.form.favorite ? "orange" : "black"
          },
          action: "favorite"
        },
        {
          text: "Нравится",
          icon: { name: "$heartOutline", color: this.form.like ? "primary" : "black" },
          action: "like"
        },
        {
          text: "Комментарии",
          icon: { name: "$messageReplyOutline" },
          action: "goTo",
          actionParams: ["card-comments"]
        },
        { text: "Поделиться", icon: { name: "$exportVariant" } }
      ];
    }
  },
  methods: {
    goTo(id) {
      const element = document.getElementById(id);
      const header = document.getElementById(`header`);
      const top = id === "card-comments" ? element.offsetTop - 16 : element.offsetTop + header.clientHeight - 16;

      this.$nextTick(() => {
        this.$refs.scrolling.scrollTo({ top: top, behavior: "smooth" });
      });
    },
    findActiveBlock() {
      if (!this.$refs.scrolling) return;
      const blocks = this.$refs.scrolling.querySelectorAll(".block-h");
      const parentTop = this.$refs.scrolling.getBoundingClientRect().top;
      this.currentHeader = [...blocks].findIndex(
        (block) => block.getBoundingClientRect().top >= parentTop
      );
      if (this.currentHeader < 0)
        this.currentHeader = blocks.length - 1;
    },
    getPLClass(item) {
      const v = item.data.level - 1;
      return `pl-${v}`;
    },
    like() {
      // this.$store.commit('post/toggleLike', this.form.id)
      if (this.form.like) {
        this.form.likes_count--;
      } else {
        this.form.likes_count++;
      }
      this.form.like = !this.form.like;
    },
    favorite() {
      this.form.favorite = !this.form.favorite;
    }
  }
};
</script>
