<template>
  <div class="position-absolute h-full w-full overflow-hidden">
    <v-row no-gutters class="h-full overflow-hidden">
      <v-col cols="12" md="2" class="h-full overflow-y-auto">
        <div>
          <div class="font-weight-bold text-body-2 text-xl-body-1 py-5 px-5">Черновики</div>
          <v-list
            dense
            class="pa-0 mb-5"
          >
            <v-list-item-group>
              <template v-for="(item, i) in drafts">
                <v-list-item
                  :key="i"
                  class="py-05 px-5"
                  :to="item.to"
                >
                  <v-list-item-icon v-if="item.icon">
                    <v-icon v-text="item.icon.name" :color="item.icon.color" />
                  </v-list-item-icon>

                  <v-list-item-content>
                    <v-list-item-title class="text-body-2 font-weight-regular" v-text="item.title" />
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-list-item-group>
          </v-list>
        </div>
        <v-divider />
        <div>
          <div class="font-weight-bold text-body-2 text-xl-body-1 py-5 px-5">Заголовки</div>
          <v-list
            dense
            class="pa-0 mb-5"
          >
            <v-list-item-group>
              <template v-for="(item, i) in headings">
                <v-list-item
                  :key="i"
                  class="py-05 px-5"
                  :to="item.to"
                >
                  <v-list-item-icon v-if="item.icon">
                    <v-icon v-text="item.icon.name" :color="item.icon.color" />
                  </v-list-item-icon>

                  <v-list-item-content>
                    <v-list-item-title class="text-body-2 font-weight-regular" v-text="item.title" />
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-list-item-group>
          </v-list>
        </div>
      </v-col>
      <v-divider vertical style="z-index: 2" />
      <v-col cols="12" md="8" class="h-full overflow-y-auto">
        <v-breadcrumbs :items="breadcrumbs" class="px-6" />
        <v-card class="ma-6 rounded-xl pa-0" outlined :elevation="2">
          <v-card-title class="flex-column align-start px-15 py-8">
            <v-row class="w-full black--text text--opacity-4">
              <v-col cols="12" md="auto">
                <div class="text-body-2 text-xl-body-1">Автор: Абрамычев Андрей Иванович</div>
              </v-col>
              <v-spacer />
              <v-col cols="12" md="auto">
                <div class="text-body-2 text-xl-body-1">Дата создания:
                  <time>{{ $moment(form.created_at).format("DD.MM.YYYY") }}</time>
                </div>
              </v-col>
            </v-row>
            <ValidationProvider
              v-slot="{ errors: titleErrors }"
              rules="required"
              :custom-messages="{ required: 'Введите название' }"
              slim
            >
              <v-text-field
                v-model="form.title"
                label="Название"
                :error-messages="titleErrors"
                class="v-text-field--big-name mt-10 mt-xl-18 mb-2 w-full"
                data-vv-as="Название"
                single-line
                dense
              />
            </ValidationProvider>
            <!--          <h1 class="mt-18">Название статьи 1</h1>-->
          </v-card-title>
          <v-divider />
          <v-card-text class="px-15 py-20 black--text">
            <cfr-text-editor
              ref="editor"
              v-model="form.content"
            />
          </v-card-text>
        </v-card>
      </v-col>
      <v-divider vertical style="z-index: 2" />
      <v-col cols="12" md="2" class="h-full overflow-y-auto">
        <div class="px-5">
          <div class="font-weight-bold text-body-2 text-xl-body-1 py-5">Направление статьи</div>
          <v-autocomplete
            :items="directions"
            multiple
            placeholder="Не выбрано"
            item-value="id"
            item-text="title"
            outlined
            dense />
        </div>
        <v-divider />
        <div class="px-5">
          <div class="font-weight-bold text-body-2 text-xl-body-1 py-5">Тематика статьи</div>
          <v-text-field placeholder="Введите тематику статьи..." outlined dense />
        </div>
        <v-divider />
        <div>
          <div class="px-5">
            <div class="font-weight-bold text-body-2 text-xl-body-1 py-5">Теги</div>
            <v-text-field v-model="tagInput" placeholder="# Введите теги..." @change="addTag()" outlined dense
                          hide-details />
          </div>
          <v-list
            dense
            class="pa-0 mb-5 mt-2"
          >
            <v-list-item-group>
              <template v-for="(item, i) in form.tags">
                <v-list-item
                  :key="i"
                  class="py-05 pl-5 pr-4 cursor-default"
                >
                  <v-list-item-content>
                    <v-list-item-title class="text-body-2 font-weight-regular black--text text--opacity-4"
                                       v-text="`# ${item}`" />
                  </v-list-item-content>
                  <v-list-item-action class="my-0">
                    <v-btn icon x-small rounded color="error" @click="removeTag(item)">
                      <v-icon small v-text="'$clear'" />
                    </v-btn>
                  </v-list-item-action>
                </v-list-item>
              </template>
            </v-list-item-group>
          </v-list>
        </div>
        <v-divider />
        <div class="px-5 mb-5">
          <div class="font-weight-bold text-body-2 text-xl-body-1 py-5">Публикация статьи</div>
          <v-btn block color="primary" @click="submit" large>Опубликовать статью</v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// ToDo: разобрать на компоненты

export default {
  data: () => ({
    breadcrumbs: [
      {
        text: "Интеллектум",
        disabled: false,
        href: "/"
      },
      {
        text: "Форум",
        disabled: false,
        href: "/forum"
      },
      {
        text: "Создание статьи",
        disabled: true,
        href: "/article/create"
      }
    ],
    headings: [
      {
        title: "Заголовок 1",
        to: "#article-1"
      },
      {
        title: "Заголовок 2",
        to: "#article-2"
      },
      {
        title: "Заголовок 3",
        to: "#article-3"
      }
    ],
    drafts: [
      {
        title: "Название статьи 1",
        to: "#draft-1"
      },
      {
        title: "Название статьи 2",
        to: "#draft-2"
      },
      {
        title: "Очень сильно длинное название статьи",
        to: "#draft-3"
      }
    ],
    directions: [
      {
        id: 1,
        title: "Кульутра"
      },
      {
        id: 2,
        title: "Квантовые вычисления"
      }
    ],
    form: {
      title: "",
      tags: ["Промышленность", "Производство", "Отрасль", "Строительство"],
      content: {
        blocks: [
          {
            "id": "7iXmU9jURL",
            "type": "header",
            "data": {
              "text": "Editor.js",
              "level": 2
            }
          },
          {
            "id": "TKmkbMvYyr",
            "type": "paragraph",
            "data": {
              "text": "Hey. Meet the new Editor. On this page you can see it in action — try to edit this text."
            }
          },
          {
            "id": "XfVCbAz7iu",
            "type": "header",
            "data": {
              "text": "Key features",
              "level": 3
            }
          },
          {
            "id": "7_blLy8tnY",
            "type": "list",
            "data": {
              "style": "unordered",
              "items": [
                "It is a block-styled editor",
                "It returns clean data output in JSON",
                "Designed to be extendable and pluggable with a simple API"
              ]
            }
          },
          {
            "id": "OQmjP48IDR",
            "type": "header",
            "data": {
              "text": "What does it mean «block-styled editor»",
              "level": 3
            }
          },
          {
            "id": "q27q_u_XRR",
            "type": "paragraph",
            "data": {
              "text": "Workspace in classic editors is made of a single contenteditable element, used to create different HTML markups. Editor.js <mark class=\"cdx-marker\">workspace consists of separate Blocks: paragraphs, headings, images, lists, quotes, etc</mark>. Each of them is an independent contenteditable element (or more complex structure) provided by Plugin and united by Editor's Core."
            }
          },
          {
            "id": "VS3AEvB27H",
            "type": "paragraph",
            "data": {
              "text": "There are dozens of <a href=\"https://github.com/editor-js\">ready-to-use Blocks</a> and the <a href=\"https://editorjs.io/creating-a-block-tool\">simple API</a> for creation any Block you need. For example, you can implement Blocks for Tweets, Instagram posts, surveys and polls, CTA-buttons and even games."
            }
          },
          {
            "id": "tVUDbCg9Qs",
            "type": "header",
            "data": {
              "text": "What does it mean clean data output",
              "level": 3
            }
          },
          {
            "id": "Ba1WZUdHIU",
            "type": "paragraph",
            "data": {
              "text": "Classic WYSIWYG-editors produce raw HTML-markup with both content data and content appearance. On the contrary, Editor.js outputs JSON object with data of each Block. You can see an example below"
            }
          },
          {
            "id": "TsqWGDsRim",
            "type": "paragraph",
            "data": {
              "text": "Given data can be used as you want: render with HTML for <code class=\"inline-code\">Web clients</code>, render natively for <code class=\"inline-code\">mobile apps</code>, create markup for <code class=\"inline-code\">Facebook Instant Articles</code> or <code class=\"inline-code\">Google AMP</code>, generate an <code class=\"inline-code\">audio version</code> and so on."
            }
          },
          {
            "id": "i9zVExuMl-",
            "type": "paragraph",
            "data": {
              "text": "Clean data is useful to sanitize, validate and process on the backend."
            }
          },
          {
            "id": "Xv6RD8rkSV",
            "type": "delimiter",
            "data": {}
          },
          {
            "id": "Z6vnVOtzKm",
            "type": "paragraph",
            "data": {
              "text": "We have been working on this project more than three years. Several large media projects help us to test and debug the Editor, to make it's core more stable. At the same time we significantly improved the API. Now, it can be used to create any plugin for any task. Hope you enjoy. 😏"
            }
          },
          {
            "id": "RkpqsRMv63",
            "type": "image",
            "data": {
              "file": {
                "url": "https://codex.so/public/app/img/external/codex2x.png"
              },
              "caption": "",
              "withBorder": false,
              "stretched": false,
              "withBackground": false
            }
          }
        ]
      },
      created_at: new Date()
    },
    expLeft: [0],
    tagInput: ""
  }),
  methods: {
    addTag() {
      if (this.tagInput) {
        const f = this.form.tags.find(i => i === this.tagInput);
        if (!f) {
          this.form.tags.push(this.tagInput);
        }
        this.tagInput = "";
      }
    },
    removeTag(item) {
      const index = this.form.tags.findIndex(i => i === item);
      if (index > -1) {
        this.form.tags.splice(index, 1);
      }
    },
    submit() {
      // this.$emit('loading', true)
      // this.$refs.editor.getEditorActualValue().then((content) => {
      //   if (!content) {
      //     this.$dialog.notify.error('Заполните контент')
      //     // this.$emit('loading', false)
      //     return
      //   }
      //   console.log(content);
      //   // this.$emit('submit', {
      //   //   tags: this.tags,
      //   //   title: this.title,
      //   //   content: content,
      //   //   section_id: this.section_id
      //   // })
      //   // this.$emit('loading', false)
      // }).catch(() => {
      //   // this.$emit('loading', false)
      // })
    }
  }
};
</script>

<style lang="scss">
.v-input.v-text-field--big-name {
  .v-label,
  input {
    line-height: normal;
    font-size: 24px;
    font-weight: bold;
    @media #{map-get($display-breakpoints, 'md-and-up')} {
      font-size: 36px;
    }
  }

  .v-label {
    color: rgba(0, 0, 0, 0.4);
    height: 28px;
    @media #{map-get($display-breakpoints, 'md-and-up')} {
      height: 42px;
    }
  }

  input {
    font-weight: bold !important;
    max-height: 28px;
    @media #{map-get($display-breakpoints, 'md-and-up')} {
      max-height: 42px;
    }
  }

  & > .v-input__control > .v-input__slot {
    &::before,
    &::after {
      content: none;
    }
  }

  //&.v-select {
  //  .v-input__append-inner {
  //    display: none;
  //  }
  //}
}
</style>
