<template>
  <div class="cfr-container py-5">
    <v-row>
      <v-col cols="12" md="8">
        <v-card v-for="(item, i) in items" :key="i" class="mb-5 rounded-xl" outlined :to="`/articles/${item.id}`" hover>
          <v-card-text class="black--text pa-5">
            <div class="d-flex align-center text-body-2 mb-5">
              <v-avatar :size="24" class="mr-3">
                <v-img :src="'https://avatars0.githubusercontent.com/u/9064066?v=4&s=460'" />
              </v-avatar>
              <div class="black--text mr-3">Берков Артур Львович</div>
              <time class="black--text text--opacity-4 font-weight-medium">24 июня</time>
            </div>
            <v-row class="mb-1">
              <v-col cols="12" md="6" class="position-relative">
                <v-chip
                  class="position-absolute"
                  style="left: 24px; top: 24px; z-index: 2;"
                  color="#FFEAB4"
                >
                  Строительство
                </v-chip>
                <v-img :src="item.img" :aspect-ratio="2" class="rounded-xl" />
              </v-col>
              <v-col cols="12" md="6">
                <h2 class="black--text text--opacity-9 mb-3 text-h6" v-text="item.title" />
                <div class="text-body-2">
                 {{getExcerpt(item.content.blocks)}}
                </div>
              </v-col>
            </v-row>
            <v-row dense align="center">
              <v-col cols="12" md="6">
                <span class="font-weight-bold text-body-2">20</span> комментариев
              </v-col>
              <v-col cols="12" md="6" class="text-right">
                <v-btn icon depressed rounded small class="mr-1">
                  <v-icon v-text="'$linkVariant'" />
                </v-btn>
                <v-btn icon depressed rounded small>
                  <v-icon v-text="'$bookmarkOutline'" />
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  computed: {
    items() {
      return this.$store.state.post.list;
    }
  },
  methods: {
    getExcerpt(blocks) {
      const p = blocks.find(i => i.type === 'paragraph')
      if(p) {
        return p.data.text
      } else {
        return ''
      }
    }
  },
  async fetch() {
    // this.items = await this.$api.posts.getPostComments(parseInt(this.$route.params.id));
    const items = await this.$api.posts.get();
    this.$store.commit("post/setList", items);
  }
};
</script>
