<template>
  <v-footer
    absolute
    app
    inset
    color="grey lighten-4"
    class="ml-md-16"
  >
    <small>ЧУ "Цифрум" | Росатом &copy; {{ new Date().getFullYear() }}</small>
  </v-footer>
</template>
