/**
 * Styles for entry
 */

.article {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  color: black;
  @media #{map-get($display-breakpoints, 'xl-only')} {
    font-size: 1.125rem;
  }
  small {
    font-size: 0.75rem;
    @media #{map-get($display-breakpoints, 'xl-only')} {
      font-size: 0.875rem;
    }
  }
  h1 {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 1.5rem;
    @media #{map-get($display-breakpoints, 'xl-only')} {
      font-size: 3rem;
    }
  }
  h2 {
    font-size: 1.46rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 1.5rem;
    @media #{map-get($display-breakpoints, 'xl-only')} {
      font-size: 2.5rem;
    }
  }
  h3 {
    font-size: 1.33rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 1.5rem;
    @media #{map-get($display-breakpoints, 'xl-only')} {
      font-size: 2.25rem;
    }
  }
  h4 {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 1.5rem;
    @media #{map-get($display-breakpoints, 'xl-only')} {
      font-size: 2rem;
    }
  }
  h5 {
    font-size: 1.066rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 1.5rem;
    @media #{map-get($display-breakpoints, 'xl-only')} {
      font-size: 1.5rem;
    }
  }
  h6 {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 1.5rem;
    @media #{map-get($display-breakpoints, 'xl-only')} {
      font-size: 1.125rem;
    }
  }
  ul, ol {
    padding-left: 0 !important;
    list-style-position: inside;
    margin-bottom: 20px;
    li {
      //padding-left: 0;
    }
  }
  ul {
    list-style-type: "- ";
    //li::marker {
    //  color: var(--v-primary-base);
    //}
  }
  a {
    text-decoration: none;
  }
}
