@import 'vuetify/themes';

.v-application {
  .cfr-container {
    padding-left: 8px;
    padding-right: 8px;
    @media #{map-get($display-breakpoints, 'md-and-up')} {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  .top-header {
    top: 64px;
  }

  .visibility-hidden {
    visibility: hidden !important;
  }

  // Start Генерируем классы для прозрачности текста и background
  @each $nameTheme, $theme in $themes {
    @each $nameColor, $color in $theme {
      @for $i from 1 through 9 {
        &.theme--#{$nameTheme} .#{$nameColor}--text.text--opacity-#{$i} {
          color: rgba($color, $i * 0.1) !important;
        }
        &.theme--#{$nameTheme} .#{$nameColor}.bg--opacity-#{$i} {
          background-color: rgba($color, $i * 0.1) !important;
        }
      }
    }
  }

  $addColors: ("black": map-get($shades, 'black'), "white": map-get($shades, 'white'));

  @each $nameColor, $color in $addColors {
    @for $i from 1 through 9 {
      .#{$nameColor}--text.text--opacity-#{$i} {
        color: rgba($color, $i * 0.1) !important;
      }
      .#{$nameColor}.bg--opacity-#{$i} {
        background-color: rgba($color, $i * 0.1) !important;
      }
    }
  }

  //@each $color in ('primary', 'secondary', 'accent', 'error', 'info', 'success', 'warning', 'black') {
  //  @for $i from 1 through 9 {
  //    .#{$color}-text.text--opacity-#{$i} {
  //      color: rgba(var(--v-#{$color}-base), $i * 0.1);
  //    }
  //  }
  //}

  // End Генерируем классы для прозрачности текста


  .before-none {
    &:before {
      display: none !important;
    }
  }

  .line-height-normal {
    line-height: normal !important;
  }

  .border-bottom-none {
    border-bottom: none !important;
  }
}
