//:root {
//  --scrollbar-track: initial;
//  //--scrollbar-thumb: initial;
//  //--scrollbar-thumb: #4c9aff;
//  --scrollbar-thumb: var(--v-primary-base);
//}

///* Works on Firefox */
//* {
//  scrollbar-width: thin;
//  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
//}
//
///* Works on Chrome, Edge, and Safari */
//*::-webkit-scrollbar {
//  width: 8px;
//  height: 8px;
//}
//
//*::-webkit-scrollbar-track {
//  background: var(--scrollbar-track);
//}
//
//*::-webkit-scrollbar-thumb {
//  background-color: var(--scrollbar-thumb);
//  //border-radius: .25rem;
//}

#app {
  * {
    /* Works on Firefox */
    scrollbar-width: 4px;
    //scrollbar-color: rgba(255, 255, 255, 0.32) initial;

    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      //background-color: #00000054;
      background-color: initial;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      //background-color: rgba(255, 255, 255, 0.32);
    }
  }

  &.theme--light,
  .theme--light {
    * {
      scrollbar-color: rgba(0, 0, 0, 0.32) initial;

      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.32);
      }
    }
  }

  &.theme--dark,
  .theme--dark {
    * {
      scrollbar-color: rgba(255, 255, 255, 0.32) initial;

      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.32);
      }
    }
  }
}
