<template>
  <div>
    <template v-for="(item, i) in content.blocks">
      <template v-if="item.type === 'header'">
        <h1 v-if="item.data.level === 1" :id="`b${i}`" :key="i" v-text="item.data.text" class="block-h" />
        <h2 v-if="item.data.level === 2" :id="`b${i}`" :key="i" v-text="item.data.text" class="block-h" />
        <h3 v-if="item.data.level === 3" :id="`b${i}`" :key="i" v-text="item.data.text" class="block-h" />
        <h4 v-if="item.data.level === 4" :id="`b${i}`" :key="i" v-text="item.data.text" class="block-h" />
        <h5 v-if="item.data.level === 5" :id="`b${i}`" :key="i" v-text="item.data.text" class="block-h" />
        <h6 v-if="item.data.level === 6" :id="`b${i}`" :key="i" v-text="item.data.text" class="block-h" />
      </template>
      <template v-if="item.type === 'paragraph'">
        <p :key="i" v-html="item.data.text" />
      </template>
      <template v-if="item.type === 'raw'">
        <div :key="i" v-html="item.data.html" />
      </template>
      <template v-if="item.type === 'list'">
        <ol v-if="item.data.style === 'ordered'" :key="i">
          <li v-for="(itemList, indexList) in item.data.items" :key="indexList" v-text="itemList" />
        </ol>
        <ul v-else :key="i">
          <li v-for="(itemList, indexList) in item.data.items" :key="indexList" v-text="itemList" />
        </ul>
      </template>
      <template v-if="item.type === 'delimiter'">
        <v-divider :key="i" class="my-6" />
      </template>
      <template v-if="item.type === 'image'">
        <div :key="i" class="my-2">
          <figure :class="[{'mx-n2 mx-md-n12': item.data.stretched}]">
            <img :src="item.data.file.url" class="rounded-sm w-full" />
          </figure>
          <div
            v-if="item.data.caption || item.data.author"
            class="d-flex flex-wrap mt-05 text-subtitle-2 text-md-body-1 letter-spacing-normal font-weight-regular"
          >
            <div class="mr-1 w-full w-md-auto" v-html="item.data.caption" />
            <div class="grey--text" v-html="item.data.author" />
          </div>
        </div>
      </template>
      <template v-if="item.type === 'quote'">
        <div :key="i" class="my-2">
          <blockquote class="blockquote" :class="{'text-center' : item.data.alignment === 'center'}">
            <p v-html="item.data.text" />
          </blockquote>
        </div>
      </template>
    </template>
  </div>
</template>

<script>
export default {
  name: 'EditorjsContent',
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>
