<template>
  <div class="mx-n05">
    <v-slide-group
      v-model="innerValue"
      active-class="primary"
      show-arrows
      class="d-flex justify-md-space-between alphabet-slide"
    >
      <v-slide-item
        v-for="(letter, i) in alphabet"
        :key="i"
        v-slot="{ active, toggle }"
        :value="letter"
      >
        <v-btn
          :input-value="active"
          class="ma-05 text-uppercase"
          fab
          :color="letter === innerValue ? '' : 'white'"
          :small="$vuetify.breakpoint.lgAndDown"
          :large="$vuetify.breakpoint.xlOnly"
          depressed
          :disabled="!!disabledLetters.find(l => l.toUpperCase() === letter.toUpperCase())"
          @click="toggle"
          v-text="letter" />
      </v-slide-item>
    </v-slide-group>
  </div>
</template>

<script>
export default {
  name: 'SlideSelectLetter',
  props: {
    value: {
      type: String,
      default: ''
    },
    disabledLetters: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    innerValue: ''
  }),
  computed: {
    alphabet() {
      return this.$store.state.app.alphabet
    }
  },
  watch: {
    // Handles internal model changes.
    innerValue(newVal) {
      this.$emit('input', newVal)
    },
    // Handles external model changes.
    value(newVal) {
      this.innerValue = newVal
    }
  },
  created() {
    if (this.value) {
      this.innerValue = this.value
    }
  }
}
</script>

<style scoped lang="scss">
.alphabet-slide {
  &::v-deep .v-slide-group__content {
    justify-content: space-between;
  }
}
</style>
