// Buttons
//.theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
//  background-color: #273743;
//}
// ToDO: при построении Kit'а заменить цвета на переменные

.v-btn--icon.v-btn--round:not(.v-btn--rounded) {
  border-radius: $btn-border-radius;
}

.theme--light.v-btn {
  &.black {
    color: map-get($shades, 'white');

    &::before {
      //background-color: rgba(40, 40, 40, 0.4);
      background-color: #838383;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &.white {
    color: map-get($shades, 'black');
    z-index: 1;
    //&.v-btn--disabled {
    //  background: transparent;
    //}
    &::before {
      background-color: map-get($grey, 'lighten-4'); // #f7f7f7
      z-index: -1;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}

.theme--light.v-btn {
  &.white--text {
    color: map-get($shades, 'black') !important;

    &::before {
      background-color: #F0F2F3;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &.v-btn--outlined {
      border-color: #F0F2F3;

      &.hover-primary {
        overflow: hidden;

        &:before {
          border-radius: 0 !important;
        }

        &,
        &:before
        //& .v-icon,
        //& .v-btn__content
        {
          transition-duration: 0.15s !important;
          transition-delay: 0s !important;
          transition-property: all !important;
          transition-timing-function: ease-in !important;
        }
        & .v-icon {
          transition-duration: 0s !important;
        }

        &:hover {
          border-color: var(--v-primary-base);
          color: map-get($shades, 'white') !important;

          &::before {
            background-color: var(--v-primary-base);
          }
        }
      }
    }
  }
}
