.v-expansion-panels {
  .v-expansion-panel-header {
    font-weight: 600;
    z-index: 1;

    &:before {
      z-index: -1;
    }

    &:hover {
      &:before {
        opacity: 1 !important;
      }
    }

    &__icon .v-icon {
      transform: rotate(-90deg);
    }
  }

  .v-expansion-panel--active > .v-expansion-panel-header--active .v-expansion-panel-header__icon:not(.v-expansion-panel-header__icon--disable-rotate) .v-icon {
    transform: rotate(0deg);
  }

  .v-expansion-panel--active {
    .v-expansion-panel-content {
      position: relative;
      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        z-index: 1;
      }
    }
  }

  &.theme--light {
    .v-expansion-panel-header {
      &:before {
        background-color: #F0F2F3 !important;
      }
    }

    .v-expansion-panel--active {
      .v-expansion-panel-content {
        &:before {
          background-color: #F0F2F3;
        }
      }
    }
  }

  &.theme--dark {
    .v-expansion-panel-header {
      &:before {
        background-color: rgba(255, 255, 255, 0.1) !important;
      }
    }

    .v-expansion-panel--active {
      .v-expansion-panel-content {
        &:before {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}
