/**
 * Vuetify Styles Overrides
 */

@import 'tooltip';
@import 'buttons';
@import 'menu';
@import 'expansion-panel';

// Flex min-width: 0
.v-application .d-flex {
  min-width: 0;
}

// Text Overrides
.v-application p {
  margin-bottom: 20px;
}

// List Component
//.v-list-item__title {
//  font-size: 0.975rem;
//  font-weight: 600;
//}

.v-list-item__icon {
  margin: auto;
  justify-content: center;
}

.v-list-item__action:first-child,
.v-list-item__icon:first-child {
  margin-right: 12px !important;
}

.v-application--is-rtl {
  .v-list-item__action:first-child,
  .v-list-item__icon:first-child {
    margin-right: 0 !important;
    margin-left: 12px !important;
  }
}

.v-list-group__header__append-icon .v-icon {
  font-size: 1rem;
}

.v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
  min-width: 0 !important;
}

.v-list-group--sub-group .v-list-group__header {
  padding-left: $spacer !important;
}

.v-list-group__items {
  margin-bottom: $spacer;
}

.theme--light.v-list-item {
  z-index: 1;

  &::before {
    background-color: #F0F2F3;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1 !important;
  }
}

.v-application {
  // Tables
  .v-data-table {
    table {
      //padding: 4px;
      //padding-bottom: 8px;

      th {
        white-space: nowrap;
        font-weight: 500;
      }

      td {
        //border-bottom: 0 !important;
      }

      tbody {
        tr {
          transition: background-color 0.2s;

          //&:not(.v-data-table__selected):hover {
          //  background-color: #F0F2F3 !important;
          //}
        }
      }
    }

    &.theme--light > .v-data-table__wrapper > table > thead > tr > th {
      color: map-get($shades, 'black');
    }
  }

  // Tabs
  .v-tabs-items {
    background-color: transparent !important;
  }

  .v-tabs-slider-wrapper {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
  }

  .v-tab {
    text-transform: none;

    &:not(.v-tab--disabled):not(.v-tab--active):hover {
      color: currentColor !important;
    }

    &::before {
      display: none;
    }
  }

  // Breadcrumbs
  &.theme--light {
    .v-breadcrumbs {
      .v-breadcrumbs__item {
        color: rgba(0, 0, 0, 0.4);

        &:not(.v-breadcrumbs__item--disabled) {
          &:hover {
            color: var(--v-primary-base);
          }
        }
      }
    }
  }

  // Inputs
  .v-input {
    font-weight: 500;

    &.v-text-field--solo {
      &.cfr-input--empty {
        .v-input__slot {
          box-shadow: none !important;
          background: transparent !important;
        }
      }
    }

    &.v-text-field--outlined .v-label {
      top: 15px;
    }
    &.v-text-field--outlined.v-input--dense .v-label {
      //top: 10px;
      top: 12px;
    }
    &.v-text-field--outlined .v-label--active {
      transform: translateY(-22px) scale(0.75);
    }
    &.v-text-field--filled .v-label--active, .v-text-field--full-width .v-label--active {
      transform: translateY(-8px) scale(0.75);
    }

    &.v-text-field--outlined .theme--light.v-label {
      color: rgba(0, 0, 0, 0.3);
    }
  }
  .v-text-field--full-width .v-input__prepend-outer, .v-text-field--full-width .v-input__prepend-inner, .v-text-field--full-width .v-input__append-inner, .v-text-field--full-width .v-input__append-outer, .v-text-field--enclosed .v-input__prepend-outer, .v-text-field--enclosed .v-input__prepend-inner, .v-text-field--enclosed .v-input__append-inner, .v-text-field--enclosed .v-input__append-outer {
    margin-top: 14px;
  }
  .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__prepend-outer, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__prepend-inner, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__append-inner, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__append-outer, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__prepend-outer, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__prepend-inner, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__append-inner, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__append-outer {
    margin-top: 11px;
  }

  .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__prepend-outer, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__prepend-inner, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__append-inner, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__append-outer, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__prepend-outer, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__prepend-inner, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__append-inner, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__append-outer {
    margin-top: 11px;
  }

  .v-navigation-drawer--fixed {
    z-index: 12;
  }

  .v-navigation-drawer__border {
    z-index: 1;
  }

  // Disabled ripple
  .v-ripple__container {
    display: none !important;
  }


  //.disabled-arrow-hide {
  .v-slide-group__next--disabled,
  .v-slide-group__prev--disabled {
    display: none !important;
  }

  //}


  //.v-text-field--full-width.v-input--dense:not(.v-text-field--solo) .v-input__prepend-outer, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo) .v-input__prepend-inner, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo) .v-input__append-inner, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo) .v-input__append-outer, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo) .v-input__prepend-outer, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo) .v-input__prepend-inner, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo) .v-input__append-inner, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo) .v-input__append-outer {
  //  margin-top: 10px !important;
  //}

  .v-list-item__action {
    .v-simple-checkbox {
      display: flex;
    }
  }
}
