<template>
  <ui-demo title="Chips" :snippets="snippets">
    <div class="mt-2">
      Please checkout the <a class="font-weight-bold" href="https://vuetifyjs.com/components/chips" target="_blank">Full
      Documentation</a>
    </div>
  </ui-demo>
</template>

<script>
import UiDemo from '@/components/demo/UIDemo'

// Snippets
import ClosableSnippet from '!!raw-loader!./_examples/chips/closable.vue'
import ColoredSnippet from '!!raw-loader!./_examples/chips/colored.vue'
import FilterSnippet from '!!raw-loader!./_examples/chips/filter.vue'
import LabelSnippet from '!!raw-loader!./_examples/chips/label.vue'
import OutlinedSnippet from '!!raw-loader!./_examples/chips/outlined.vue'
import SizesSnippet from '!!raw-loader!./_examples/chips/sizes.vue'
import SlotSnippet from '!!raw-loader!./_examples/chips/slot.vue'
import InSelectsSnippet from '!!raw-loader!./_examples/chips/inSelects.vue'

export default {
  components: {
    UiDemo
  },
  // middleware: ['auth', 'scopes'],
  meta: {
    middlewareScopes: ['role:developer']
  },
  data: () => ({
    snippets: [
      {
        title: 'Closable',
        snippet: ClosableSnippet
      },
      {
        title: 'Colored',
        snippet: ColoredSnippet
      },
      {
        title: 'Filter',
        snippet: FilterSnippet
      },
      {
        title: 'Label',
        snippet: LabelSnippet
      },
      {
        title: 'Outlined',
        snippet: OutlinedSnippet
      },
      {
        title: 'Sizes',
        snippet: SizesSnippet
      },
      {
        title: 'Slot',
        snippet: SlotSnippet
      },
      {
        title: 'In Selects',
        snippet: InSelectsSnippet
      }
    ]
  })
}
</script>
