<template>
  <div class="position-relative">
    <div class="scroll-shadow-top" :style="styleBlockShadow"></div>
    <div class="overflow-y-auto"
         :style="styleMaxHeight"
         v-scroll.self="onScroll">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "ContentScrollShadowTop",
  props: {
    maxHeight: {
      type: [Number, String],
      default: 300
    }
  },
  data: () => ({
    offsetTop: 0
  }),
  methods: {
    onScroll(e) {
      this.offsetTop = e.target.scrollTop;
    }
  },
  computed: {
    styleBlockShadow() {
      return {
        height: this.offsetTop > 0 ? this.offsetTop < 20 ? this.offsetTop + "px" : "20px" : 0,
        opacity: this.offsetTop > 0 ? this.offsetTop < 20 ? 100 / this.offsetTop : 1 : 0
      };
    },
    styleMaxHeight() {
      return {
        maxHeight: typeof this.maxHeight === "number" ? `${this.maxHeight}px` : this.maxHeight
      };
    }
  }
};
</script>

<style scoped lang="scss">
.scroll-shadow-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  //background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}

.theme--light {
  .scroll-shadow-top {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }
}
.theme--dark {
  .scroll-shadow-top {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  }
}
</style>
