<template>
  <v-menu
    v-model="menu"
    bottom
    left
    offset-x
    nudge-left="8"
    class="cfr-menu-actions"
    transition="slide-y-transition"
  >
    <template #activator="{ on, attrs }">
      <v-btn
        :class="menu ? 'primary' : 'black--text'"
        class="cfr-menu-actions__btn"
        float
        dark
        v-bind="{ ...attrs, ...$attrs }"
        icon
        :ripple="false"
        v-on="on"
      >
        <v-icon v-text="'$burgerSmall'" />
      </v-btn>
    </template>

    <v-list class="cfr-menu-actions__list pa-0" v-bind="listAttrs">
      <template v-for="(item, index) in items">
        <v-list-item :key="index" @click="click(item)" :ripple="false">
          <v-list-item-title>{{ item.title }}</v-list-item-title>
          <v-list-item-icon v-if="item.icon">
            <v-icon v-text="item.icon.name" :color="item.icon.color" />
          </v-list-item-icon>
        </v-list-item>
        <v-divider v-if="index < items.length - 1" :key="`d-${index}`" />
      </template>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: "cfr-menu-actions",
  props: {
    items: {
      type: Array,
      required: true,
    },
    listAttrs: {
      type: Object,
      required: false,
    },
  },
  data: () => ({
    menu: false,
  }),
  methods: {
    click(item) {
      if (item.action) {
        this.$emit(item.action);
      }
    },
  },
};
</script>

<style scoped lang="scss">
.cfr-menu-actions {
  &__btn {
    &.primary {
      &::before {
        opacity: 0 !important;
      }
    }
  }
}

.theme--light {
  &.cfr-menu-actions {
    &__list {
      ::v-deep {
        .v-list-item {
          &:hover::before {
            opacity: 1;
          }

          &:focus::before {
            opacity: 0.7;
          }

          &--link::before {
            background-color: #f0f2f3;
          }

          * {
            z-index: 1;
          }
        }
      }
    }
  }
}
</style>
