<template>
  <v-card class="ma-6 rounded-xl pa-0 px-8 px-xl-15" outlined :elevation="2">
    <v-card-title
      class="flex-column align-start px-0 py-8 text-h4 font-weight-bold"
    >
      <div class="mb-8">
        <span>Комметарии</span>&nbsp;
        <span v-if="count" class="black--text text--opacity-4" v-text="count"/>
      </div>
      <commentAdd :postId="parseInt($route.params.id)" />
    </v-card-title>
    <v-divider />
    <v-card-text class="px-0">
      <template v-if="items.length === 0">
        <div
          class="
            mt-3
            px-4
            d-flex
            align-center
            justify-center
            text-center text-body-1
          "
          style="height: 124px"
        >
          Здесь в скором времени появтятся сообщения.<br
          class="d-none d-md-block"
        />
          Вы можете добавить его прямо сейчас!
        </div>
      </template>
      <div>
        <template v-for="(item, i) in items">
          <commentCard
            :key="item.id"
            :item="item"
            class="my-1 py-2"
            with-children
          />
          <v-divider v-if="i+1 < items.length" class="my-4"/>
        </template>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "CardComments",
  props: {
    postId: {
      type: Number,
      required: true
    }
  },
  data: () => ({
    // items: []
  }),
  computed: {
    items() {
      return this.$store.getters['post/getCommentsByParentId'](null)
    },
    count() {
      return this.$store.getters['post/getCountCommentsByPostId'](parseInt(this.$route.params.id))
    },

  },
  async fetch() {
    // this.items = await this.$api.posts.getPostComments(parseInt(this.$route.params.id));
    const comments = await this.$api.posts.getPostComments(parseInt(this.$route.params.id));
    this.$store.commit('post/setComments', comments)
  }
};
</script>
